[2018-11-08 00:17] mbleigh commented on #264
@judoole that looks like a bug, thanks for the info.

[2018-11-08 00:19] kevinajian commented on #292
Hi @bnfrnz and @aminelaadhari ,

Can you make sure the firebase-tools version is up to date and try again?

[2018-11-08 00:42] kevinajian commented on #312
Hi @psimondk and @bungeye,

Can you provide more information on your issue? What are the steps you're doing, sample code you're trying to deploy? Thanks.

[2018-11-08 07:46] bnfrnz commented on #292
I'm on `firebase-tools@6.0.1` and, in case it matters at all, on Cloud SDK version 224.0.0.

`firebase serve` still throws the same warning:

[code]

[2018-11-08 13:00] aminelaadhari commented on #292
@kevinajian I am using the last version. I did uninstall firebase-tools and reinstall it multiple times to be sure that I am using the correct version:

[code]
[code]

[2018-11-09 08:07] bungeye commented on #312
OK.  New basic function. Had a typo in it the first time, so failed with an error. Fixed the typo and redeployed using:
`firebase deploy --only functions:deleteAgency` => get a successful deploy message

Run the function again, same error as previous as updated function not run, previously deployed code was run. Deploy a couple more times and updated function is eventually "active".
Sorry if that

[2018-11-09 08:17] LetsSupport commented on #341
I had the same issue. However, I did have typescript 3+ installed. Updating the tslint from 5.8 to 5.11 fixed the it for me.

[2018-11-09 08:29] AndrewProteo commented on #312
go to the google cloud functions console (not firestore console) and delete it from there, i had the same problem, functions do not get deleted even though it says it did successfully.

[2018-11-10 23:02] laurentpayot commented on #196
@juddflamm is this helpful to you? https://firebase.googleblog.com/2017/04/easier-configuration-for-firebase-on-web.html

[2018-11-11 15:17] richiedunk commented on #300
Hi, would really appreciate an update on this, seems like a pretty important feature. Cheers.

[2018-11-13 17:15] schmidt-sebastian opened #346 "Make it easier to access the `firestore` instance"
It's currently pretty involved to write code that accesses the Firestore API from functions. The FIrestore instance can be extracted from the DocumentedReference that is part of  `change` (such as `change.after.ref.firestore`), but it would be nice if I `functions.firestore` was a proper Firestore instance.

A lot of our users "solve" this problem by including their own dependency on Firestore, bu

[2018-11-13 17:16] schmidt-sebastian commented on #346
RE: https://github.com/googleapis/nodejs-firestore/issues/452#event-1963142012

[2018-11-13 18:12] thechenky commented on #345
@zanecidan can you provide more info on which triggers you are using, and paste the relevant parts of your code? From looking at the numbers, 73 out of 400,000 is still a low percentage of error, can you give more context on what issues this is causing you?

[2018-11-13 20:32] rchan commented on #263
Hey @laurenzlong is there any update to this in last 2 months? I'm experiencing the same issues, cold start times of around 8 to 10 seconds.

I've done all the optimisation suggestions such as lazy loading imports etc. I've also noticed that pure cloud function cold start has actually improved in past 6 months, especially when moving to Node 8. However, the point where you make the first call to F

[2018-11-13 21:17] kevinajian commented on #312
@AndrewProteo the delete issue should be fixed with https://github.com/firebase/firebase-tools/issues/982.

If possible, can you share your `firebase-debug.log`?

[2018-11-14 04:31] zanecidan commented on #345
@thechenky  ya thankfully the percentage of error is extremely low but it still affected some of our users. The cloud function is just a simple post API like below

`exports.functionName = functions.https.onRequest((req, res) => {

    const apiKey = req.header('apiKey');
    if(apiKey != constant.apiKey) res.send(400);
    if(req == null) res.send(400);

    // Function logic here

     res.send(

[2018-11-14 11:03] nikhilag commented on #311
I don't think this issue should be closed until the issue has been fixed in firebase library.

[2018-11-14 11:35] stasbar commented on #311
That's right. I hope my workaround worked in your case too.

[2018-11-14 18:23] nikhilag commented on #311
Yes it did. Thanks!
But just need to be sure that my if else condition will work when deployed to production environment as well.

[code]

[2018-11-16 08:03] AndrewProteo commented on #312
@kevinajian been off for a bit will give it a bash with the --force option and report back. i assume based on the firebase/firebase-tools#982. the --force  option is the way to do it?

[2018-11-16 18:19] kaleidagraph commented on #327
On further inspection this seems to be a problem with my installation of bash and is not on the firebase end. This thread can now be closed.

[2018-11-19 22:29] kevinajian commented on #312
@AndrewProteo the `--force` option is no longer needed with https://github.com/firebase/firebase-tools/pull/1007. Just make sure you've updated and deletes should work.

[2018-11-19 22:57] kevinajian commented on #327
Thanks for the update! Will close out.

[2018-11-19 22:57] #327 closed

[2018-11-19 23:56] kevinajian commented on #292
@aminelaadhari Looking into it, it seems like it's only a log message. Does it break the emulator in some way?

I'll work on updating the warning separately, just want to make sure I'm addressing the right issue.

[2018-11-20 06:38] aminelaadhari commented on #292
@kevinajian thanks. I think it's not just a log message because it crashes when I use async/await

[2018-11-20 07:07] bnfrnz commented on #292
As far as I'm concerned, this is just a leftover warning log that should be removed. Everything works perfectly fine, including async/await code.

[2018-11-20 13:04] draperunner commented on #264
I was also struggling with this in my Yarn workspace project. The functions "project" is one of the packages in the repo, like this:
[code]

I expected `.runtimeconfig.json` to be in `my-project/packages/functions`, but it had to be in the root folder `my-project`! Not what I expected, and it is weird that is has to be this way.

[2018-11-20 15:38] aminelaadhari commented on #292
@laurentpayot thanks for the tip. thas solved the issue for me.
@kevinajian you can discard my message, thanks!

[2018-11-20 21:30] formster-biz opened #347 "Cloud Functions Not Working for Angular Project"
Trying to implement Firebase Cloud Functions in my Angular app, and getting errors, even after changing my firebase.json file per these instructions https://github.com/firebase/firebase-tools/issues/822#issuecomment-406754186 from @laurenzlong

### Version info
**firebase-functions:** 2.1.0

**firebase-tools:** 6.1.0

**firebase-admin:** 6.2.0

### Test case

I am working in an existing Angular pr

[2018-11-20 22:38] formster-biz commented on #347
Update: A little over 2 hours now since my 2nd update was made, but the request still returns the old message.  Also, throughout this process, I've been trying to deploy the updated function by name (even though it's the only one I have) by using "firebase deploy --only functions:helloWorld", but doesn't seem to be making a difference.

$ firebase deploy --only functions:helloWorld

=== Deploying

[2018-11-20 22:49] thechenky commented on #345
Thanks for that update, @zanecidan. I would suggest adding some logic into your code to make it more resilient to these rare failures - perhaps a retry of some sort? Just like in any system, we cannot guarantee 100% reliability, so making your code handle these errors when they come up would be the best solution here.

[2018-11-20 22:52] kevinajian commented on #347
@formster-biz I noticed you're using typescript. Are you compiling your code after each change before you deploy?

[2018-11-20 23:16] formster-biz commented on #347
Hi, I was just looking at that!  I just found where the js file is & I changed the function in that file directly and it updated the cloud function within 1 minute!  What step am I missing that my ts file isn't compiling to the js file?

[2018-11-21 00:08] formster-biz commented on #347
Ok, so I found this: https://firebase.google.com/docs/cli/#predeploy_and_postdeploy_hooks which made me realize that this might be due to me changing my predeploy array in the firebase.json file?

But it only works when I have it like this:

[code]

And I get errors with it like this:

[code]
(same for `$RESOURCE_DIR` )

[2018-11-21 17:30] formster-biz commented on #347
After much trial and error, I found that adding
` "typeRoots": ["node_modules/@types"]`
to "compilerOptions" in the tsconfig.json file **from the functions folder**  resolved all errors for me.

I haven't seen this issue or solution anywhere after tons of searching. I basically just found this solution with luck and key word recognition (realized it was in my project's main tsconfig.json file but

[2018-11-21 18:05] eleith opened #348 "firestore onUpdate functions don't trigger if collection doesn't exist upon deploy"
### Version info

**firebase-functions:**
2.0.5

**firebase-tools:**
5.1.1

**firebase-admin:**
6.0.0

### Steps to reproduce

1. deploy a firebase firestore onUpdate function trigger (on a collection X that doesn't exist yet)
2. on the client, create a document on a non-existant collection X (the collection X should get created)
3. update the document from the previous step
4. the firestore onUpd

[2018-11-21 20:15] kevinajian commented on #263
Thanks for the feedback. As Lauren mentioned, making Firestore cold starts faster is a difficult thing to do and will take time, so we appreciate your patience here.

That being said, is it possible to share your code? If there are a lot of operations in global scope then cold starts will be slower.

[2018-11-23 14:01] rchan commented on #263
@kevinajian the only global scope items I have left are the Firebase ones
[code]
Those functions I have that don't use Firestore, they don't have this issue, cold starts are 2s max and mostly around 1s. Some of these even make API calls to other systems.

It's only the ones that uses Firestore has this problem and if I put console.log before and after the Firestore call, it clearly shows that's wh

[2018-11-26 04:15] Crazometer commented on #347
Adding the `typeRoots` option can make typescript less strict.

It looks like you're using `jQuery` which is for the browser. The functions folder should just contain server side packages. If you have a super specific reason to use `jQuery` in your cloud functions then you can add `"lib": ["dom"]` to your tsconfig.

[2018-11-26 18:40] eleith commented on #348
can not replicate any longer.

[2018-11-26 18:40] #348 closed

[2018-11-28 22:53] kevinajian commented on #334
We've added the failed function retry in https://github.com/firebase/firebase-tools/pull/1005. Hope that will help address your issue.

[2018-11-28 22:53] #334 closed

[2018-11-28 23:33] thechenky commented on #337
@mrnagydavid thanks for the update! Glad things are working now. I'm going to close this out, but please open another issue if you encounter this problem again.

[2018-11-28 23:33] #337 closed

[2018-11-28 23:36] thechenky commented on #345
@zanecidan since there's been no activity here in some time, going to close this out. Please feel free to open another issue if you feel this needs more discussion, but I feel adding retries and making your code resilient would be the best course of action here.

[2018-11-28 23:36] #345 closed

[2018-11-28 23:44] thechenky commented on #321
Closing this out as there has been no activity here for a while. @amitbravo if Lauren's solution did not solve your problem, feel free to open another issue.

[2018-11-28 23:44] #321 closed

[2018-11-29 17:05] thechenky commented on #314
@Crazometer is correct. It also looks like you have a predeploy hook for typescript (lint) but are actually using javascript. Closing this out.

[2018-11-29 17:06] #314 closed

[2018-11-29 17:11] thechenky commented on #310
@rcwestlake checking back in here - let us know if you are still having this problem, otherwise I'll close this out in a couple days. Thanks!

[2018-11-29 17:14] thechenky commented on #303
Hi @dooboolab thank you for the suggestion and the kind words! I have made sure to document your feature request internally. Closing this out.

[2018-11-29 17:14] #303 closed

[2018-11-29 18:07] dylanjmcdonald commented on #54
@rjhuijsman An `onCreate` event handler for custom auth tokens is definitely something I'd love to see implemented as well. I understand it's not a simple implementation, so thanks for keeping it in mind.

[2018-11-29 18:07] dylanjmcdonald commented on #54
@rjhuijsman An onCreate event handler for custom auth tokens is definitely something I'd love to see implemented as well. I understand it's not a simple implementation, so thanks for keeping it in mind.

[2018-11-29 18:55] thechenky commented on #299
@gbgelado any updates? Seems like the newest version of the CLI should solve your issue. Closing this out - if you still experience this problem, feel free to open another issue. Thanks!

[2018-11-29 18:55] #299 closed

[2018-11-29 19:02] thechenky commented on #319
@npomfret closing this out as it seems like others have resolved this issue, but feel free to open another bug if you're still having problems.

[2018-11-29 19:02] #319 closed

[2018-11-29 19:19] thechenky commented on #300
Hi everyone, thanks for your patience! This feature request is unfortunately more involved than we originally thought, and will take longer to implement. However, we are doing our best to move this forward.

Internal bug reference: 68792946

[2018-11-29 19:30] thechenky commented on #281
@jacobg any updates on this?

[2018-11-29 19:34] thechenky commented on #274
@fxfactorial @diegogarciar did @bklimt's suggestions resolve your issues?

[2018-11-29 19:38] diegogarciar commented on #274
as @bklimt suggester  using .then() as
`return userGroupsRef.once("value").then(snapshot =>{
})`
solved the issue perfectly, I adopted the syntax everywhere else. Thanks by the way @bklimt

[2018-11-29 19:39] fxfactorial commented on #274
yes, thank you!

[2018-11-29 19:39] #274 closed

[2018-11-29 19:59] thechenky commented on #274
Glad to hear :) thanks for closing. As always, feel free to open another issue if you encounter any other problems!

[2018-11-29 20:01] thechenky commented on #270
Internal bug reference: 110432691

[2018-11-29 20:06] thechenky commented on #268
@sambegin thanks for chiming in! @shaunc869 please let us know if your issue has been fixed with the latest firebase-tools.

[2018-11-29 20:11] thechenky commented on #249
@vincentlaucy are you still having this issue? Please make sure you're using the latest firebase-functions and firebase-tools versions.

[2018-11-29 20:15] thechenky commented on #265
@dauledk thanks for reporting, closing this out as there seems to be a workaround. Feel free to open a new issue if you're still encountering problems.

[2018-11-29 20:15] #265 closed

[2018-11-29 20:20] dauledk commented on #265
@thechenky It's ok with me if you close the issue, but I really think this is a weak point of the firebase functions platform. It's so cool if you ask me, when you **don't** have to initialize the app with credentials. The barrier to entry is just much lower for new people. If however initializing the application with certificates when doing auth related stuff is the recommended behaviour, then I

[2018-11-29 20:40] sambegin commented on #268
@thechenky Think I already answer that question on July 12th

[2018-11-29 21:19] thechenky commented on #268
Right, I just didn't want to close the issue until I heard from the original poster

[2018-11-29 21:30] thechenky commented on #235
@Flypex as others pointed out, make sure to have the dependency declared in your package.json file inside your functions directory, then run `npm install .` from the same directory. I'm going to close this out now. Please file another issue if you feel you're still getting errors. Thanks everyone.

[2018-11-29 21:30] #235 closed

[2018-11-29 21:49] thechenky commented on #223
Closed for inactivity.

[2018-11-29 21:49] #223 closed

[2018-11-29 21:56] thechenky commented on #317
Internal bug reference: 111259711

[2018-11-29 23:36] thechenky commented on #128
Thank you for the feature request. This is already in our internal issue tracker, so will close this out.

Internal bug reference: 69807672

[2018-11-29 23:36] #128 closed

[2018-11-30 01:54] freduardch commented on #280
You should use a wildcard after the collection, like this:

export const addData = functions.firestore.document(**'users/{userId}'**).onCreate((snap, context) => {
  const newUser = snap.id
  return snap.ref.set({
    'nickname': 'usernickname'
  }, { merge: true})
})

[2018-12-01 02:20] soyanakagawa commented on #341
I think, this issue should be closed.

[2018-12-01 17:54] #341 closed

[2018-12-02 12:58] ohtangza commented on #300
@thechenky Thanks for the info. At least, the community would be sure that this feature eventually will be shipped.

[2018-12-03 00:45] rcwestlake commented on #310
@thechenky - not aware of it still being an issue.

[2018-12-03 22:40] thechenky commented on #270
@timothegenzmer is this issue still happening for you?

[2018-12-04 07:58] mad-it opened #350 "https functions error not according to spec"
### Version info

**firebase-functions:**
2.1.0
**firebase-tools:**
6.1.1

### Test case

According to the protocol specified [here](https://firebase.google.com/docs/functions/callable-reference#response_body)

As you can see in the following line in the https-functions [here](https://github.com/firebase/firebase-functions/blob/master/src/providers/https.ts#L167) "message" is an optional field whi

[2018-12-05 18:42] adnan-wsib commented on #80
Same problem here. I'm on the blaze plan and using firebase serve works perfectly fine. The deployed URL gives an ENOTFOUND error :(

[2018-12-05 20:32] inorganik opened #351 "Deployed functions req.method not correct for HEAD requests"
### Version info

**firebase-functions:** 2.0.3

**firebase-tools:** 6.1.1

**firebase-admin:** 6.0.0

node engine: bug appeared in 6 and 8
express: 4.16.3

### Test case

Making a head request with `curl -I` to an express route, while serving locally the `req.method` is 'HEAD'. Once deployed however, it is 'GET'. This is an issue, because I am tracking downloaded files and I don't want to count h

[2018-12-06 00:53] fabienthiombiano opened #352 "Path must be a string error from firebase, firebase-functions"
This is a bizarre issue I am facing with such basic cloud function. I have looked at everywhere and I don't know what is wrong with the path package. Anyone has a solution to this? I am on MacOS HighSierra. Thanks

### Version info

**firebase-functions:**
`2.1.0`

**firebase-tools:**
6.1.2

**firebase-admin:**
6.0.0

### Steps to reproduce

    const functions = require('firebase-functions');

[2018-12-06 05:33] inorganik commented on #351
Guessing this is due to the nginx proxy. I am getting proper head responses, but how can I detect this on the backend? I NEED to detect head requests.

[2018-12-07 18:57] inmogr commented on #131
I have different issue but at the same stage, I can only share portion of the code.
I have setup some global paths in the `tsconfig.json` like this
[code]

and then added these to the `tslint.json` not for implicit module dependency like this
[code]

so im getting this error

[code]

[2018-12-07 19:00] inmogr opened #353 "Error: Error parsing triggers: Cannot find module 'example'"
I have an issue at the stage of deployment, I can only share portion of the code.
I have setup some global paths in the `tsconfig.json` like this
[code]

and then added these to the `tslint.json` not for implicit module dependency like this
[code]

when running `firebase deploy` it start compiling then when almost ready to deploy im getting this error

[code]

[2018-12-07 23:16] kevinajian commented on #351
Hi @inorganik,

Thanks for your feedback. Currently `HEAD` is not supported as you noted, and as listed in the [docs](https://firebase.google.com/docs/functions/http-events).

We are tracking this issue internally (reference 120678423).

[2018-12-07 23:18] inorganik commented on #351
Thanks Kevin... what about a custom header in the meantime? `x-request-method`? Is there any other way to detect HEAD requests?

[2018-12-08 00:36] kevinajian commented on #351
Custom headers should work. After you set it you should be able to get the value with `req.get('x-request-method')`.

[2018-12-08 01:33] inorganik commented on #351
Sorry I think you misunderstood, I’m not making the requests... I don’t
have control over the headers. I was suggesting that nginx set a custom
header because it is passing a HEAD to the function as a GET.

On Fri, Dec 7, 2018 at 5:36 PM Kevin Jian <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2018-12-08 01:49] jasondark93 commented on #299
This fixed it for me, thanks!

[2018-12-10 11:53] motin commented on #342
Example of warning omitted:
[code]

This is with the following package.json contents:
[code]

[2018-12-10 14:50] arefeh-b commented on #80
Same problem here with the blaze plan! Any solution?

[2018-12-11 05:15] inorganik commented on #351
Thanks to Joel in Firebase support, I discovered that this issue is caused by the **hosting rewrite** I was using, because I wanted to have the endpoint under my own domain.

If I make the request directly to function (under cloudfunctions.net), without the rewrite, I am able to detect the HEAD. request. So it turns out it is the rewrite that is hiding the request method.

**Please keep this issue

[2018-12-11 19:41] kevinajian commented on #351
Thanks for the update. I'll keep this open.

[2018-12-11 20:13] stevebrush commented on #161
Curious why this issue was closed?

[2018-12-11 20:44] #347 closed

[2018-12-11 23:03] mbain opened #354 "Installation causes warning regarding firebase-admin"
### Version info

**firebase-functions:**
2.1.0
**firebase-tools:**
6.1.2
**firebase-admin:**
6.3.0
### Test case

With firebase-admin 6.3.0 installed, when installing firebase-functions 2.1.0 via nom, it issues a warning stating that firebase-functions requires firebase-admin@~6.0.0, but that no version of firebase-admin is installed.

### Steps to reproduce

1) Install firebase-admin@6.3.0 via n

[2018-12-12 01:40] buzzware commented on #161
@stevebrush It was closed in January. That is a good question, but right now my only issue is the speed with a couple of low traffic sites in development. It seems to perform ok when under load. My issue above turned out to be the DNS.

Can anyone else comment on performance under load?

[2018-12-12 18:13] thechenky commented on #333
@bungeye did you open another issue for that? I think I may have seen it pop up somewhere but can't find it now. @joelgetaction please let me know if my suggestions helped!

[2018-12-12 18:40] Olovorr commented on #80
Same. We have blaze account and we still get this error - everything was working normally for more than a month, and then this Monday it suddenly stopped working, without us changing anything :(

Any solution would be really appreciated!

[2018-12-12 19:06] hiranya911 commented on #311
I'm not able to reproduce this in the Functions emulator. Trying with the production environment next. My function:

[code]

Emulator output:
[code]

[2018-12-12 19:39] hiranya911 commented on #311
I have a repro in production environment:

[code]

It seems `FirebaseApp` is getting initialized before the environment variable becomes visible. @laurenzlong any idea how that could happen

[2018-12-12 19:49] hiranya911 commented on #311
I can confirm that simply requiring `firebase-functions` before `initializeApp()` fixes the issue.

[code]

Looks like in the prod environment it is the `firebase-functions` package that sets the environment variable. So if you initialize Admin SDK before requiring that, your code is going to break.

[2018-12-13 02:50] mlejva opened #355 "Unable to deploy functions with Typescript"
### Version info

**firebase-functions:**
2.1.0

**firebase-tools:**
6.1.2

**firebase-admin:**
6.4.0

### Test case

When using Typescript together with firebase functions I'm unable to deploy any code because of the following error:
[code]

Typescript version: 3.2.2

### Steps to reproduce

functions/index.ts
[code]

Run `$ firebase deploy --only functions`

Result
[code]

### Were you able to s

[2018-12-13 17:03] malikasinger1 opened #356 "server to server auth failure - firebase - dialogflow - actions on google - user entity v2"
here is the code I'm using for getting access-token for making session entity as described here: https://dialogflow.com/docs/reference/api-v2/rest/v2/projects.agent.sessions.entityTypes
previously the code was working find but suddenly it stopped working and now it is returning access-token as undefined in firebase functions, here is the code which is not working:

    export const rough = functio

[2018-12-13 20:33] kevinajian commented on #355
I was unable to reproduce the issue. Is it possible to share more of your code / debug info?

[2018-12-13 22:30] mlejva commented on #355
Turns out it might be an Algolia issue since it's happening only if I'm exporting following variable
[code]

Currently my `functions/src/index.ts` file looks following:
[code]

My `package.json`
[code]

When running `npm run deploy` I get the following error
[code]

[2018-12-14 20:36] ro-damasceno commented on #284
I got the same error and solved changing:

[code]

to

[code]

That way, I could see the problem, I had a missing dependency. After repairing it I moved back to providedIn ...

[2018-12-14 22:36] thechenky commented on #284
@ro-damasceno thank you for providing your solution. I'm going to close this out as it doesn't seem to be a firebase-functions related problem.

[2018-12-14 22:36] #284 closed

[2018-12-14 22:47] thechenky commented on #352
Hi @fabienthiombiano, it looks like you're using the wrong property to access the filepath from the event object - you should use `event.name` instead of `event.filePath` as per this documentation: https://firebase.google.com/docs/storage/extend-with-functions. Can you try that and let me know if that solves your issue?

[2018-12-14 22:56] thechenky commented on #353
Hi @inmogr, can you provide your `firebase.json` file? I'm also curious to see how your `package.json` is set up particularly in the `scripts` section. Are you compiling your code as part of the predeploy script? Your `firebase.json` should contain something like this:

[code]

Let me know if this helps.

[2018-12-14 23:08] thechenky commented on #354
Hi @mbain! This is intended behavior as peer dependencies are not meant to be installed automatically by npm for compatibility issues. The version of admin that is required by this version of firebase-functions starts with ~, which [matches the most recent minor version](https://stackoverflow.com/a/22345808). It will complain if you have anything other than 6.0.x installed. You need to uninstall 6

[2018-12-14 23:34] thechenky commented on #351
Hi @inorganik thanks for the feature request. We are trying not to keep Github issues open if we're not actively working on them and they are not actual bugs. However, we hear you that this support should exist. I have filed an internal ticket for this request, reference bug 121049520. I'm going to close this out meanwhile.

[2018-12-14 23:34] #351 closed

[2018-12-15 12:57] joshdifabio opened #357 "Firestore trigger: `context.params` sometimes not populated"
I have had a few Cloud Firestore triggers invoked today with empty `context.params`. This is an intermittent issue, and today is the first time I've seen this happen. I did not deploy any changes to my cloud functions prior to this issue starting.

### Version info

**firebase-functions:** 2.0.5

**firebase-tools:** 6.1.1

**firebase-admin:** 6.0.0

### Test case

I have verified the bug by loggin

[2018-12-15 13:37] joshdifabio commented on #357
I am discovering more and more occurrences of this issue today on various Firestore collections. Needless to say this is a very serious problem for any event driven application which utilises Firestore.

[2018-12-15 13:43] joshdifabio commented on #357
Another repro (I am now also logging `snapshot.after.ref.path`):

[code]

[2018-12-15 14:13] rmacfie commented on #357
A workaround that seems to work is to use `snapshot.id` and `snapshot.ref.parent.id`, etc. As described here:
https://stackoverflow.com/questions/53792140/cloud-functions-context-params-return-undefined

[2018-12-15 15:24] iouhammi opened #358 "Cannot read property 'name' of undefined"
Hello,

I start getting this error on my cloud functions logs interface:
[code]

This is happening sometimes but frequently. I set a console log on the top of my function, but it doesn't seem to be logged, so the function does not even started.

**Environment:**

[code]

This issue begins in the same time as the issue mentioned here [357](https://github.com/firebase/firebase-functions/issues/357).

[2018-12-15 15:56] maxnucci commented on #358
This is also affecting us. Alosng with #357

[2018-12-15 16:09] rmacfie commented on #358
Same for us.

And as @iouhammi wrote, this error occurs before the functions enters our code, which makes it much harder to find a work-around.

[2018-12-15 17:59] wsh commented on #358
Hey, we're so sorry about this; just so you know, it's a [known issue](https://status.firebase.google.com/incident/Functions/18044) and we're rolling back now to fix it. Thanks for your patience.

[2018-12-16 02:11] vincentlaucy commented on #249
yes with latest firebase-tools `6.1.1` & firebase-functions `2.1.0`

seems the validations of modules inside package.json happen after archive? I can't find validation part of code in `firebase-tools`.
So I always end up either file too large (including node_modules) or failed in validations (firebase-funcitons misisng etc)

[2018-12-16 05:47] inmogr commented on #353
Hi @thechenky , thanks for replying to my issue, I thought no one will.

my `firebase.json` is exactly as the code you have shared, regarding the `package.json` I'd say it is not relevant to the issue because the `example` is not a package but a global path. In my `tsconfig.json` I have registered the path and in `tslint.json` I have add it to the implicit packages.

Also, here is a response to my

[2018-12-16 09:31] btribouillet commented on #357
[https://status.firebase.google.com/incident/Functions/18044](https://status.firebase.google.com/incident/Functions/18044)

[2018-12-16 10:40] iouhammi commented on #358
The issue seams to be solved on my side, as soon as [the incident](https://status.firebase.google.com/incident/Functions/18044) was solved by firebase.

[2018-12-16 15:04] brianchirls commented on #62
@laurenzlong If this is expected behavior, it should be reflected in the [Firebase Authentication triggers documentation](https://firebase.google.com/docs/functions/auth-events). There is no mention of the possibility of multiple executions, nor of the need for idempotency.

In fact, the document referenced above specifically mentions sending a welcome email as a use case, which is decidedly *not*

[2018-12-16 15:12] joshdifabio commented on #358
Firestore is an amazing product, but this incident is extremely worrying given the explanation on the incident page:

How was this able to happen? Are you guys not testing the whole stack before you deploy to production? I would appreciate some reassurance here, as would others I'm sure.

Furthermore, I hope you appreciate the severity of this incident. Applications which use Firestore and depend

[2018-12-16 15:55] rmacfie commented on #358
I agree with @joshdifabio. The optics here are quite bad.

1. Rolling something out on a Friday afternoon

2. Not monitoring what must have been a significant increase in errors for a specific trigger type right after the rollout

3. The very vague and almost nonchalant explanation.

As mentioned, due to the mechanics of the triggers this has likely caused a lot of corrupted state and nasty errors

[2018-12-16 17:12] ahadortiz commented on #280
any solution to this issue?
I have the same problem

[2018-12-17 11:58] holyspidoo commented on #354
The problem is that Firebase documentation found at [here](https://firebase.google.com/docs/functions/get-started) says to do this:
[code]

That will always cause the issue.

[2018-12-17 16:34] thechenky commented on #338
Hi @elebitzero thank you for your feedback. I'm glad you were able to get your issue resolved. I have noted your documentation suggestions in our internal bug tracker, thank you for taking the time to improve our product! Internal bug reference: 121128402

[2018-12-17 16:35] #338 closed

[2018-12-17 19:40] malikasinger1 commented on #356
If you wanted this info to investigate the case I can dig into logs for you and can provide screenshots,

Well i also thought there is something wrong with my account so i created another firebase app and deploy this code there, but nothing changed

[2018-12-17 20:10] thechenky commented on #242
Hi @darkylmnx thank you for the feedback! Apologies for the late response - could you provide the link to the google cloud docs that helped you resolve your issue? When you say "without the need to use gcloud", do you mean without using gcs library and use the `object` instead?

[2018-12-17 20:21] thechenky commented on #346
@schmidt-sebastian thank you for the suggestion! I have filed this internally as an improvement to the SDK. I'll close this out as we don't have the resources to work on this in the near future, but do know that it's in our tracker.

Internal bug reference: 121147849.

[2018-12-17 20:21] #346 closed

[2018-12-17 20:31] errorhandler commented on #358
I'm still seeing this behaviour on a function which has retry on failure enabled. Is such behaviour still expected?

[2018-12-17 20:35] joshdifabio commented on #358
I got the same. I had to disable retries for each function temporarily, which was extremely time consuming and is obviously not really safe to do in production.

[2018-12-17 20:54] kevinajian commented on #311
@stasbar If possible can you try the suggested fix of putting
`const functions = require('firebase-functions');`
before calling `admin.initializeApp();`?

[2018-12-18 00:13] thechenky commented on #317
Hi @soichisumi, the backend bug that @laurenzlong mentioned has now been resolved and the fix has been rolled out to production. You can now have two functions with the same name deployed to different regions. We will now be working on adding multi-region support to the SDK so that you can deploy one function to multiple regions like you were trying to do. I'll keep this bug open to reference in t

[2018-12-18 05:37] thechenky commented on #281
Closing for inactivity.

[2018-12-18 05:37] #281 closed

[2018-12-18 05:41] thechenky commented on #192
@yonahforst are you still seeing this behavior?

[2018-12-18 05:42] thechenky commented on #268
Seeing as I haven't heard from the original poster, going to go ahead and close this out.

[2018-12-18 05:42] #268 closed

[2018-12-18 05:45] thechenky commented on #253
@g-guth please update to the latest firebase-tools and firebase-functions and let us know if the problem still persists.

[2018-12-18 05:51] thechenky commented on #217
Internal bug reference: 77816118.

[2018-12-18 05:55] thechenky commented on #358
@errorhandler @joshdifabio thanks for the update, I'm checking in on this.

[2018-12-18 05:58] thechenky commented on #253
Also, I'm not familiar with AMP, do you mind sharing more of your code?

[2018-12-18 06:03] thechenky commented on #356
@malikasinger1 thanks for the update! This looks like a more involved issue - would love to see more of your code to try to recreate. Github is probably not the right medium to share all that out - can you file a support ticket through https://firebase.google.com/support? You can ask the ticket to be routed to dianatkachenko or kjian.

[2018-12-18 06:06] thechenky commented on #354
@holyspidoo good catch, thank you - we will update the docs.

[2018-12-18 06:34] thechenky commented on #342
Hi @dustensalinas thanks for the feedback. The reason that we are using `~` instead of a `^` is because historically minor versions of `firebase-admin` that added new types would sometimes break the Functions SDK. I'm still digging into exactly what happened there to see if we can change this to a `^` since I don't think minor versions should be breaking. Stay tuned for updates.

[2018-12-18 06:37] thechenky commented on #350
Hi @mad-it thanks for flagging! I'm going to look into this as soon as I find some time to reproduce the issue. Stay tuned for updates.

[2018-12-18 06:52] thechenky commented on #280
@ahadortiz We are working out the best way to propagate the error to the user - error propagation is an issue that is not limited to the Firestore module but rather the whole Functions SDK, so it will take time to implement consistently across the codebase. Thank you for your patience!

[2018-12-18 06:55] thechenky commented on #270
I was able to reproduce this - will be adding a fix soon. Thanks!

[2018-12-18 07:07] thechenky commented on #249
Hi @vincentlaucy thanks for the update. Can you paste your full `package.json` file from the functions directory? Also, how large is the code in your index.js?

[2018-12-18 07:11] thechenky commented on #344
Hi @Binghammer thanks for taking the time to provide this feedback. I'm a bit confused - I don't see firebase-functions usage here - are you actually creating and deploying Cloud Functions? I only see usage of the Firestore SDK, in which case this should be routed to the Firestore SDK team. If you are using firebase-functions, can you please share the Javascript code as opposed to the Kotlin code,

[2018-12-18 09:25] swftvsn commented on #358
Same here, we're failing catasthropically, there are over 30 000 failures this morning due to this broken context parameter parsing!

[2018-12-18 09:29] swftvsn commented on #358
And our data is flying all over the place, there are now multiple orders going to "undefined" due to this!
It'll take weeks to parse all this ffs.

[2018-12-18 10:34] swftvsn commented on #358
Hmm, sorry for the bad lingo in previous message - to elaborate more, I'm seeing #357 still happening

[2018-12-18 10:49] swftvsn commented on #358
Also there's no mention in the status page about this service distruption - how much does not get logged to that page at all? This does not build trust.

[2018-12-18 13:34] yonahforst commented on #192
Not sure, I'm not on this project anymore

[2018-12-18 19:23] suigeneris opened #359 "Cloud function not updating data in Firestore immediately"
Hello

**Version info
firebase-functions:
2.1.0

firebase-tools:
6.1.2

firebase-admin:
6.4.0**

iv written a number of cloud functions that seem to work perfectly fine when i deploy locally using the following command:
```firebase serve --only functions```

However when i deploy the same functions remotely using:
```firebase deploy --only functions```
The function does not update the data in the

[2018-12-18 21:20] stasbar commented on #311
@kevinajian Yes, it fixed the problem.

[2018-12-18 21:32] #353 closed

[2018-12-18 21:48] kevinajian commented on #311
Thanks! Will close this out.

[2018-12-18 21:48] #311 closed

[2018-12-18 21:53] inlined commented on #358
@swftvsn New events should have the parameters back, but if you have retries enabled then the old events causes your code to crash, you will have the backlog of bad events for 7d. Fortunately, there are workarounds you can add to your code to handle the events _without_ turning off retries. One such method is on [StackOverflow](https://stackoverflow.com/questions/53792140/cloud-functions-context-p

[2018-12-18 22:01] thechenky commented on #234
Hi @lhmatt thanks for the feedback! This is already in our internal tracker - reference number 73455035. I'm going to close this out meanwhile as it's not a bug but more of an improvement and hopefully we'll get to it down the road.

[2018-12-18 22:01] #234 closed

[2018-12-18 22:03] thechenky commented on #359
Hi @suigeneris can you paste the actual code for your function? It's very hard to understand what is happening without more information. Also, if you could paste the logs that would be helpful as well.

[2018-12-19 05:40] swftvsn commented on #358
@inlined The problem is that we see this, quite constantly, on new data also. I think we need to start migrating our whole codebase at this point to use the work-around.

[2018-12-19 05:55] swftvsn commented on #358
@inlined scrap that, no, we are NOT seeing this on new data.

[2018-12-19 10:14] inmogr commented on #353
@thechenky dear you have closed the issue tooo soon
please clone the following and play around the issue by yourself to know what im talking about

https://github.com/inmogr/sample-error-fire-funcs

[2018-12-19 10:16] inmogr commented on #353
here is the error im getting on this repo

[code]

[2018-12-19 17:46] thechenky commented on #358
Thanks for everyone's patience, going to close this out. As always, if you see any more problems, please feel free to open up another issue.

[2018-12-19 17:46] #358 closed

[2018-12-19 21:35] malikasinger1 commented on #356
thanks for the support, it started working again, i dont know why bbut now its once again working like before, some people are saying on other platforms this was because of a recent incident in google apis

[2018-12-19 22:57] thechenky commented on #354
I've dug into this a bit - we have had some issues with using `^` with `firebase-admin` before, mostly around when firebase-admin added new types in minor versions it would break our Typescript users. We are going to revisit this decision to see if we can return to `^`, and will update this issue when I have more info. In any case, we will update the docs accordingly.

[2018-12-19 23:00] thechenky commented on #354
Similar issue: #342

[2018-12-20 16:12] joshdifabio commented on #358
Buried.

[2018-12-20 18:48] suigeneris commented on #359
code:
[code]

logs:
[code]
@thechenky here is the function and the corresponding logs, as we can see from the logs, the function completes with a status code of 200. But the data is not reflected in firebase.

[2018-12-20 18:55] thechenky commented on #359
@suigeneris Thank you for providing the code. When you say that it "works" locally - are you saying that the write to Firestore completes when serving the function locally, while your production function does not write to Firestore? You mentioned earlier that the updates to Firestore "do not show up immediately" - if this is the case, it's likely due to the cold start after you deploy your functio

[2018-12-20 19:17] suigeneris commented on #359
@thechenky yes, by locally i mean serving the functions using ```firebase serve --only functions```.
I think youre right, i imagined it being due to a cold start, does anyone know how long the cold start duration is?

[2018-12-20 19:33] thechenky commented on #359
@suigeneris thanks for the update! Cold starts should be on the order of seconds, with an update after a deploy taking ~30s to propagate. If your functions are not writing to Firestore after days (and this is with them being triggered), then the problem is likely with the data you're trying to write to Firestore. I would look at the differences between the data you're writing when serving locally

[2018-12-20 19:41] suigeneris commented on #359
@thechenky its exactly the same data in both cases, same code, same everything. Another potential issue could be the size of the data, perhaps theres a limit on how much data a function can write to the firestore at any given time. As you have suggested, i will put more logs to try and pin point the issue.

[2018-12-20 22:14] samtstern opened #362 "Test issue - please ignore"
### Version info

**firebase-functions:** functions.auth

**firebase-tools:**

**firebase-admin:**

### Test case

### Steps to reproduce

### Were you able to successfully deploy your functions?

### Expected behavior

### Actual behavior

[2018-12-20 22:16] samtstern commented on #362
/eval

[2018-12-20 22:39] samtstern commented on #362
eval

[2018-12-20 22:39] #362 closed

[2018-12-20 22:39] samtstern opened #363 "One more test issue"
functions.https

[2018-12-20 22:39] #363 closed

[2018-12-25 22:47] hmagdy opened #364 "Cloud Functions 400 Bad Request with invalid JSON in hello world app"
### Version info

**firebase-functions:** 6.2.2

### Test case and Steps to reproduce

I have hello world cloud functions app, it's working fine either locally by firebase serve or online after firebase deploy

[code]

Locally I can open http://localhost:5000/testing-98b0b/us-central1/helloWorld without any issues, but if I use postman to send post call with an invalid body like "#" it crashes and

[2018-12-26 06:05] Miladinho commented on #280
@laurenzlong

Any updates on this? Having the same issue. Seems like cloud functions are pretty useless at the moment with this major flaw...

[2018-12-27 20:47] thechenky commented on #364
@hmagdy are you supplying the correct Content-Type headers? The headers is how the SDK determines how to parse the data. See https://firebase.google.com/docs/functions/http-events#read_values_from_the_request. Curling works for me with a POST:

[code]

[2018-12-27 20:49] thechenky commented on #364
Also, if I change the headers to `"Content-Type: application/json"` for the same request it returns 400 Bad Request in the same way you described.

[2018-12-27 21:05] thechenky commented on #242
@darkylmnx thanks for the update - I have noted your feature request for adding cache control through the SDK in our bug tracker. Internal bug reference: 122078978. I can't guarantee we will get to this anytime soon as we're prioritizing more serious infrastructure issues and bugs at the moment.

Regarding the documentation, I'll poke around the cloud documentation and make sure we link to this wo

[2018-12-27 21:05] #242 closed

[2018-12-27 21:14] thechenky commented on #354
Hi all, a quick update and resolution to this:

For context: we previously used `^` for the firebase-admin dependency, but since switched to using `~` as interface changes in firebase-admin, which were released in minor version bumps, would break Typescript users in firebase-functions. The `~` limited firebase-admin to a specific minor revision, thus ensuring compatibility between the two.

After

[2018-12-27 21:14] #354 closed

[2018-12-27 21:15] thechenky commented on #342
Please see updates and resolution in #354. Closing this out, thanks everyone!

[2018-12-27 21:15] #342 closed

[2018-12-28 18:48] thechenky commented on #364
Closing this out since this is working as intended. Free to open another issue if you encounter any other problems. Thanks!

[2018-12-28 18:48] #364 closed

[2018-12-29 05:13] khushali26694 opened #365 "Firestore trigger"
### [REQUIRED] Version info

**firebase-functions:**

**firebase-tools:**

**firebase-admin:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### Were you able to successfully deploy your functions?

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2018-12-29 05:13] khushali26694 opened #366 "Firestore trigger"
### [REQUIRED] Version info

**firebase-functions:**

**firebase-tools:**

**firebase-admin:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### Were you able to successfully deploy your functions?

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2018-12-29 05:13] khushali26694 opened #367 "How to check firestore trigger 'onWrite function'."
### [REQUIRED] Version info

**firebase-functions:**

**firebase-tools:**

**firebase-admin:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### Were you able to successfully deploy your functions?

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

[2018-12-29 06:48] #365 closed

[2018-12-29 06:48] #367 closed

[2018-12-29 06:48] #366 closed

[2018-12-29 06:51] #352 closed

[2018-12-29 06:53] #344 closed

[2018-12-29 06:54] thechenky commented on #333
Closing due to inactivity.

[2018-12-29 06:54] #333 closed

[2018-12-29 06:57] thechenky commented on #253
Closing due to inactivity.

[2018-12-29 06:57] #253 closed

[2018-12-29 06:58] thechenky commented on #249
Closing due to inactivity.

[2018-12-29 06:58] #249 closed

[2018-12-29 06:59] thechenky commented on #335
Closing due to inactivity.

[2018-12-29 06:59] #335 closed

[2018-12-29 06:59] thechenky commented on #312
Closing due to inactivity.

[2018-12-29 06:59] #312 closed

[2018-12-29 07:07] thechenky commented on #359
@suigeneris any updates?

[2018-12-29 07:07] #316 closed

[2018-12-29 07:13] thechenky commented on #180
@k0ff33 Can you try this with the latest version of `firebase-functions`?

[2018-12-30 04:25] inmogr opened #368 "Error: Error parsing triggers: Cannot find module 'example'"
The following issue was closed before even providing support on it:

https://github.com/firebase/firebase-functions/issues/353#issuecomment-448542420

Please review the issue and provide a solution for it.

Thanks

[2018-12-30 06:48] thechenky commented on #368
Please follow the guidelines I outlined in your previous issue. Also, I'd like to ask you to be respectful with the way you address developers on this forum - ie, referring to someone as "dear" is considered condescending.

[2018-12-30 07:00] inmogr commented on #368
Ok, sorry about "dear" literally I meant the straight forward "dear" not what may be understood indirectly.

for the response you gave me last time i'll try to break it into chunks and see what did I miss there, If i made something wrong please let me know.

Part 1:
[code]
Response to part 1:
I'm using `import` and `export` as you can see in the repo link I have provdied

Part 2
[code]
Response to

[2019-01-02 03:24] jaycosaur opened #369 "onCall with runWith type mismatch"
### Version info

**firebase-functions:**
6.1.0

**firebase-tools:**
6.1.2

### Test case

Declare two onCall functions one using runWith and one without, typings are not compatible. runWith().https.onCall type seems to not include the functions.Runnable<any> interface.

### Expected behavior

Would expect the typings of functions.runWith(opts).https.onCall to match functions.https.onCall.

### Ac

[2019-01-02 23:09] joehan commented on #180
@thechenky Tested this with the latest version of firebase-functions (v2.1.0). The API has been changed since the version used in the question, from onWrite((event)=>{}) to onWrite((change, context)=>{}). However, I was able to parse GeoPoint(0,0) using change.after.data().
![screenshot from 2019-01-02 15-08-34](https://user-images.githubusercontent.com/4635763/50617121-54192100-0ea0-11e9-8059-461

[2019-01-03 01:00] thechenky commented on #180
@joehan thanks for the update! @k0ff33 please update to the latest version of `firebase-functions` as this has been fixed.

[2019-01-03 20:59] thechenky commented on #180
Closing this out.

[2019-01-03 20:59] #180 closed

[2019-01-03 21:09] thechenky commented on #355
@mlejva thanks for the update - do you have a predeploy hook configured to compile your Typescript? It would be in your `firebase.json` file and look something like this (if you don't have it, add it in and run `firebase deploy` again):
[code]
Let me know if that helps.

[2019-01-03 21:13] thechenky commented on #27
Hi everyone! for context, @kevinajian, @joehan and I have been taking over Lauren's work on firebase functions and I want to make sure this is still an issue people are having so that we can prioritize it properly. Can someone confirm that this still happens with the latest version of `firebase-functions`?

[2019-01-03 22:38] thechenky commented on #369
@jaycosaur thanks for the feedback! At first look this does look like a bug, which I've filed in our tracker. Internal bug reference: 122323911.

We'll take a look and try to repro as soon as we get around to this.

[2019-01-03 23:05] yoonjesung commented on #263
@thechenky thanks for the additional clarifications as well as best practices.

Could you provide one additional clarification on the best practices? -- Does this lazy-loading of dependencies work even for function instances that have scaled down to 0 (due to low traffic)?

e.g. Function A and Function B are both declared in index.js; Function A receives continual moderate traffic while Function B

[2019-01-03 23:13] thechenky commented on #263
@yoonjesung even if the functions share the same file, they scale independently of each other. So in your example:

Function A and B have different execution environments and do not share memory. So, function B cannot take advantage of the "already warm" global variables of function A. Hope this clarifies things.

[2019-01-04 00:03] Herohtar commented on #27
@thechenky Yes, this issue still exists.

[2019-01-04 08:40] andrew-veresov commented on #263
@thechenky thank you for clarification

The main issue here is not the time itself, but time limits of other services like actions on google. If a query execution exceeds a limit the actions on google just switches to the error flow. An error at the middle of a conversation might be OK. But an error at the beginning is almost a show stopper.

[2019-01-04 14:03] themikefuller commented on #27
It would be great if Cloud Functions implemented the **req.path fix** by default. I've been utilizing Cloud Functions more frequently in the past few months and this pattern has consistently worked for me:

## Google Cloud Functions
[code]

Though its specifically for Google Cloud Functions, I think the **Cloud Functions for Firebase** equivalent should work as well:

## Cloud Functions for Fireba

[2019-01-04 17:09] madakk commented on #263
@thechenky if you don't mind clarifying this point a bit further, would there still be an advantage of doing this even if _all_ declared functions will be importing admin and initializing firestore in the same manner?

We've seen a ~2 second improvement in cold start times of our cloud functions after moving to Node 8 as suggested, but we're still looking at ~5 seconds for functions which involve

[2019-01-04 18:48] thechenky commented on #263
@madakk anything that executes in the global scope will add time to your cold starts, so yes, moving it into the scope of the function would decrease cold start times. However, it's important to note that cold starts will *always* be there since the infrastructure of scaling up and down your function basically has to stand up a new vm and initialize it for your function, which takes time.

This th

[2019-01-04 18:58] thechenky commented on #368
@inmogr your `.tsconfig` looks odd with `@example`, make sure you are following the instructions here https://www.typescriptlang.org/docs/handbook/tsconfig-json.html.

[2019-01-05 01:15] inmogr commented on #368
Thanks, I'll have a look and compare to check out on what could have gone wrong

[2019-01-05 01:19] #368 closed

[2019-01-07 19:46] thechenky commented on #217
Hi everyone! The change is now live in production. For email/password sign up, the provider is `password` in `providerData` and the `uid` is the email. The format is consistent with Firebase Admin SDK. I'm going to close this out now, thanks for everyone's patience!

[2019-01-07 19:46] #217 closed

[2019-01-07 20:09] thechenky commented on #27
Internal bug reference: 36851728

[2019-01-08 01:56] kevinajian commented on #369
Fixed in https://github.com/firebase/firebase-functions/pull/372.

[2019-01-08 01:56] #369 closed

[2019-01-08 18:15] joehan commented on #350
Fixed! Thanks for bringing this to our attention @mad-it

[2019-01-08 18:15] #350 closed

[2019-01-08 19:39] mqln commented on #300
What's the status on this feature?

[2019-01-08 20:09] joehan commented on #288
@shrestaz Thanks again for all your help! We've added some extra messaging to firebase deploy to let developers know that functions may take ~30 seconds to go live or to be destroyed. We also are going to continue working on the underlying problem on our backend so that this delay no longer exists. Closing this issue for now.

[2019-01-08 20:09] #288 closed

[2019-01-09 19:11] joehan commented on #355
@mlejva I took a look at the error message that you are getting, and I believe it is coming from  extractTriggers.js (https://github.com/firebase/firebase-tools/blob/master/src/extractTriggers.js) in firebase-tools. This code is run when you 'firebase deploy' in order to find the names of your functions from what you export in index.ts.
firebase deploy expects that src/index.ts is only exporting f

[2019-01-09 19:11] #355 closed

[2019-01-09 20:03] thechenky commented on #263
I'm going to close this out - please follow the best practices outlined in https://github.com/firebase/firebase-functions/issues/263#issuecomment-451297155 to reduce your cold start times. If you're experiencing any other problems, please open another issue.

[2019-01-09 20:03] #263 closed

[2019-01-09 20:04] thechenky commented on #359
Closing for inactivity.

[2019-01-09 20:04] #359 closed

[2019-01-09 21:36] rchan commented on #263
@thechenky I don't believe the issue has been dealt with sufficiently.

The title of the issue is "Extreme delay with functions **and** firestore on cold starts"

The recommendation given is to lazy initialize, but me, @madakk and @eleith all reported separately that even with lazy initialization the initial firestore can take over 5s. I have tested this several times and can recreate each time.

[2019-01-09 22:50] thechenky commented on #263
I don't want to conflate several unrelated issues into this one, which deals only with *cold starts* (as original author posted). What you're describing is delay on first start of firestore, which is not a part of cold start. I have also benchmarked several times with the latest firebase-functions SDK and the longest I've seen is 1s delay for the first call to Firestore.

[2019-01-10 08:16] rchan commented on #263
@thechenky the title of the issue clearly suggest it is "functions **and firestore** on cold starts", the example he gave clearly has no other dependencies other than firestore, he also states "I tried removing all other functions and deploying a project with only this function", these are all notes from the original issue

I would humbly suggest that focusing on pure cold starts, lazy initialisin

[2019-01-10 16:44] mbleigh commented on #263
As @thechenky mentioned "I have also benchmarked several times with the latest firebase-functions SDK and the longest I've seen is 1s delay for the first call to Firestore." -- we've been trying to reproduce this issue and we're not seeing the same kinds of delays when calling Firestore.

Does this issue still happen in Node 8, with latest `firebase-functions` and `firebase-admin`, on a single fun

[2019-01-11 11:44] miickel opened #381 "Firestore onWrite trigger callback has undefined context"
### [REQUIRED] Version info

**firebase-functions:** ^2.1.0

**firebase-tools:** 6.2.2

**firebase-admin:** ^6.5.0

### [REQUIRED] Test case

index.js:

    exports.handleWrite = functions
      .firestore
      .document('collection/{doc}')
      .onWrite((data, context) => {
        // context === undefined
      })

### [REQUIRED] Steps to reproduce

Create Firestore onWrite trigger, check `con

[2019-01-11 16:03] puf commented on #381
Also posted on: https://stackoverflow.com/questions/54144439/firestore-onwrite-trigger-callback-has-undefined-context

[2019-01-11 19:00] thechenky commented on #381
hi @miickel thanks for the feedback, we are looking into this now and trying to reproduce but having trouble. When did this start happening for you? Which zone are your functions deployed in?

[2019-01-11 19:22] thechenky commented on #381
I'm also confused as to why you can't deploy your functions if the context is undefined, which if so, would only surface at function execution time. Would you mind sharing logs of your function and logs of your deploy?

[2019-01-11 19:30] joehan commented on #317
Fixed! With the next release, you will be able to deploy to multiple regions by passign multiple region strings to functions.region(), like so:
functions.region('us-east1', 'us-central1')...

[2019-01-11 19:30] #317 closed

[2019-01-11 23:40] joehan commented on #381
@miickel Hey mickell, per those docs that you linked, it looks like you are using the wrong params for document.onWrite(). document.onWrite expects a function to handle a Change (https://firebase.google.com/docs/reference/functions/functions.Change) ie (change)=>{}. If you replace your code with the following, I think it should start working as you intend:

`exports.handleWrite = functions
  .fire

[2019-01-12 01:20] soichisumi commented on #317
thank you! this feature is very helpful @joehan

[2019-01-12 09:10] miickel commented on #381
@thechenky Hi, thanks for looking in to this! My CFs deploy to us-central-1. I haven't encountered this with any other Firestore triggers, only onWrite.

@joehan thanks, using a function is what I'm doing, please see my example. On the page I linked the signature looks like this `function(functions.Change containing non-null functions.firestore.DocumentSnapshot, optional non-null functions.EventCo

[2019-01-12 09:17] miickel commented on #381
Checked my git log - Shit sorry, this was totally my mistake. 🙈 I use a double fn design for "dependency injection" (to enable reuse of resources between function executions), like:

`({ depA: getDepA(), depB: getDepB() }) => (change, ctx) => { // handler }`

and I accidentally placed the ctx param in my deps function.

[2019-01-12 09:17] #381 closed

[2019-01-13 06:17] thechenky commented on #381
@miickel I'm so glad it's working for you again! Thanks for following up to let us know how you resolved the issue.

[2019-01-14 09:10] rchan commented on #263
@mbleigh I've tested this again over the weekend and can confirm the first call to Firestore are now coming in mostly around 1 to 1.5 sec, with a worse case of 2.5 sec

It was the same code I tested a few weeks ago, with everything else the same, so either it has improved or there was a glitch that week

Happy to leave this as it for now.

Thanks

[2019-01-14 16:17] stamler commented on #319
If anybody else is continuing to receive this issue _after_ doing the updates, make sure that `"ecmaVersion": 8` is set in your .eslintrc.json as well.

[2019-01-14 23:19] BenHayat opened #383 "Using Dart to write Firebase Functions"
Hello Team;
When is Firebase going to support Dart to write Cloud Functions? We're planning to use ONE language to build the frontend (Flutter) and Backend (FB Functions) than going with Node JS to write backend.

Thanks!

[2019-01-16 17:44] thechenky commented on #27
@themikefuller @Herohtar thank you for the feedback and thanks everyone for the discussion here. This would be a change in Google Cloud Functions itself, not the Firebase Functions SDK. As such, I would recommend filing an issue in the Google Cloud functions [public issue tracker](https://b.corp.google.com/issues?q=status:open%20componentid:187195). Feel free to link to this thread there.

In the

[2019-01-16 17:44] #27 closed

[2019-01-16 18:10] thechenky commented on #300
@mqln unfortunately this issue is blocked on a list of other issue that need to be resolved before this is implemented.

[2019-01-17 06:15] ohtangza commented on #300
@thechenky Glad that at least it's queued. Thanks for your update.

[2019-01-18 14:05] kimroen opened #387 "Possible regression: Duplicate Firestore trigger event ids"
### [REQUIRED] Version info

**node:**
v8.11.1

**firebase-functions:**
2.0.5

**firebase-tools:**
6.3.0

**firebase-admin:**
6.0.0

### [REQUIRED] Test case

With the following `onCreate` triggers deployed for the same document:

[code]

### [REQUIRED] Steps to reproduce
With the above functions deployed, create a document in the `users` collection.

### [REQUIRED] Expected behavior
The two funct

[2019-01-18 18:08] thechenky commented on #387
Hi @kimroen, thanks for posting this issue. To clarify, are you seeing the same eventid in the first part before the postfix (before the -0 and -1)? And when did this behavior change for you - do you recall how many days ago?

[2019-01-18 18:11] kimroen commented on #387
This is correct.

We noticed a lot of strange behavior caused by this yesterday afternoon, but it could have been before then without us noticing.

[2019-01-18 19:52] inlined commented on #387
Hi Kimroen, the event ID has been a slightly nebulous subject and we're trying to help add more meaning/standardization to something that was previously not crisply defined.

I completely understand why the event ID alone might be getting used as an idempotency key. I think I myself have recommended the shortcut.  The Event ID describes the thing that happened, not the thing that happened + the th

[2019-01-18 19:52] #387 closed

[2019-01-18 20:16] kimroen commented on #387
Thanks for the clarification - the reasoning totally makes sense. It's a much clearer model.

Thanks for the tips! What we did to fix this here is to prepend the name of the function to the event id to create an idempotency key. We had to pass this in though, so I'd love it if you had any suggestions for more practical ways to solve this. Maybe there's something clever on the context we could use

[2019-01-18 20:19] mbleigh commented on #387
`process.env.FUNCTION_NAME` should contain the name of the executing function.

[2019-01-18 20:21] inlined commented on #387
This is certainly something I would rather not have caused customer pain over. In general at Google there's two types of changes:
1. Things that are so obviously innocuous that we don't tell anyone
2. Things that are so obviously disruptive that we tell/work with everyone

Because EventID's format was not documented, this seemed like a bugfix, and the fix matches both the recommendations of the Cl

[2019-01-18 20:39] kimroen commented on #387
Thanks again for the explanation - much appreciated.

That's useful to know! Not quite sure how we would replicate that during testing, but maybe we'll figure something out 😄

[2019-01-19 08:35] SelormBruce commented on #80
i solved it by following this few steps.
run
firebase deploy
again after the error

[2019-01-21 09:38] alanrubin commented on #172
Did anyone have success solving that issue? I have exactly the same scenario mentioned by @BrandiATMuhkuh (yarn workspaces, one subpackage depending on another subpackage) and tried to make it work with the above suggestions but was unable to make it work properly.

[2019-01-23 18:55] subhendukundu opened #391 "Error while deploying react based SSR app, using firebase-functions"
I am trying to deploy my ssr app originally forked from https://github.com/subhendukundu/template-react-ssr/tree/feature/react-router, after doing some modification in the app.
Which works fine when I do ```sudo firebase serve --only functions,hosting``` but throwing error when I do ```firebase deploy```.
### [REQUIRED] Version info

2.1.0

**node:**
v8.11.3

**firebase-functions:**

**firebase-to

[2019-01-23 19:34] yavorski opened #392 "Proxy config for local development"
Hi, can we have something like proxy config while developing locally?

Right now if we want to develop locally a web app for example, we need to allow CORS for every function we write.

However when the web app and functions are deployed to production, there is no need for CORS and things just works.

Is this the only possible way to develop locally - to clutter the functions code and allow CORS i

[2019-01-23 21:52] thechenky commented on #392
Hi @yavorski thank you for your feedback. Can you explain your use case better for me? Are you using functions in combination with hosting? Are you specifically needing CORS or is this a step to make something else work? Generally for these types of feature requests we like to direct developers to our [support portal](https://firebase.google.com/support/contact/bugs-features/) which are the best p

[2019-01-23 22:09] thechenky commented on #391
Hi @subhendukundu you are missing a `package.json` file inside your functions directory, which is causing this error. You can reference the following documentation to make sure you're configuring your functions correctly: https://firebase.google.com/docs/hosting/functions. Let me know if that helps.

[2019-01-23 23:01] yavorski commented on #392
Hi, @thechenky, yes I am using functions in combination with hosting.

In general I am working on web application using `firebase hosting` and `firebase functions`.

What I seek here is the development process to be as close to the production one and without modifying functions to enable CORS in development when this is not needed for production.

The project is scaffolded with `firebase cli` and

[2019-01-24 02:21] anlexN commented on #299
i don't like firebase need us to use nodejs v6 and v8.

[2019-01-24 02:40] thechenky commented on #392
Hi @yavorski thank you for the detailed explanation! That all makes sense, and I can see how that would make local development more cumbersome, especially since the behavior differs from production. We do need to do some things differently in local environment because hosting and functions are emulated and on different ports as you mentioned, so I see some difficulties with getting this to work wi

[2019-01-24 02:40] #392 closed

[2019-01-24 03:44] subhendukundu commented on #391
Hey @thechenky, sorry for the confusion, the reproducible repo is under the test case link in the description, which has a package.json https://github.com/subhendukundu/template-react-ssr/tree/feature/react-router/public
I am using the public directory as my function directory as well, https://github.com/subhendukundu/template-react-ssr/blob/feature/react-router/firebase.json
However even if I am

[2019-01-24 05:17] mbleigh commented on #392
Hi @yavorski just so you know, when the Hosting and Cloud Functions emulators are both running, any Hosting rewrites will be emulated locally. For instance if I have a `firebase.json` like:

[code]

and I have `index.js` of:

[code]

When I run `firebase serve` I can visit `http://localhost:5000/` and the local function will be triggered. You shouldn't need CORS in this case, because you can just

[2019-01-24 08:39] pariola commented on #270
Still facing the same issue!

[2019-01-25 02:09] fenixsolorzano opened #395 "Include `context.auth` for Cloud Storage triggers"
As fas as I've tested there's no `auth` object in Cloud Storage triggers, that object should be in every trigger in fact.

Docs only mention that `auth` object is available for Realtime database

[2019-01-25 07:21] anlexN commented on #27
@team:
1. why not to discuss here, it is very convenient.
2. i make sure my expressjs is very good and successfully deployed, but also "Cannot GET null", why decrease my/our quota? it's your firebase bug. not my/our developer, customer wrong
3. i am very very very **angry**! :angry: :angry: :angry:

[2019-01-25 08:03] yqiang commented on #300
@thechenky are there any recommended workarounds until this is implemented? my use case is as follows:
I have a *trip* document which has an *expenses* subcollection and a *members* subcollection. Every time the *expenses* subcollection is modified I want to send a push notification to all the members in the *members* subcollection (say via FCM), minus the person that actually made the modificatio

[2019-01-25 08:05] jrnk commented on #300
@yqiang you could include the uid of the person in the expense object, retrieve the latest on that array and don't send that uid the notification. We've also worked around this like that, by adding an extra attribute to the data (in our case just a 'sync' boolean that we remove after update)

[2019-01-25 08:08] yqiang commented on #300
@jrnk I see – I think I can give that a try, thanks!

[2019-01-25 09:16] thechenky commented on #395
Hi @fenixsolorzano please follow the issue template next time. Yes context.auth is currently only supported for real-time database as the docs say. If you would like storage to support  this as well please  file a feature request through our support page. Thanks!

[2019-01-25 17:49] thechenky commented on #395
I've noted your feature request. In the meantime here's a workaround that might help: https://stackoverflow.com/questions/53723687/firebase-cloud-functions-how-to-get-user-that-uploads-a-file. I'll close out this issue now as we don't track feature requests in GitHub.

[2019-01-25 17:49] #395 closed

[2019-01-25 17:55] joehan commented on #27
Hey @anlexN, super sorry to hear that this issue has been affecting you. We moved the issue over to the public Cloud tracker so that the team who is able to fix it can see its impact and prioritize it. Have you tried the workaround suggested in https://github.com/firebase/firebase-functions/issues/27#issuecomment-451451749? It seems to be a good temporary solution until this issue is fixed.

[2019-01-25 20:18] themikefuller commented on #27
@anlexN

Why are you angry?

Did you try the workaround I provided above? You can just splint that in front of your express app and it will work as expected (until a permanent fix is applied by Google Cloud). And even after that, it will continue to work because it only addresses the issue if the issue is present.

The http triggered Google Cloud Functions aren't providing an express app, its prov

[2019-01-25 21:33] Carduelis commented on #270
Yep. The same. I was trying `userRecord.toJSON()` - no luck. Later, I decided to write it attribute by attribute. `metadata.toJSON()` was fine, but `providerData: userRecord.providerData.map(item => item.toJSON()),` is failing,
[code]
From the [docs](https://firebase.google.com/docs/reference/admin/node/admin.auth.UserRecord)
providerData
non-null Array of non-null [admin.auth.UserInfo](https://fi

[2019-01-25 22:46] pariola commented on #270
try `JSON.parse(JSON.stringify(record));`

[2019-01-28 13:14] SamMatthewsIsACommonName commented on #172
Having same problem integrating a utility library in a monorepo. @laurenzlong  does each package actually need to be in the npm registry as in no symlinked packages?

[2019-01-31 16:08] radar155 commented on #62
Any update from the backend team? The issue is still present and it's very annoyng. This should be fixed.

[2019-02-01 03:35] mazlano27 opened #399 "Firebase Cloud Functions Deploy Fails After Update to 2.2.0"
### [REQUIRED] Version info

    "firebase-admin": "^7.0.0",
    "firebase-functions": "^2.2.0",
    "firebase-tools": "6.3.1"

On running firebase deploy --only functions:

Error: functions predeploy error: Command terminated with non-zero exit code2

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

Updated firebase-admin from 6.5.1 -> 7.0.0
Updated firebase-functions from 2.1.0 -> 2.

[2019-02-01 05:04] thechenky commented on #399
Hi @mazlano27 thanks for the report. I just tried to reproduce this behavior but was able to deploy successfully with the versions you specified for firebase-functions, fiirebase-admin, and firebase-tools. Can you please run `firebase deploy --debug` and paste your output, as well as your package.json and firebase.json? The error seems to indicate some issue with a predeploy hook - I thought that

[2019-02-01 05:16] mazlano27 commented on #399
Hi @thechenky , thank you for your reply. I have updated the original post with the information you have requested for.

[2019-02-01 06:00] mbleigh commented on #399
The error appears to be happening in your predeploy script when typescript
is being compiled, and doesn't immediately seem related to the SDK

On Thu, Jan 31, 2019, 9:16 PM mazlano27 <notifications@github.com> wrote:

[2019-02-01 07:31] mazlano27 commented on #399
Update:

Managed to address the issue.

I updated the typescript package to 3.3.1 and when running the functions build command, it gave a much clearer indication of where the error was originating from. Turns out one of the types dev dependencies in my main angular package.json file did not have a default export which was causing the issue. After removing the types dev dependency, i was able to su

[2019-02-01 08:40] thechenky commented on #399
Hi @mazlano27 ah yes typescript can be a bit tricky, so happy to hear that your issue was resolved! I'm going to close this out now, but feel free to reach out again if you encounter any other issues.

[2019-02-01 08:40] #399 closed

[2019-02-01 08:43] thechenky commented on #270
Hi @pariola and @Carduelis thanks for chiming in - this issue slipped through the cracks, but we're still planning to put in a fix. In the meantime, please use the workaround mentioned in https://github.com/firebase/firebase-functions/issues/270#issuecomment-457759775

[2019-02-02 19:39] JamieCorkhill opened #401 "Piping Stream from Firebase Function to Client"
### Version info

**node:**
v10.13.0

**firebase-functions:**
^2.1.0

**firebase-tools:**
6.3.0

### Test case
Server (Firebase Function):

[code]
Client:
[code]
StackOverflow Question: https://stackoverflow.com/questions/54489268/piping-stream-to-client-express-server-to-firebase-functions-migration

### Steps to reproduce

I'm not sure if this is an actual bug or if Firebase Functions does not s

[2019-02-03 05:47] ifiokjr commented on #172
**Yarn solution**

In your `path/to/functions/package.json` add the following

[code]

It basically says, don't hoist anything in this package, so will always retain the node_modules directory.

It does marginally slow down installations but I haven't noticed anything drastic.

[2019-02-03 14:04] merlinnot opened #402 "Invalid typings of the first parameter of `firestore.onChange` - optional before, after"
### Related issues

None found.

### [REQUIRED] Version info

**node:** `v10.15.1`

**firebase-functions:** `v2.2.0`

**firebase-tools:** `v6.3.1`

**firebase-admin:** `^7.0.0`

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Try to compile the above snippet using the latest version of TypeScript compiler (`v3.3.0` at the time) with `strictNullChecks` enabled.

Compilation wil

[2019-02-03 16:08] agordeev opened #404 "error TS1005: ';' expected on tsc"
I'me getting the following error when trying to run `npm run build`:

[code]

### Related issues

### [REQUIRED] Version info

**node:**
v8.12.0

**firebase-functions:**
2.2.0 (same error with 2.1.0)

**firebase-tools:**
6.3.1

**firebase-admin:**
7.0.0

### [REQUIRED] Steps to reproduce

Create an empty firebase TypeScript project and try to compile.

Here's my `package.json`:

[code]

[2019-02-03 17:20] merlinnot commented on #404
Could you try to update TypeScript first?

[2019-02-03 21:55] #401 closed

[2019-02-04 06:45] agordeev commented on #404
`npm install typescript --save-dev` did the trick. Thanks!

[2019-02-04 06:45] #404 closed

[2019-02-04 07:44] thechenky commented on #404
Awesome, thanks everyone! Glad your issue was resolved @agordeev :)

[2019-02-04 08:10] #402 closed

[2019-02-04 18:51] kevinajian commented on #401
Hey Jamie, since you closed this issue was it resolved? Are you able to post your solution?

[2019-02-04 19:01] JamieCorkhill commented on #401
I'm not actually sure what was causing the issue. I believe it might have had something to do with sending a CORS Header in the response when accessing the URL from the same origin/domain. I didn't think that would cause an issue.

I ended up deleting the function and creating a new one, and then I rewrote the aforementioned code, and it worked fine.

For reference, here is the code in `index.js`

[2019-02-05 18:51] thechenky commented on #300
Hi everyone, I checked back in on this issue to see how it's progressing. Still blocked, but I linked to this thread and urged the priority of this issue to be increased. Let's see how it goes. Will post back here with updates when I have them. Thanks for your patience!

[2019-02-05 20:58] richiedunk commented on #300
Thanks, really appreciate the updates.

[2019-02-05 23:34] kevinajian commented on #401
Thanks for the update, and great that it's working now. I'm not seeing anything that stands out in your code, but if it occurs again do let us know.

[2019-02-05 23:38] JamieCorkhill commented on #401
@kevinajian  Thank you.

Yes, it was extremely peculiar. I had the function set up with the exact same code as above, and nothing would work. Then, the next day, out of nowhere, the function would start calling itself over and over as if it was being called recursively, and would end up timing out each time. Needless to say, I went through my quota quite fast.

The next day, I removed my code from

[2019-02-07 18:19] apbeers commented on #85
I renamed my function, then when doing "firebase deploy" I selected "yes" to delete the old one. That got the changes applied

[2019-02-08 04:08] thechenky commented on #404
Seeing as caused issues for a few people, we have now added the mention of TypeScript update into the [release notes for v2.2.0](https://firebase.google.com/support/releases). Thanks again everyone :)

[2019-02-08 13:28] manas517 commented on #80
Error: Server Error. getaddrinfo ENOTFOUND www.gstatic.com www.gstatic.com:443
I am getting this error when I am deploying project in firebase hosting.
Please help me out to resolve this bug.
Thanking u in advance

[2019-02-08 19:23] Araknos commented on #62
https://stackoverflow.com/questions/54541177/firebase-cloud-functions-executed-several-times

[2019-02-08 19:45] thechenky commented on #62
To reiterate again, this is [expected behavior](https://cloud.google.com/functions/docs/concepts/events-triggers#triggers). You would need to write your functions in an idempotent way so that they are able to handle cases when they are invoked more than once.

[2019-02-08 22:44] onaty opened #405 "i am receiving val is undefined i dont see any thing wrong with this , i am doing what is exactly on firebase documentation so i dont know"
import * as functions from 'firebase-functions';

 export const updateUser = functions.databasecode
 .ref('users/{userId}/')
 .onUpdate((change, context) => {
 const gou = change.after.val();//i am receiving the error here
  })

[2019-02-09 05:06] kevinajian commented on #405
What is the error message that you are getting? Can you please follow the template to include the debug logs?

Also it looks like you're not returning anything. Try adding a value or promise.

[2019-02-10 10:22] kiralikbeyin commented on #319
If anybody else is continuing to receive this issue _after_ doing everything, make sure that you are using node v8 in your computer :)

nvm ls

[2019-02-11 15:57] LukeV111 commented on #399
This fixed it for me!

[2019-02-11 18:52] kevinajian commented on #405
Hi @onaty, did that resolve your issue?

[2019-02-12 18:13] babkouew opened #406 "Error: TS2304 - Cannot find name 'SetOptions'"
### Related issues
**Topic not found here nor on Stackoverflow**

### Version info

**node:**
v11.6.0

**firebase-functions:**
2.2.0

**firebase-tools:**
6.3.1

**firebase-admin:**
7.0.0

**TypeScript**
3.2.2

### Test case

**This test case builds a simple HTTP function that writes a string value in a firestore database reference.**

### Steps to reproduce

**Create two typescript files in your C

[2019-02-12 19:48] thechenky commented on #406
Hi @babkouew thanks for your feedback, and sorry this issue is causing you so much pain! Your versions look off for functions and admin (functions does not go up to 6, the latest is 2.2.0) Can you paste the correct versions for both of those? Also I see you are using node 11 locally - what are you using when you deploy your functions? Cloud Functions currently only supports node 6 and node 8 so I

[2019-02-12 23:08] joehan commented on #406
Hey @babkouew, just took a look at your code. It looks like you may be following the Java example instead of the NodeJS one. Could you try this instead:

[code]

Let me know if that helps!

[2019-02-12 23:34] babkouew commented on #406
Hi @joethan, Excellent that was it, problem solved! I now see the NodeJS example burried in a tab on the left of the example code in the documentation.

Hi @thechenky, thanks for pointing this out I have edited my post for the right versions of firebase modules and downgraded my NodeJS version to 6.

Thanks to both of you for your help!

[2019-02-12 23:47] thechenky commented on #406
@babkouew Happy to help and glad your issue is resolved! As always, please open a new issue if you see any other problems.

[2019-02-12 23:47] #406 closed

[2019-02-13 18:59] kevinajian commented on #405
Will close this out. If you're still getting the error after returning a value, please update this issue. Thanks!

[2019-02-13 18:59] #405 closed

[2019-02-14 10:56] dsl101 opened #408 "Unable to batch write more than 250 items when using FieldValue.serverTimestamp()"
### Related issues

### [REQUIRED] Version info

**node:**
v11.9.0

**firebase-functions:**

**firebase-tools:**
6.3.1

**firebase-admin:**

### [REQUIRED] Test case

Define the following function and run via `firebase functions:shell`, assuming packages (including firebase-admin and lodash) are installed and configured.
[code]

### [REQUIRED] Steps to reproduce

Call with `mockBatchUpdate({batchS

[2019-02-14 14:15] dbacinski opened #409 "firebase-functions v2.2.0 firestore trigger Date instead of Timestamp"
### Related issues

https://github.com/firebase/firebase-functions/issues/285

### [REQUIRED] Version info

**firebase-functions:**
v2.2.0

### [REQUIRED] Test case
I have upgraded from functions v2.1.0 to v2.2.0 and my triggers have started returning Date instead of Timestamp.
I would expect it to be another way around after breaking changes announced in v2.2.0.

[code]

### [REQUIRED] Expected b

[2019-02-14 18:04] joehan commented on #408
Hi @dsl101, thanks for finding this! I believe this is intended behavior - however, this seems like an issue with firebase-admin(https://github.com/firebase/firebase-admin-node). Do you mind reopening this issue over there? They should be able to give you a clearer answer.

If you take a look at the documentation for [FieldValue] (https://firebase.google.com/docs/reference/js/firebase.firestore.Fi

[2019-02-14 18:20] dsl101 commented on #408
Sure—I wasn’t entirely sure where to put it. I also suspected it might be a
documentation issue (it’s pretty obscure as described tbh). Perhaps either
discount the timestanp in the write count or make it explicit in the batch
documentation?

Many thanks!

On Thu, 14 Feb 2019 at 18:04, joehan <notifications@github.com> wrote:

[2019-02-14 18:39] joehan commented on #408
No problem, and thanks for passing it along to the other repo. You are absolutely right that this should be more clearly documented though - I had to look around wikipedia to figure out what was happening here. I'll file a internal bug to improve our docs on this.

[2019-02-14 18:39] #408 closed

[2019-02-14 18:44] joehan commented on #408
Internal Bug Reference: 124449660

[2019-02-14 19:16] dsl101 commented on #408
Reopened here: https://github.com/firebase/firebase-admin-node/issues/456

[2019-02-15 13:51] scutletbutt commented on #300
This is an important feature, in my case it play a big role in security and detect hacker. Hope it priority is increased. Thanks for the hard work

[2019-02-16 00:02] b-antczak commented on #399
This worked for me as well. Thanks! 💯

[2019-02-17 10:35] jaschaio commented on #409
Getting the same error:

`TypeError: newData.created_at.toDate is not a function`

Especially as this should have already been fixed within [2.0.2](https://github.com/firebase/firebase-functions/releases/tag/v2.0.2)

[2019-02-18 08:59] dbacinski commented on #409
It was fixed in 2.0.2, it is working well for me in 2.1.0,
but in 2.2.0 it seems that we have a regression of the same issue.

[2019-02-18 11:55] developcodeza-matthew commented on #409
Same, noticed that all my .toDate() calls were breaking.

Its correctly saved as a Timestamp in firestore:
![screen shot 2019-02-18 at 1 52 43 pm](https://user-images.githubusercontent.com/26629247/52949295-8d401e80-3384-11e9-9c8e-50112bbb4ab3.jpg)

But being retuned as a ISO datestring in my cloud functions listener:
![screen shot 2019-02-18 at 1 54 45 pm](https://user-images.githubusercontent.co

[2019-02-18 12:06] developcodeza-matthew commented on #409
Downgrading back to 2.1.0 has fixed this issue for now.

Would like to hear whether 2.2.0 behaviour is a bug or if this is intended.

[2019-02-19 00:57] WaldenH opened #411 "node 8 not work"
### Related issues

### [REQUIRED] Version info
I am to try a very simple case, but the node 8 seems not work. "async/await" is not supported.

node version v10.15.0
"firebase-admin": "~7.0.0",
"firebase-functions": "^2.2.0"
firebase-tools  6.4.1

**node:**

**firebase-functions:**

**firebase-tools:**

**firebase-admin:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce
firebase init

[2019-02-19 16:42] lpellegr opened #412 "Allowing empty HTTPS Callable calls for warmup"
Some time ago we've made the choice to use Firebase HTTPS callable functions for a new service. At this time it was not obvious what the call pattern was.

Although the pattern might still change, we are noticing periods were only a few calls are performed per hours. As a result, HTTPS callables trigger a new Firebase Function deployment with a cold start, which is really bad from a user experienc

[2019-02-20 00:45] joehan commented on #411
Hey @WaldenH, could you post the actual error message that you are getting? It helps us figure out exactly what is going on. ESlint could be the cause of your issues - could you make sure that "ecmaVersion": 8 is in your eslint.rc?

[2019-02-20 01:05] joehan commented on #409
Hey all, I'm looking into this issue right now, thanks a ton for bringing it to our attention. In the last release, we upgraded our peer dependency to [firebase-admin v7.0.0](https://github.com/firebase/firebase-admin-node/releases/tag/v7.0.0), which should have changed the default behavior of Firestore to {timestampsInSnapshots: true}. Because of this, we removed [a few lines where fiurebase-func

[2019-02-20 07:20] ozankonur commented on #283
firebase-functions@2.2.0 same problem with Blaze plan..

[2019-02-20 07:23] jaschaio commented on #409
@joehan I noticed yesterday that I am using `firebase-functions v2.2.0` with `firebase-admin v6.5.1`. This might be the reason for this? I will upgrade `firebase-admin` to `v7.0.0` later today and see if it resolves the problem.

[2019-02-20 07:50] dbacinski commented on #409
I am using admin 6.4.0 with functions 2.2.0 and timestamp enforcement:
[code]

[2019-02-20 08:12] thechenky commented on #409
@dbacinski we updated the peer dependency in the 2.2.0 release to point to v7.0.0 of firebase-admin. You should have gotten a warning if using functions with a noncompatible peer dependency like 6.4.0. Can you try upgrading to 7.0.0 to see if that fixes the issue?

[2019-02-20 08:17] dbacinski commented on #409
I have updated dependencies to:
    "firebase-admin": "7.0.0",
    "firebase-functions": "2.2.0",
    "@google-cloud/firestore": "^1.0.0",

No Timestamp is returned correctly. But I am getting an error message:
`The timestampsInSnapshots setting now defaults to true and you no
  longer need to explicitly set it. In a future release, the setting
  will be removed entirely and so it is recommended t

[2019-02-20 08:20] developcodeza-matthew commented on #409
@dbacinski I think that is just a warnign saying that

    firestore.settings({ timestampsInSnapshots: true })

is now redundant as it its the default

[2019-02-20 08:20] thechenky commented on #300
Hi there again everyone - another update. It has been decided that unfortunately native support for `context.auth` for Firestore triggers will not be implemented due to technical constraints. However, there is a different solution in the works that hopefully will satisfy your use case, but I cannot share details. On this forum we generally keep open only issues that can be solved inside the functi

[2019-02-20 08:20] #300 closed

[2019-02-20 08:21] dbacinski commented on #409
I was not getting this error message for functions 2.1.0, but only if `firestore.settings({ timestampsInSnapshots: true })` was set.

[2019-02-20 08:41] thechenky commented on #409
Hi @dbacinski glad you got it working when you upgraded firebase-admin! Yes, @developcodeza-matthew is correct, this is just a warning. This change was made in `firebase-admin v.7.0.0` so that you no longer need to provide `firestore.settings({ timestampsInSnapshots: true })` in your code - it will default to this behavior with `firebase-admin v.7.0.0`. I hope this clears things up!

[2019-02-20 08:45] dbacinski commented on #409
I have removed all the redundant `firestore.settings({ timestampsInSnapshots: true })` configurations from my project and there are no error messages.

Solved. Thank you!

[2019-02-20 08:45] #409 closed

[2019-02-20 08:47] thechenky commented on #280
Quick update - since this is a wider issue that involves not just the functions SDK but also the Google Cloud Functions and how it propagates errors from the event sources, it merits further discussion internally to understand the best way to go about this. Additionally, our team is quite under resourced, so we likely won't be getting to this soon.

We generally keep issues isolated to the functio

[2019-02-20 08:47] #280 closed

[2019-02-20 08:49] thechenky commented on #409
@dbacinski awesome, glad to hear that! If you encounter any other problems, please don't hesitate to open a new issue.

[2019-02-20 08:53] thechenky commented on #412
Hi @lpellegr thank you for your feedback and really appreciate the PR offer! Before we look at changing which requests the SDK accepts for callable functions, can you paste the error messages that you're getting in the logs?

[2019-02-20 09:13] lpellegr commented on #412
Hi @thechenky.

Thanks for your answer.

Logs are polluted with errors that look like the following:

We could most probably get rid of these errors by creating a fake POST request that satisfies the filter function I pointed out in the previous message but this may easily break in the future.

[2019-02-20 11:12] kurtzmarc commented on #300
Is there another issue we can track for this “different solution”? Or will you comment on this ticket when information is available?

[2019-02-20 13:29] brianmhunt commented on #300
Thanks for the update @thechenky.  I can only imagine the the design constraints for a system like Firestore and the challenges that present for the issue here, and while this didn't get resolved the way everyone hoped I am grateful for the effort to resolve this issue and keep everyone informed.

[2019-02-20 15:20] WaldenH commented on #411
Hi, I have updated the debug information, hope it is useful.

[2019-02-20 15:23] 0x80 opened #413 "Context before and after changed to possibly undefined in 2.2.0"
The upgrade from 2.1.0 to 2.2.0 broke my builds because the Typescript definitions changed `context.before` and `context.after` into possibly undefined.

Seems like it might be a regression of #227

[2019-02-20 15:26] 0x80 commented on #413
Not a regression, since in #227 the whole context object was possibly undefined. Now it's just the before/after properties.

[2019-02-21 18:32] samtstern commented on #413
@0x80 looks like in this commit they were made non-optional:
https://github.com/firebase/firebase-functions/commit/df27316a9e5c8d74f3aedc8fabca066ab9de53c1

So I think this will be fixed in the next release (that commit was 17 days ago, 2.2.0 was 21 days ago).

@thechenky does that sound right?  I am going to close this since the fixing commit is already in but please re-open if there's more to do

[2019-02-21 18:32] #413 closed

[2019-02-21 18:43] cdstamper commented on #280
Is there a reason you haven't documented this behavior? If the Firestore documentation had even _once_ mentioned that trailing slashes are not permitted, it could have saved me hours of confusion.

Updating the original example to illustrate that even trailing slashes cause this problem:

I think any developer could reasonably expect a trailing slash to work, therefore I recommend the docs at leas

[2019-02-21 20:50] brendanmc6 commented on #312
I would like to add that I had the same problem, and just as I was about to post here, I realize the problem was the result of strange typescript build behavior.

In summary, typescript is building into lib/**functions**/index.js instead of lib/index.js, thus package.json is pointing to the wrong file, and uploading an older compiled .js file.

I resolved it by (in my functions folder):
1. deletin

[2019-02-21 22:12] emgould commented on #161
Have any of you down in Australia have any experience with performance of the firebase real-time database ( not firestore )?

[2019-02-21 22:16] anubhavberry commented on #161
I've moved off realtime database. Only using firestore and (slight segway)
have experienced performance issues particularly outside business Melbourne
Sydney business hours. Perth has the worst performance.

On Fri, Feb 22, 2019 at 9:12 AM Eric <notifications@github.com> wrote:

[2019-02-21 22:49] emgould commented on #161
Thanks for the response. Our use case is ill-suited for firestore.  I was just curious how latent/slow it is given it so far from the central us where firebase realtime db is hosted.

[2019-02-21 23:14] anubhavberry commented on #161
When we were using realtime db response was almost comparable to Firestore.
BTW migrating to Firestore is quite easy, it's cheaper, out of beta and is
now available in Australia

On Fri, Feb 22, 2019 at 9:49 AM Eric <notifications@github.com> wrote:

[2019-02-22 16:25] WaldenH commented on #411
@joehan thanks, it works now!!!

[2019-02-22 16:25] #411 closed

[2019-02-23 12:12] waqaramjad opened #416 "Cannot read property 'match' of undefined"
### Related issues

the issue does not solve my problem

### [REQUIRED] Version info

[code]

**node:**
6.0

**firebase-functions:**
.onWrite

### [REQUIRED] Expected behavior
call .onwrite and tell me data updated or not

### [REQUIRED] Actual behavior

TypeError: Cannot read property 'match' of undefined
    at resourceToInstanceAndPath (/user_code/node_modules/firebase-functions/lib/providers/d

[2019-02-23 14:13] davemaier opened #417 "Property req.rawBody is missing"
### Related issues

### [REQUIRED] Version info

**node:**

v11.6.0

**firebase-functions:**

2.2.0

**firebase-tools:**

6.4.0

**firebase-admin:**

7.0.0

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce

Implement a http request handler function. Try to use req.rawBody.

### [REQUIRED] Expected behavior

I expect req.rawBody to exist, just like it is mentioned in the document

[2019-02-23 21:04] DaveNash opened #418 "Emulator fails to load functions source code; deploy also not working"
Functions serve/deploy were working until recent update of firebase-tools and/or firebase-functions

### Related issues

https://github.com/firebase/firebase-tools/issues/609

### Version info

**node:**
6.11.5
**firebase-functions:**
2.2.0
**firebase-tools:**
6.4.0
**firebase-admin:**
7.0.0

MacOS Mojave 10.14.3
### Test case

### Steps to reproduce

### Expected behavior

functions hosted locall

[2019-02-23 22:37] wpapper commented on #252
Also encountered this today. Didn't see anything in the Getting Started documentation for Firebase + Typescript about this. It would be very helpful to mention this in the firebase serve command itself when Typescript files are detected.

[2019-02-25 18:41] jloosli opened #419 "Deployment Error: Insufficient permissions to (re)configure a trigger"
### Related issues

#39

### [REQUIRED] Version info

**node:**
v10.9.0

**firebase-functions:**
2.2.0

**firebase-tools:**
6.4.0

**firebase-admin:**
6.0.0

### [REQUIRED] Test case

Not sure how to do this since it's tied to a specific project

### [REQUIRED] Steps to reproduce

`firebase deploy --only functions`

### [REQUIRED] Expected behavior

Deploy firebase functions without error.

### [R

[2019-02-25 19:13] jloosli commented on #419
OK...I figured it out. I removed the `.bucket('registration')` from the code. I was trying to watch a subfolder called 'registration' in my default bucket. In my mind, the `.bucket()` was used like `.collection()` or `.doc()` in firestore, where it denoted a hierarchy. It looks like I just watch the default bucket, then look at the object.id or object.name to determine if it's in the 'registration

[2019-02-25 19:13] #419 closed

[2019-02-25 19:15] joehan commented on #417
Hey @davemaier, thanks for reporting this, and sorry to hear that you've been having trouble! This appears to be a documentation issue on our end. Firebase uses express Request and Response objects, and [rawBody is a property that was removed from express.Request a couple versions ago](https://github.com/expressjs/express/issues/897). There are some good workarounds in that thread if you need this

[2019-02-25 19:19] joehan commented on #417
Internal bug reference:  126210339

[2019-02-25 19:28] joehan commented on #416
Hey @waqaramjad , thanks for reaching out with your issue. Could you add the full code for your database function to the original post? It will help us debug your issue. From the error logs you posted, it looks like you might not be passing a resource string to your functions.database.ref() call.

Example of onWrite usage:
[code]

[2019-02-25 19:30] samtstern commented on #412
While the error is bad and I agree it would be nice to make this smoother, I wonder if this is actually working fine right now.  This seems to show that the function executed (and then 400-ed) which means it was "warmed up" as desired.  @thechenky is that true?

[2019-02-25 19:31] kevinajian commented on #419
Glad you were able to resolve this. You're right about `.bucket()`, which is for specifying a bucket other than the default.

[2019-02-25 19:33] samtstern commented on #418
@DaveNash unfortunately this is a problem with the emulator.  Right now the emulator can only emulate Node 6 functions.  You can see from this part of the function sample you're using that it's written for Node 8:

[code]

If you go to the `master` version of that repo you should find the Node-6 version of the function:
https://github.com/firebase/functions-samples/tree/master

And we know this si

[2019-02-25 19:33] #418 closed

[2019-02-25 23:48] thechenky commented on #412
@samtstern yep, that's correct, the function should have executed and thus warmed up - I think the problem here is just the pollution of the errors in the logs since this warming up happens periodically.

[2019-02-26 02:21] DaveNash commented on #418
Thank you @samtstern. It's weird, because I've seen the warnings, but was successfully emulating/deploying async/arrow functions for weeks.

[2019-02-26 04:41] samtstern commented on #418
@DaveNash huh really?  I can't really explain how that worked ...

FYI here is the relevant limitation:
https://github.com/GoogleCloudPlatform/cloud-functions-emulator/blob/master/README.md#note

As I said we know this is pretty lame and are working hard to improve it.

[2019-02-26 15:10] wooliet commented on #417
I have a `https.onRequest` cloud function just recently deployed that relies on `rawBody`, and it has been working fine.

If I'm not mistaken, the issue reported here deals with Typescript build errors preventing a deployment.

Is it possible that `rawBody` was added (maybe using one of the workarounds in the Express issue you link to) as part of firebase cloud functions?

[2019-02-26 17:27] DaveNash commented on #418
Is this no longer true?
https://github.com/firebase/functions-samples/tree/master/es2017-transpile

[2019-02-26 17:30] samtstern commented on #418
@DaveNash definitely true, if you use a transpiler you can write your code with advanced Node 8+ features and get it to run in a Node 6 environment.  I was just commenting on native Node 8 code not being compatible with the emulator.

My preferred environment is just to develop in TypeScript and then target the TypeScript compiler at Node 6, then I never have to think about this stuff and I get al

[2019-02-26 17:50] joehan commented on #417
Hey @wooliet and @davemaier, super sorry for the confusion. While rawBody was removed from express a while ago, Cloud Functions still provides it. I'm going to make a quick PR to add this property to our types so that it no longer gives Typescript users trouble.

[2019-02-26 19:02] #417 closed

[2019-02-26 20:55] davemaier commented on #417
Hi, big thanks to both of you for your support, saved me a lot of time.

@joehan I just wanted to mention that this problem also exists with the ESlint files when using the javascript, seems like they also don't contain the rawBody for the request type.

[2019-02-26 21:29] DaveNash commented on #418
FYI, I've reverted to firebase-functions 2.1.0 and the emulator is working again. I don't have time to further investigate, but there must be (?) a transpiler included there that was dropped in 2.2.0.

[2019-02-27 03:58] samtstern commented on #418
Huh that's super interesting thanks for noting it!

[2019-02-27 15:25] leads commented on #299
Hi all.
Having a sad time here!

Using node v 8.9.0 locally, as suggested above.
This is my package.json
[code]

eslintrc.json content now includes the following:
[code]

and this is the content of my function (index.js)
[code]

`firebase serve` errors with: `SyntaxError: Unexpected token import`

[2019-02-27 15:28] leads commented on #299
and some further info after I run `firebase serve`

i  functions: Preparing to emulate functions.
Warning: You're using Node.js v8.9.0 but Google Cloud Functions only supports v6.11.5.
⚠  functions: Failed to load functions source code. Ensure that you have the latest SDK by running npm i --save firebase-functions inside the functions directory.
⚠  functions: Error from emulator. Error occurred wh

[2019-02-27 15:37] leads opened #421 "Node 8 not working"
Hi all.
Having a sad time here! Seen a couple of issues around this. I believe I have tried all the suggested and working fixes.

Using https://console.firebase.google.com *not* Cloud

Using node v 8.9.0 locally, as suggested in another issue.

firebase version: 6.40

This is my package.json
[code]

eslintrc.json content now includes the following:
[code]

and this is the content of my function (i

[2019-02-27 15:38] leads commented on #421
and some further info after I run `firebase serve`

i functions: Preparing to emulate functions.
Warning: You're using Node.js v8.9.0 but Google Cloud Functions only supports v6.11.5.
⚠ functions: Failed to load functions source code. Ensure that you have the latest SDK by running npm i --save firebase-functions inside the functions directory.
⚠ functions: Error from emulator. Error occurred while

[2019-02-27 16:04] leads commented on #421
You know what. I'm an idiot, aren't I?
import isn't supported by Node yet, is it? F M L.

Removed that code, it deployed fine and it says Node8 as the runtime.

[2019-02-27 16:04] #421 closed

[2019-02-27 17:40] waqaramjad commented on #416
Problem resolved by changing npm version

[2019-02-27 17:40] #416 closed

[2019-02-27 23:26] DaveNash commented on #418
@samtstern, FYI & FWIW, I no longer think that's what did it. I restarted my machine for an unrelated reason, and found the emulator was back to not working. I deleted Functions > Node Modules, re-ran npm install to use firebase-tools ^6.0.0 and firebase-functions~2.1.0, and this time it still wasn't emulating properly. Then I switched to using Node 8.11.1 (via nvm use command) and, though the emu

[2019-02-28 18:56] jennmueng commented on #299
Looks like I'm stuck at the same spot @leads is

I've used `nvm` to use node v8.9.0, have reinstalled both `firebase-tools` and `@google-cloud/functions-emulator` with both `yarn global` and `npm -g` but I still receive the exact same error, along with the warning `Warning: You're using Node.js v8.9.0 but Google Cloud Functions only supports v6.11.5.`.

I looked at `@google-cloud/functions-emulato

[2019-03-01 16:04] leads commented on #299
@jennmueng
I started another issue here https://github.com/firebase/firebase-functions/issues/421 but quickly closed it.

**`import` isn't supported by any version of node!**

Remove that line, and/or just make a really basic function and try deploying it. See if it goes to Functions as a Node 8 function.

see my thread for details on eslintrc.json and make sure the engines setting is 8 in package

[2019-03-01 18:02] lpellegr commented on #412
I confirm the issue is only about logs pollution. Would you accept a pull request that addresses this problem?

[2019-03-02 19:55] cheney-enterprises commented on #27
@themikefuller - I have attempted to use your solution, and it works when using the direct link to the function (https://us-central1-app-name.cloudfunctions.net/app/). However, when incorporating to my custom domain, it does not work. Do you have any suggestions?

also, just a bit of extra detail, I am requiring only express `const express = require('express')` as adding .Router/.router/.Router()/

[2019-03-03 01:51] themikefuller commented on #27
@cheney-enterprises
Hello. When you saying "forwarding to a subdomain"...

Can you explain your setup? Thinking out loud I can envision a few reasons why forwarding it might be a problem. Skipping all those assumptions, I'll explain how I got a custom domain working:

Using Nginx on a vps, I used proxy_pass to forward requests on that domain (subdomain) to that function's direct link. In this inst

[2019-03-04 00:08] igorakkerman opened #422 "Rewrite from hosting to function in europe-west1 requires billing account"
I tried setting up a simple rewrite to a simple function (hello-world grade). The function was successfully deployed in europe-west1. The rewrite is triggered but redirects to a Google authentication page. Here's the message from the function's log:

    Billing account not configured. External network is not accessible and quotas are severely limited. Configure billing account to remove these res

[2019-03-04 00:50] igorakkerman commented on #422
Got a reply on Twitter:

Firebase Hosting can currently only rewrite to functions in us-central1. It's something we're thinking about looking at in the future, though.

Thanks.

[2019-03-04 15:13] igorakkerman commented on #422
IMO the CLI should warn you about deploying rewrite rules to an unsupported region. It took me quite some time finding the issue and the limitation.

[2019-03-04 16:06] joehan commented on #422
Hey @igorakkerman, thanks for posting the response you got on Twitter here, it definitely helps future developers who are having the same issue. Good idea about adding a warning for rewriting to unsupported regions - I'm going to transfer this issue over to the CLI repo, so that we can triage it over there.

[2019-03-04 16:10] joehan commented on #417
@davemaier Thanks for the heads up - I believe that the #420 should fix the problem with ESLint as well, but I'll double check. Regardless, this should be resolved next time firebase-functions releases :)

[2019-03-04 23:18] thechenky commented on #412
Hi @lpellegr this might take more thinking. I understand your use case and that warming functions is generally a pattern that many of our developers have to use right now, as unfortunate as that is. I'm afraid that adding support for another method to callable function solely for the purpose of warming it up without log pollution is not the best approach. Is there a way you could do a POST with so

[2019-03-04 23:38] lpellegr commented on #412
@thechenky That's a possibility but in that case, the issue is with the internal requirements set by `firebase-functions`. The warmup is performed on the server side, using the client SDK is not a solution. Sending an HTTP POST requires to fake your assertions. I am afraid your code may change and break the POST in the future, especially since there is a TODO as a comment in your filter:

https://

[2019-03-04 23:44] thechenky commented on #412
@lpellegr I don't think this is a no-go, but just requires a bit more time to make sure we're being careful about changing the callable interface. Give us some time to discuss this option internally, and I'll get back to you with an update.

[2019-03-04 23:48] lpellegr commented on #412
@thechenky Great. Thanks.

[2019-03-06 21:36] eazeye commented on #300
Surprised I didn't see it mentioned in this thread, but if you have to do user-agent validation/authorization checks, that logic can be managed within Firestore rules, which does have access to the auth context

[2019-03-06 22:33] RUPALAVECINO commented on #404
node_modules/firebase-functions/lib/function-builder.d.ts(60,116): error TS1005: ';' expected.
npm ERR! code ELIFECYCLE
npm ERR! errno 2
npm ERR! functions@ build: `tsc`
npm ERR! Exit status 2
npm ERR!
npm ERR! Failed at the functions@ build script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be found i

[2019-03-08 00:15] adamduren commented on #300
Second what @eazeye said. Surprised it wasn't mentioned earlier.

[2019-03-08 20:52] miketierce commented on #343
Could you share more details about how you setup your process.env.GCLOD_PROJECT to accomplish deploying to firebase? I'm getting this same error attempting to deploy this project fork https://github.com/muhibbudins/nuxt-multiple

[2019-03-09 00:43] PierBover commented on #343
I have an `environments.js` file with my different env configurations, and then something like this:

[code]

I call `getEnvironmentConfig()` from inside my cloud functions.

If I remember correctly the problem I had was that I called `getEnvironmentConfig()` before the function was executed or something like that.

[2019-03-18 08:30] kitfit-dave opened #423 "Not depending on latest firebase-admin"
### Related issues

#354
(#163)

### [REQUIRED] Version info

**node:**
Any

**firebase-functions:**
2.2.0

**firebase-tools:**
N/A

**firebase-admin:**
^7.1.0

### [REQUIRED] Test case

`npm init`

### [REQUIRED] Steps to reproduce

install as per docs:
`npm install firebase-functions@latest firebase-admin@latest --save`

### [REQUIRED] Expected behavior

To not see a warning

### [REQUIRED] Actu

[2019-03-18 19:04] kevinajian commented on #423
Hey David,

Thanks for the feedback. We will look to address this in https://github.com/firebase/firebase-functions/pull/424.

[2019-03-18 19:53] merlinnot opened #425 "Intent to implement: retry option for event triggered functions"
## Overview

Based on a discussion in https://github.com/firebase/firebase-functions/pull/370 I'd like to propose an improved version of the feature that should cover the concerns raised in the original implementation. I'm willing to work on adding this feature.

## Design proposal

### Definitions

Let _new function with retries_ be a Cloud Function which has the option for reties set and it's pr

[2019-03-19 07:21] rodelrebucas opened #426 "Error when using async/await"
I can't deploy my function there is an error that says:

and

when I don't include

I have this on my .babelrc

[code]
I'm using express with functions, works fine when using express, but when deploying it shows the error above.

It fails when I use async/await.

[2019-03-19 17:50] kevinajian commented on #425
Hey @merlinnot,

Thanks for the feedback. I'll bring this up for discussion again with your new considerations.

For now, you can still enable retries through the [Cloud Console](https://cloud.google.com/functions/docs/bestpractices/retries#using_the).

[2019-03-20 18:21] kevinajian commented on #426
Hey Rodel,

Can you fill out the bug template with the required info including what versions you're using? async / await is only supported in Node 8, but it's hard to tell without more info.

Thanks.

[2019-03-20 23:15] kevinajian commented on #423
This is updated in the 2.2.1 release. Will close this out.

[2019-03-20 23:15] #423 closed

[2019-03-21 01:59] rodelrebucas commented on #426
Thanks for responding @kevinajian, I have resolve the issue now.

For the 1st error:

The issue is I have multiple exports in a file containing the my main function.  I have exported the main express app for development and the main function app for production.

For the 2nd error:

I have targeted node version 8  for the `@babel/preset-env` in my `.babelrc`

I'm closing this issue now. Thanks.

[2019-03-21 01:59] #426 closed

[2019-03-21 20:12] kevinajian commented on #426
Great. Glad you resolved the issue and thanks for posting your solution.

[2019-03-23 15:30] danu165 commented on #84
I found that if you cd into your functions folder and then run firebase serve, it works.

[2019-03-25 15:43] didbarbosa opened #428 "POST null body - SyntaxError: Unexpected token # in JSON at position 0"
Hi guys,
I have a cloud function running Express to serve as a web hook endpoint.
My client sends a POST request with a **null** body value.
And the service returns 400 Bad Request with this log :

But **null** is a valid JSON value. Any other correct JSON value seems fine.
Express doesn't seem to be reached, so I suppose it is parsed and validated upfront?

As more concrete exemples :
response 20

[2019-03-25 18:08] joehan commented on #428
Hey @didbarbosa, thanks for filing this. This is a known behavior for Google Cloud Functions - it uses https://www.npmjs.com/package/body-parser#strict when parsing the body for requests. This setting will only accept arrays and objects as a valid body value.
Unfortunately, this issue lies outside the code in this repo - I've added your issue to our internal bug tracker to raise visibility, and to

[2019-03-25 20:57] joehan commented on #428
Closing since this issue can't be address thru the code in this repo.

[2019-03-25 20:57] #428 closed

[2019-03-26 11:39] m4recek opened #429 "Node 8 - 'connection error'"
Hi,
after switching our functions to NODE 8 we are seeing "random" function failures with a message `connection error`.
It is always right before resource id is replaced.  There is no additional info provided.

(`MSSQL pool create: null` means we that connection was established without error)
![image](https://user-images.githubusercontent.com/1221226/54994414-7ebcd680-4fc4-11e9-8fba-2010ee1629de.p

[2019-03-26 16:25] joehan commented on #425
Hey @merlinnot, we discussed your proposal and we think its a pretty reasonable way to introduce retries, and we'd like to move forward. Some quick design notes - let me know if they sound good to you:

- theres no need to include the warning prompt when updating a function that already has retires enabled.
- Could you include a link to https://cloud.google.com/blog/products/serverless/cloud-funct

[2019-03-26 17:28] merlinnot commented on #425
Great, I'll adjust the proposal accordingly as soon as I find some time (within 24hrs).

[2019-03-26 19:51] thechenky commented on #429
Hi @m4recek thank you for reporting this. Unfortunately we have been seeing several reports of this "connection error" happening with Node8 runtimes. There is work to track this down in the Google Cloud Functions infrastructure (internal bug reference: 124230993)  and I will ping that thread to get it prioritized since this seems to be reoccurring.

Do you always get this error or only transiently

[2019-03-26 21:07] m4recek commented on #429
Hi, thanks for quick reply!

Do you always get this error or only transiently?
- always

Has your function been able to run at any point with Node8?
- functions are responding until this happens for one request, afterwards underlying resource is replaced (see screenshot) and we are running fine until next error. Its best to test this on a slow reoccurring requests (our is running every 10s)

I ass

[2019-03-26 22:46] thechenky commented on #429
I think in this case it's an infrastructure issue, try the workaround and let me know if it helps. Regarding bug-free code that was just my way of warning that you do get charged for retries same as normal invocations ;)

[2019-03-27 11:07] merlinnot commented on #425
Ok, I updated the proposal. Let me know what you think :)

[2019-03-27 13:42] xkLander commented on #263
Hi @mbleigh, I am having a very similar issue to the guy above I believe.
The first snippet is done very fast, less than a second, I get the response "works", and the second snippet takes 6 seconds:
Snippet 1:
`export const helloWorld = functions.https.onRequest(async (req, res) => {
  console.log(process.env.FUNCTION_NAME + ' has started');
  const admin = await import('firebase-admin');
  admin.

[2019-03-27 21:26] xkLander opened #430 "Cloud functions cold boot gets very slow when using firestore"
We are experiencing extreme cold boot times, even with a small function like helloWorld, it takes like 5-6 seconds when firestore is used. Please see the following examples.
The first function is done very fast, less than a second, I get the response "works", and the second time, after querying firestore, takes 6 seconds:
Function Version 1:
[code]
Function Version 2, takes 6 seconds to return the

[2019-03-27 21:44] thechenky commented on #430
Hi @xkLander thank you for filing this, I'm sorry to hear you're having this issue. The first call to Firestore is quite heavyweight unfortunately since we have to create a gRPC connection under the hood and that takes some time. I'm curious - on subsequent runs of the V2 function, does it return faster? Since the connection to Firestore is established, it should be faster to call Firestore a seco

[2019-03-27 23:14] xkLander commented on #430
The second call, in a warm state, it is much faster, like 300-400ms, so thats not an issue, the issue is the cold boot :/

[2019-03-28 15:27] thechenky commented on #430
I want to be careful in calling this a cold boot issue - cold starts are a little different. Global scope is what affects cold starts and makes them slower. Cold start should be the same for both of your two functions, regardless of what they're doing in the function body (as that is not part of cold start). What it looks like you're experiencing is slow first calls to Firestore - this is a differ

[2019-03-28 17:08] xkLander commented on #430
I agree, its a firestore issue. The firestore is in nam5 (us-central), and cloud functions in us-central1

[2019-03-28 19:01] thechenky commented on #430
Hi @xkLander I've filed an internal bug (bug reference 129483100) with the Firestore team and linked to this thread here. If you have anything more that can help us debug, please don't hesitate to paste it into this thread.

As this issue is not something that can be fixed in this repo, our policy is to close this out. However, I will ping this thread with any updates from the internal bug when th

[2019-03-28 19:01] #430 closed

[2019-04-01 17:39] thechenky commented on #430
Hi @xkLander I followed up with the team, and this is the same issue as https://github.com/googleapis/nodejs-firestore/issues/528. To summarize, we are using gRPC to make the call to Firestore, which is very heavyweight, and so it's being lazy-loaded on the first call, which is why you're seeing such long first call times (explained in https://github.com/googleapis/nodejs-firestore/issues/528#issu

[2019-04-01 17:45] joehan commented on #425
Hey @merlinnot, lI've submitted the proposal to the API review council - its scheduled to be reviewed on 4/8/2019. I'll post here again with the results, but I think it looks good .

[2019-04-01 18:00] mbleigh commented on #263
This is due to googleapis/nodejs-firestore#528 and the dependence of the Firestore SDK on gRPC. You can read the discussion there for more context.

[2019-04-03 17:41] shaneosullivan commented on #429
We are also seeing this issue and also only since upgrading to Node 8 from Node 6 in March.  I'm happy to provide any assistance to getting it resolved as it is hitting our production servers.

The retry workaround does not help, as we have HTTP endpoints that various client apps use, and adding retry logic to these, particularly to writes, is not desirable.

[2019-04-03 19:13] thechenky commented on #429
Thanks for chiming in @shaneosullivan and thanks for the kind offer. Unfortunately this issue cannot be resolved in the public facing functions SDK (this repo) as it looks like a Google Cloud Functions infrastructure issue with the Node 8 runtime. I'll check in on the internal bug we have to track this and post any updates here.

[2019-04-05 18:24] madakk commented on #430
@thechenky When attempting to set the `GOOGLE_CLOUD_USE_GRPC_JS` flag, my calls ends up failing with the following error:

`Error: Not available in this library. Use @grpc/proto-loader and loadPackageDefinition instead at Object.exports.loadObject`

It appears that although firestore is seemingly using gRPC-JS, google-gax is falling back to "legacy" behavior (although it seems to rely on the same

[2019-04-07 10:23] polRk commented on #430
I think, it can help
https://www.youtube.com/watch?v=v3eG9xpzNXM

[2019-04-09 22:40] eclewlow commented on #95
userThis example basically doesn't work, according to this thread.

https://github.com/firebase/functions-samples/blob/62379ddeec765c44c21f88b53b2c8ef4077201a2/quickstarts/email-users/functions/index.js#L49

[2019-04-09 22:49] eclewlow commented on #95
Oh nevermind.  It works with firebase-admin.
https://firebase.google.com/docs/auth/admin/manage-users#create_a_user

[2019-04-10 04:21] thechenky commented on #430
@polRk thanks for the suggestion, but that's actually a different problem. This thread discusses the issue of a slow first call to Firestore. I've updated the description to make that a bit clearer as the original title made it a bit misleading.

[2019-04-11 02:47] tuanngominh commented on #429
This error happens randomly in our cloud functions too. The app uses firestore. For now we need to downgrade to Node 6.
<img width="1352" alt="Logs_Viewer" src="https://user-images.githubusercontent.com/2210733/55927291-be2f2800-5c3e-11e9-87be-2ea672a2907d.png">

[2019-04-11 05:15] shaneosullivan commented on #429
We also have been seeing this since updating to Node 8.  It got so bad that sometimes we were seeing a 50% failure rate hitting a function that served a GraphQL application.  We're downgrading our entire fleet to Node 6 as the situation is simply untenable, our product is seriously degraded as a result.  Moving the initial set of servers to Node 6 has completely fixed the issue, and we expect that

[2019-04-13 00:44] thechenky commented on #429
Hi @shaneosullivan , thanks for the additional info. After following up on the internal bugs tracking this, it looks like a similar issue to https://buganizer.corp.google.com/issues/125425924#comment18. The Cloud Functions team is actively investigating this - please feel free to drop a line in that bug and sharing your project number (publicly or privately) to help with the debugging. Additional

[2019-04-13 12:05] siebmanb commented on #275
Thanks a lot @paujur for pointing me in the right direction. I had the same issue a year ago and again today, took me hours to understand because there is no error logged anywhere... How can we make sure that does not happen in the future?

[2019-04-16 18:10] thechenky commented on #430
@madakk I'm hearing this issue has been fixed in a patch release of Firestore.  You will need to be using the latest admin and functions versions, and also will need to redeploy the function. Can you try that and see if it works for you?

[2019-04-17 15:56] dkodeit commented on #82
Solution works, thanks. There is a typo though, missing an arrow function.

forEach(child => {

For reference: https://firebase.google.com/docs/reference/node/firebase.database.DataSnapshot#foreach

[2019-04-19 07:46] merlinnot commented on #425
@joehan, do we have any update on this?

[2019-04-19 23:34] joehan commented on #425
Hey @merlinnot, super sorry for the delay on this. Just checked in with the approvers - we made some minor changes to the proposal, and they are at LGTM pending one question about how to handle the following situation: a user has set a retry policy manually on a function, and then they redeploy after this change goes in. We want to make sure that they do not accidentally unset their retry policy w

[2019-04-20 04:57] shaneosullivan commented on #429
@thechenky that seems to be an internal Google site, unfortunately I can't access it, as I don't work at Google.

[2019-04-21 03:39] morgs32 commented on #336
Pleassssse let us only install prod dependencies

[2019-04-21 10:03] merlinnot commented on #425
Great, thanks!

[2019-04-22 15:33] divyesm commented on #421
Hi I think this answer may also help https://github.com/eslint/eslint/issues/8366

[2019-04-23 17:11] joehan commented on #425
Hey @merlinnot, good news! Your proposal was accepted! The council had a few implementation notes:

- We are a little worried about unsetting existing retry policies without user noticing. Therefore, whenever the CLI would delete a retry policy, we should show the following warning: 'You are about to disable retries for functionA. Would you like to proceed? Y/n'

- The interface for Runtime option

[2019-04-23 20:07] merlinnot commented on #425
Great news! I'm on holiday next week, will pick up the implementation soon after.

Thanks for helping me out with getting it through the council 👍

[2019-04-24 15:31] joehan commented on #425
Sounds great! And my pleasure, we always love community contributions :)

[2019-04-26 09:13] xaksis commented on #300
@adamduren it wasn't mentioned because the scope of the requirement is bigger than just user-agent validation/authorization checks.

Consider the following example: I have an object A that can be accessed by a team of users. It is important in such a system to keep a record of who deleted object A. Ideally you'd be able to write an onDelete trigger to add a record - personB, deleted object X, date

[2019-04-26 11:05] m4recek commented on #429
Hi, is there any update?

Being on Node 6 is a bit of a challenge nowadays. Today we cant release because [gaxios](https://github.com/JustinBeckwith/gaxios/issues/86) just dropped support for Node 6. Which is dependency of **Google's pubsub**.

**Current state is:**
Node 6 - will reach end-of-life in 4 days, more and more packages are dropping support
Node 8 - has this bug for at least a month now

[2019-04-26 17:43] shaneosullivan commented on #429
We've also had to force our servers to use an old version of `gaxios` just today.  This is getting crazy, we simply cannot upgrade to Node 8 again as the failure rate is beyond unacceptable (up to 30% on some calls).  When will this be fixed?  If there is not a fire drill/war room situation inside the Google Cloud team right now, there should be

[2019-04-26 19:20] adamduren commented on #300
@xaksis valid point, had not considered that use case.

A workaround, although far from perfect, would be to have onRequest cloud functions called for document mutations. You could then have a `auditTrail` wrapper function that wraps any function you want to monitor audits to.

This would enable the keeping of an audit trail since HTTP requests have the auth context. However I recognize the overhe

[2019-04-26 21:58] xaksis commented on #300
@adamduren yeah, we actually went that route but it has a lot of disadvantages. Some you identified, others:
1. http function calls are significantly slower than firestore commits
1. This would render firestore's offline persistence useless since delete calls would necessarily need to make a server round trip for all deletes.

[2019-04-27 23:10] justinh00k commented on #95
This is still annoying. Other login methods provide displayName on auth create, but email doesn't, even though the UI gets the display name the same time as the password.

[2019-04-29 06:22] thechenky commented on #429
Hi @m4recek, @shaneosullivan I'm sorry you're still struggling with this issue. I've checked on the internal bug and the GCF team is working hard to resolve this. I have pinged the bugs again to make sure your concerns have been passed on. Will post more updates as I have them. Apologies for this frustrating experience!

[2019-04-29 06:36] thechenky commented on #27
Hello everyone - this issue has now been fixed for all Node runtimes >= 8 - see the public https://b.corp.google.com/issues/122944969. Thanks for everyone's patience!

[2019-04-30 17:37] bashizip commented on #319
This should be well documented in the official doc !!

[2019-05-01 20:48] estill01 commented on #300
Summary of how I solved this / a workable solution similar/same as (?) [Comment #300](https://github.com/firebase/firebase-functions/issues/300#issuecomment-428593485):

**On client**
Add logged in/current user's uid (e.g. as `creatorId`) to entity they're creating. Access this uid by storing the `firebase.auth().onAuthStateChanged()` User object in your app state.

**In Firebase Firestore/Databas

[2019-05-02 07:02] uloga commented on #227
Typescript version 3.2.2, latest firebase - functions getting the same lint errors while following documentation on firebase. :(

[2019-05-02 19:34] GIOkafor commented on #404
@RUPALAVECINO did you try updating to firebase-admin@^7.0.0?

I ran `npm install typescript --save-dev` but still got errors which running: `npm install firebase-admin@^7.0.0` made go away.

It could be that package(firebase-admin), or another peer dependency preventing it from installing.

[2019-05-02 23:53] doowb opened #432 "Node 10 callable function returning unauthenticated"
### Related issues

### [REQUIRED] Version info

**node:**

`v10.15.2`

**firebase-functions:**
`2.3.0`

**firebase-tools:**

`6.8.0`

**firebase-admin:**
`7.3.0`

### [REQUIRED] Test case

Create a callable function:

[code]

In client side javascript, call the function after the user has logged in:

[code]

### [REQUIRED] Steps to reproduce

Deploy the function using the `node 10` engine configu

[2019-05-03 00:46] thechenky commented on #432
Hi @doowb would you be able to provide more of the code so that I can try to reproduce? Specifically the client side code and your hosting assets.

[2019-05-03 00:50] thechenky commented on #432
This seems like it touches a lot of the Firebase product pieces and something is happening in a call between two systems. I feel like this would be a more involved case that is better solved by filing a [support ticket](https://firebase.google.com/support) (also the advantages there are that you can fully share your code without it being visible publicly).

[2019-05-03 01:09] doowb commented on #432
@thechenky thanks for responding so quickly. This isn't a stopper for me right now since the functions work when deployed with `node 8`. I'll try to create a minimal case to post here and open a ticket if it becomes an issue in my main code.

[2019-05-03 01:11] thechenky commented on #432
@doowb thanks! Would be great to see a minimal case so that I can try to reproduce. Curious, do you have other Node 10 functions? And do they work alone in isolation?

[2019-05-03 01:16] doowb commented on #432
The function that had the issue was using the admin sdk so I created the `hello` function to see if the issue was with the function or with the admin sdk. This project doesn't have any other functions yet. It will have auth triggers and firestore triggers, but I haven't tested those yet.

Also, I do realize that `node 10` is still in `beta` for `firebase-functions` so I understand there might be s

[2019-05-03 18:33] thechenky commented on #432
Are you using a VPC of any kind? This is puzzling because it sounds like a permissions issue where the client cannot call the HTTP function - but this should be independent of the runtime. Are you able to call the function directly (by hitting the URL yourself, not in the client)?

[2019-05-03 20:35] doowb commented on #432
I haven't had a chance to try that yet. Also, I just started using callable functions and I wasn't aware that I could call it through the URL directly.

[2019-05-04 06:20] LanderBeeuwsaert commented on #432
Hey, jumping in here. I have the same issue. It's ok if I use node 8 as engine (in package.json)
I use callables:
functions().httpsCallable("xyz")(params);

[2019-05-04 15:49] mbleigh commented on #432
I have a couple ideas of places to look. I think it might have to do with
the environment variable differences between Node 8 and 10 runtimes in
Cloud Functions.

Hopefully we can dig further soon.

*From: *LanderBeeuwsaert <notifications@github.com>
*Date: *Fri, May 3, 2019, 11:20 PM
*To: *firebase/firebase-functions
*Cc: *Subscribed

Hey, jumping in here. I have the same issue. It's ok if I use

[2019-05-04 18:48] Bob-Snyder opened #433 "FIREBASE_CONFIG not set when Node.js 10 function deployed"
### [REQUIRED] Environment info

**firebase-tools:** 6.8.0

**Platform:** Windows 10

### [REQUIRED] Test case
I had a set of functions built using Node.js version 6.  They were successfully deployed and running.

I took the following actions to upgrade to use a newer version of Node:
  -- Upgraded my Windows development system to Node.js version 10.15.3
  -- Upgraded to latest Firebase tools: `np

[2019-05-06 15:30] thechenky commented on #432
Thanks everyone for your feedback - this does indeed look like a bug on our side specific to Node 10 functions. We are working on a fix. Please see https://github.com/firebase/firebase-functions/issues/433 for more context. Thanks for your patience!

[2019-05-06 15:59] Bob-Snyder commented on #433
@thechenky
When the function executes, the only logs produced are these two:

`Function execution started`
`Function execution took 392 ms, finished with status code: 401`

The global initialization for my functions is:

[code]

Here's one of the functions.  As I noted above, when execution fails, none of the expected log messages appear; only the exit status of 401.

[code]

[2019-05-06 16:52] rilian commented on #433
i have the same issue, and it happens when code access the runtime configuration values set by `firebase functions:config:set`, in this example it is my `cors_origin` value:

[code]

[code]

meaning `functions.config()` returns `undefined`

everything works fine on node 8

probably firebase-functions package is outdated and we should wait for it's next release ?

[2019-05-07 16:53] joehan commented on #429
Removing the no-recent-activity label so this doesn't get automatically closed

[2019-05-07 17:19] thechenky commented on #433
Thanks @rilian for that report as well - these issues are connected since both `functions.config()` and `FIREBASE_CONFIG` are populated by reading in the `.runtimeconfig.json` file, which the SDK can no longer find in the Node 10 runtime.

While I have a pending SDK fix for this, upon further investigating, I think this is a bug in the functions backend, and should be fixed there (see https://gith

[2019-05-07 17:20] thechenky commented on #432
Quick update: this looks like it might be a bug in the functions backend (see #434 (comment)). We are working with the relevant teams to resolve these issues. Thanks for everyone's patience!

[2019-05-07 17:26] rilian commented on #433
thank you @thechenky

sorry for unrelated question, but which of these `functions.config()` or `FIREBASE_CONFIG` is preferred to use across the application, once this will be fixed  ?

[2019-05-07 18:07] thechenky commented on #433
@rilian they serve different purposes. `functions.config()` is used if you're storing some custom key value pairs. To set the keys, you would do `firebase functions:config:set some-service.key=value`. To use that value in your functions code, retrieve it as you did with `functions.config().some-service.key` (see these [docs](https://firebase.google.com/docs/functions/config-env) for more info).

`

[2019-05-07 18:14] thechenky commented on #429
I have some updates! The GCF team has identified a workaround that prevents the connection error issue from happening, and they are in the process of rolling this out to production in the next week. I'll update this thread when the fix is live. Thanks again for everyone's patience!

[2019-05-07 19:33] doowb commented on #432
@thechenky Thanks for the update!

[2019-05-09 09:04] ExtraBB opened #436 "Can't start Functions emulator because firebase-admin is not available"
### Related issues

### [REQUIRED] Version info

**node:** 8.16.0

**firebase-functions:** 2.3.0

**firebase-tools:** 6.9.1

**firebase-admin:** 7.3.0

### [REQUIRED] Test case

A freshly generated firebase project using `firebase init` with functions.

### [REQUIRED] Steps to reproduce

1.  Run `npm run start` (or `firebase functions:shell`)

### [REQUIRED] Expected behavior

The emulator starts

[2019-05-09 09:12] thechenky commented on #436
Moving over to firebase-tools as that's where the emulation is implemented.

[2019-05-09 09:32] peterpeterparker commented on #433
Same here, with Node v8 all fine, when I upgrade to Node v10 I get the following error which I provide with the stack trace I found in the Firebase console in case that would help:

[code]

[2019-05-09 10:43] MaximBazarov commented on #433
I have the same on prod with Node 8 as well
[code]

[2019-05-09 20:28] thechenky commented on #433
Quick update: we have identified and implemented the fix for unpopulated `FIREBASE_CONFIG` and `functions.config()` values. This should roll out to production sometime next week.

@MaximBazarov @peterpeterparker your issues are likely different and relating to `GCLOUD_PROJECT` environment variable missing from the Node 10 runtime (although it should work fine with Node 8). Please open a new issue

[2019-05-09 20:30] thechenky commented on #432
@doowb I'm curious to see this value, can you add a `console.log(process.env.GCLOUD_PROJECT` in both your function and your client? Is it empty?

Regarding `FIREBASE_CONFIG` and `functions.config()` values being not set, we've put in a fix: https://github.com/firebase/firebase-functions/issues/433#issuecomment-491053925

[2019-05-10 04:28] peterpeterparker opened #437 "GCLOUD_PROJECT environment variable missing from the Node 10 runtime"
### [REQUIRED] Version info

**node:**
Node v10

### [REQUIRED] Steps to reproduce

I have upgraded my functions from Node v8 to Node v10. Compilation as upload in the cloud are ok but I face an error at runtime, respectively `GCLOUD_PROJECT` is not found/set

Here the stack trace of the error I found in the Firebase console:

[code]

When I downgrade back to Node v8, I do not face that error.

##

[2019-05-10 04:30] peterpeterparker commented on #433
@thechenky thx. I opened a new issue, let me know if you need further information

https://github.com/firebase/firebase-functions/issues/437

[2019-05-10 06:07] thechenky commented on #437
Hi @peterpeterparker thanks for opening up the new issue. Can you provide a snippet of your functions code?

[2019-05-10 06:14] thechenky commented on #412
Hi @lpellegr, apologies for the late response. We reviewed your proposal but seeing as your use case is still working as desired (minus the logs pollution), it is not a strong enough case for altering the API surface of the callable interface. Additionally, if our interface changes (which is unlikely) in a way that breaks existing users, it will be a major version upgrade so you will be protected

[2019-05-10 06:14] #412 closed

[2019-05-10 07:30] peterpeterparker commented on #437
sure @thechenky here you go:

[code]

[2019-05-10 08:33] thechenky commented on #437
Hm, I would expect to see something calling Firestore to set the value (since the error is coming from here: firebase-functions/lib/providers/firestore.js:99:23). Is that in the `myUpdateMethod`? Would you mind pasting that too?

[2019-05-10 08:36] thechenky commented on #437
This is almost certainly due to `GCLOUD_PROJECT` env var no longer being populated in the Node 10 runtime. Are you deploying your functions using the Firebase CLI? I'm thinking maybe we can set that environment when we deploy your functions as a stopgap.

[2019-05-10 08:37] MaximBazarov commented on #437
@thechenky in my case it's
[code]

[2019-05-10 08:44] thechenky commented on #437
Ah yes, this confirms it then. Thank you for sharing your code! This is definitely a bug on our side with Node 10. I will make a note of this and try to get a fix out - I'll need to think on the best way to implement it though, so that might take a bit of time. The absence of this env variable impacts most event source providers, not just Firestore like in your case, so we need to be careful on ho

[2019-05-10 08:47] peterpeterparker commented on #437
Thx @MaximBazarov for the code, you were faster than me 😉

@thechenky thx for having a look at the problem and if you still need the example of code from my side or a tester, for sure let me know

[2019-05-10 12:47] kleeb commented on #416
this occurs on Node engine 8 and 10

[2019-05-10 18:18] ChrisBrownie55 opened #438 "Not loading .runtime.config.js when using pnpm"
### Related issues

### [REQUIRED] Version info

**node:**

v8.16.0

**firebase-functions:**
^2.3.0

**firebase-tools:**

6.8.0

I'm using 6.8.0 because `firebase functions:shell` doesn't work past this version

**firebase-admin:**
^7.0.0

### [REQUIRED] Test case

Here is a repro of this problem. The README file explains how to reproduce it yourself and includes screenshots of the issue failing a

[2019-05-11 01:16] justinh00k commented on #319
Yep, fixed it for me and never would have found it on my own!

[2019-05-11 01:49] bashizip commented on #319
Firebase functions just don't work!,

[2019-05-11 05:24] ohtangza commented on #300
I was developing a tracking system about who made a difference for a specific document. I guess there are use cases where we cannot find a programmatical workaround.

[2019-05-11 12:15] enbyted commented on #432
I'm new to firebase and this took me a few hours to find this bug report.

I discovered an interesting property - in node 10 engine for callable function when 'Authorization' header is missing the function is executed fine, but when it's present (either valid or invalid) the function is never executed and firebase returns `{"error":{"status":"UNAUTHENTICATED","message":"Unauthenticated"}}`.

[2019-05-11 16:38] IljaDaderko commented on #433
Just to confirm, I see same error on https callable functions after upgrading to node 10

[2019-05-13 06:14] khixer commented on #416
@waqaramjad could you specify your current npm version?

[2019-05-13 11:45] merlinnot opened #439 "Update dependencies and enable automated updates"
I'm currently working on a feature (#425) and I'm bumping into issues because of outdated dependencies. I'd like to make a PR with dependency updates, so it doesn't decrease readability of a PR with the feature. I'll go ahead and bump all dependencies that are not breaking.

What do you think about enabling [Renovate](https://renovatebot.com) for this repository? Here's a config we could use:

[co

[2019-05-13 12:43] jaschaio commented on #433
Seeing the same error:

`Function failed on loading user code. Error message: Warning, FIREBASE_CONFIG environment variable is missing. Initializing firebase-admin will fail`

Calls to `functions.config()` return undefined and thus crash the function deployment.

Within the functions emulator I get as well the error `Default "firebase-admin" instance created!` when calling `firebaseAdmin.initializ

[2019-05-13 12:55] merlinnot commented on #439
I can see that some of Firebase repositories use Repository Gardener. Let me know what's your preference and if I can help you somehow.

[2019-05-13 12:56] merlinnot opened #441 "Drop support for Node.js 6"
All Google libraries are now dropping support for Node.js 6. It would be useful to drop it in this library too, as there are some Node.js 6-specific workarounds in the codebase that might cause some pain in modern environments, such as https://github.com/firebase/firebase-functions/blob/18c01cbdc25d8f4fccb8847f6a4be86b6c7d4960/src/providers/https.ts#L180, which prevent this class from being extend

[2019-05-13 16:39] joehan commented on #441
Hey @merlinnot, thanks for the suggestion - this is something we are planning to do in the future. However, we are required to follow the deprecation timelines from Cloud Functions: https://cloud.google.com/functions/docs/concepts/nodejs-6-runtime, which states that it will be supported until April 22, 2020.

[2019-05-13 16:43] joehan commented on #439
I like the idea of enabling [Repository Gardener](https://github.com/GoogleCloudPlatform/repository-gardener) on this repo. The one snag I see is that we regularly sync this with a private repo, which might complicate things, but as long as we only enable it on the public side, I think it would work. @thechenky, what do you think?

[2019-05-13 17:39] merlinnot commented on #441
Did you consider maintaining v2 with security patches/bugfixes only and still releasing v3?

[2019-05-13 23:00] danprince opened #442 "Promise not handled in https.onRequest"
### [REQUIRED] Version info
**node:** 8.12.0
**firebase-functions:** 2.2.0

### [REQUIRED] Test case

[code]

### [REQUIRED] Steps to reproduce
Create two functions with the code above, then try calling both of them.

### [REQUIRED] Expected behavior
I would expect both types of HTTPS functions to handle errors in the same way, regardless of how they are invoked.

### [REQUIRED] Actual behavior
*

[2019-05-14 03:37] chriseickemeyerGH opened #443 "500 errors using Axios to consume server response json data"
### Related issues

### [REQUIRED] Version info

**node:** v10.15.3
**firebase-functions:** ^2.2.0
**firebase-tools:** 6.6
**firebase-admin:** ~7.0.0

### [REQUIRED] Test case
Trying to perform a basic Ajax request using Axios in my React front end to consume some json data sent from my Express-Cloud function backend. Getting 500 errors

root/functions/index.js - basic json response
[code]

React

[2019-05-14 17:02] shaneosullivan commented on #429
Hi @thechenky , any updates on this?  Have the fixes been deployed and verified?

[2019-05-14 19:26] Sheshagiri commented on #27
@themikefuller does it also work when you deploy the firebase functions locally using `npm run serve`?

[2019-05-14 19:32] Herohtar commented on #27
@thechenky I can confirm it works! Just a heads up, that link seems to take me to a login for an internal site, not the public issue.

[2019-05-15 02:32] tuanngominh commented on #429
The error stop happening in our project from yesterday May 14, 2019
<img width="1178" alt="Logs_Viewer" src="https://user-images.githubusercontent.com/2210733/57744552-db4e8f00-76f3-11e9-8b95-db795a9af8cb.png">

[2019-05-15 03:47] thechenky commented on #429
Hi all! We are in the middle of rolling out the fix to production :) so glad to see its effects are already showing! I will update this thread when the rollout completes. Thanks everyone!

[2019-05-15 03:48] thechenky commented on #27
@Herohtar excellent, thanks for confirming! Glad to see it's working for you.

[2019-05-15 06:32] theochampion opened #444 "Proper way to use functions triggers with TypeScript"
Hi,

I'm using typescript with cloud functions triggers but I'm having trouble with TypeScript typing rules.

In fact, when I create a function trigger for storage for example:

[code]

I keep getting typescript error for `obj`

[code]

I've tried looking at the docs for the specific type of `obj` here but it's not specified -> https://firebase.google.com/docs/functions/gcp-storage-events

Would i

[2019-05-15 08:34] schankam commented on #62
Am I the only one to find this behaviour completely ridiculous ? Does it mean that I need to implement an event system at the beginning of EACH of my functions if I don't want them to randomly be ran more than twice ??? This sounds a bit crazy to me tbh. How can we even use Cloud Function in production with such a weird behaviour.

[2019-05-15 21:28] thechenky commented on #438
Hi @ChrisBrownie55 to set config variables for your function, please use `firebase functions:config:set KEY=VALUE` as explained in the [Set Environment Configuration docs](https://firebase.google.com/docs/functions/config-env#set_environment_configuration_for_your_project). Using `FIREBASE_CONFIG` variable and modifying `.runtimeconfig.json` file is not a supported way to configure your function.

[2019-05-15 21:28] #438 closed

[2019-05-16 08:30] rielzzapps opened #445 "firebase serve --only functions gives different path structure to express()"
### Related issues

### [REQUIRED] Version info

**node:**

**firebase-functions:**

**firebase-tools:**

**firebase-admin:**

### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

### [REQUIRED] Expected behavior

### [REQUIRED] Actual behavior

### Were you able to successfully deploy your functions?

[2019-05-16 08:51] thechenky commented on #443
This is more of a Stackoverflow question :) lots of moving parts and functions SDK is not the only dependency here. Closing this out.

[2019-05-16 08:51] #443 closed

[2019-05-16 08:52] thechenky commented on #441
What do you mean by V2 and V3?

[2019-05-16 08:54] thechenky commented on #445
I think this is a known issue with firebase CLI v6.9.0 and up - can you try downgrading the CLI to 6.8.0?

[2019-05-16 08:55] thechenky commented on #445
Moving this into the CLI component.

[2019-05-16 08:57] thechenky commented on #442
This is quite possible, the `onCall` method does wrap `onRequest` as you mentioned. I have not yet looked closely at this but this might indeed be a bug.

[2019-05-16 09:07] thechenky commented on #444
Hi there, the type for obj is ObjectMetadata as defined here: https://github.com/firebase/firebase-functions/blob/master/src/providers/storage.ts. Adding this type annotation to your code should fix the issue for you.

[2019-05-16 17:27] rajaraodv commented on #264
Looks like this is fixed, i.e. if we run `firebase functions:config:get > .runtimeconfig.json` in the `functions` folder, and try to use it inside by calling `functions.config()`, it loads the config . But I don't see any documentation. @laurenzlong

[2019-05-16 20:58] adamduren opened #446 "Node 10: Cannot deploy with private packages and .npmrc"
### Related issues

None

### [REQUIRED] Version info

**node:** v10.14.1

**firebase-functions:** 2.3.1

**firebase-tools:** 6.9.2

**firebase-admin:** 7.3.0

### [REQUIRED] Test case

N/A

### [REQUIRED] Steps to reproduce

Change `"engines": {
    "node": "8"
  }` to `"engines": {
    "node": "10"
  }` in `package.json`

### [REQUIRED] Expected behavior

Functions deploy as they did on `"engine

[2019-05-17 19:29] doowb commented on #432
Hi @thechenky, sorry for the delay in getting back to you. I've seen that you've been deploying new versions that might resolve this, but I don't think it's resolved yet.

I created a simple [demo here](https://github.com/doowb/firebase-callable-functions-demo). When I deployed the function as `node 8`, it worked fine. When I deploy it as `node 10`, I see in the logs:

[code]

Then when I execute

[2019-05-18 09:43] jpreynat commented on #433
We are experiencing the exact same issue after migrating to `firebase-tools@^6.10.0` and the Node 10 runtime:
[code]

The detailed stack trace indicates that reading the value from `functions.config()` returned `undefined`.

[2019-05-18 09:54] SamMatthewsIsACommonName commented on #429
Really glad to hear this is being worked on. We also experienced this and it was causing crucial data inconsistency considering the denormalised data kept synced by cloud functions approach is what was recommended. Can't wait to be able to reliably use 8 thanks

[2019-05-18 18:26] thechenky commented on #446
Hi, this is related to the issue of missing FIREBASE_CONFIG variable and has to do with a but in Node 10 runtime where hidden files are not being uploaded properly. The fix should be rolling out to production next week. Thanks for reporting!

[2019-05-19 07:23] idanen commented on #433
Will you close this issue when it rolls out?

[2019-05-20 10:43] tomas-paronai commented on #141
Did anybody looked at this in the past year?

[2019-05-21 09:19] jonasfrid commented on #141
Also interested in this. Any update?

[2019-05-21 15:28] mikob commented on #62
what exactly is the benefit of this "intended behavior"? This seems to cause unnecessary problems for a lot  devs using firebase. Can this be re-opened?

[2019-05-21 15:57] wooliet commented on #62
I would guess there were technical considerations, and it was decided to opt for triggering "at least once, maybe more" rather than "zero or once".  You can't handle an event you never get, but you _can_ deal with an event received multiple times.

[2019-05-21 20:31] kevinajian commented on #446
Since this is probably related to https://github.com/firebase/firebase-functions/issues/433 as thechenky mentioned, will close this out. Please follow the issue there, and the fix should be rolled during this week.

[2019-05-21 20:31] #446 closed

[2019-05-22 12:36] yoavniran commented on #433
wasted an hour trying to figure out why my new function's config was always undefined after i deployed it. Searching google for "firebase function config empty" or "firebase function config undefined" didnt return anything useful.

found this issue only after trying my last resort of reverting the engine from 10 to 8... :(

[2019-05-23 12:48] mikob commented on #62
Part of the reason of using a framework is to abstract away such technical considerations. There are other minutea that firebase abstracts away for us, why not this?

[2019-05-23 12:59] MohammadAlWhbi commented on #312
I have same problem,after 1 minute  my function not deploy in firebase

[2019-05-23 21:53] thechenky commented on #429
Update: the issue has now been resolved for almost all of the cases that we have seen thus far.

Public tracker here: https://issuetracker.google.com/125425924. Please post on the tracker if you are still having issues. Thanks everyone! I'll mark this bug closed now.

[2019-05-23 21:53] #429 closed

[2019-05-23 21:54] thechenky commented on #444
@theochampion I think my comment should resolve your issue. Closing this out. Please open new issue if you're still having problems.

[2019-05-23 21:54] #444 closed

[2019-05-23 21:57] thechenky commented on #432
@doowb @enbyted The fix has been rolled out to production. Please let me know if you're still seeing issues.

[2019-05-23 21:58] thechenky commented on #433
The fix has been rolled out to production. `FIREBASE_CONFIG` and `functions.config()` should now work properly in Node 10 runtime. Please let me know if anyone is still seeing issues. Thanks!

[2019-05-23 21:59] #433 closed

[2019-05-23 21:59] #432 closed

[2019-05-23 22:02] thechenky commented on #437
Quick update: Node 10 runtime is the first runtime to not have the `GCLOUD_PROJECT` environment variable automatically set. Because the firebase functions SDK relies on this env var for most of its event provider code, we need to figure out the best way to get this `GCLOUD_PROJECT` value set. Meanwhile, please continue using Node 8 until this issue is fixed.

[2019-05-23 22:04] thechenky commented on #441
As long as Google Cloud Functions is still supporting Node 6, we cannot drop support in functions SDK. Thanks for the suggestion, though @merlinnot, let's come back to this in the future!

[2019-05-23 22:04] #441 closed

[2019-05-23 22:18] thechenky commented on #439
@merlinnot can you give me an example of a Firebase repo that uses this tool?

[2019-05-24 00:05] henrylearn2rock commented on #433
C:\Users\...\> firebase deploy --only functions

[code]
C:\Users\...\> firebase -V
6.5.0
C:\Users\...\> node --version
v10.15.3

[2019-05-24 00:58] thechenky commented on #433
Update firebase-tools

[2019-05-24 13:26] merlinnot commented on #441
Hm, I forgot to reply to this one. This package is currently at major version 2. We could release v3 that drops support for Node.js 6. Node.js 6 users could still use v2 of this library.

All other libraries that Google offers did exactly that in the recent weeks.

[2019-05-24 13:32] merlinnot commented on #439
Here you go:

https://github.com/GoogleCloudPlatform/repository-gardener
https://github.com/firebase/firebase-js-sdk/pull/1599

[2019-05-24 17:01] thechenky commented on #441
Thanks for the reply @merlinnot yeah I'm aware that other libraries are dropping support but since this library deals with user code that may still be written in Node 6 we cannot do that until GCF drops support in 2020.

[2019-05-24 21:43] jpreynat opened #447 "TypeError: Cannot read property 'name' of undefined at RefBuilder.changeConstructor"
### Related issues

None really.

### [REQUIRED] Version info

**node:**
`v10.15.3`

**firebase-functions:**
`2.3.0`

**firebase-tools:**
`6.10.0`

**firebase-admin:**
`7.3.0`

### [REQUIRED] Test case

Deploy a database trigger on Node 10 runtime and make it run by updating the database.

### [REQUIRED] Steps to reproduce

Same as above.

### [REQUIRED] Expected behavior

I just tested upgrading

[2019-05-24 23:00] ambrice opened #448 "firebase-admin v8.0.0 drops node v6 support"
firebase-admin was updated recently to 8.0.0.  If you install per the docs, with:

npm install firebase-functions@latest firebase-admin@latest --save

You will get a warning about needing firebase-admin ^7.0.0.  But also, firebase-admin 8.0.0 dropped support for node v6, so presumably that could cause problems.  Not sure what the fix is, but maybe update the docs to install firebase-admin@7.4.0 un

[2019-05-25 12:18] subramn commented on #399
I am also running into this issue. how did you resolve it.

[2019-05-25 13:39] inorganik commented on #351
Hi @thechenky and @kevinajian I'm just wondering if there has been any movement on this issue. It is preventing me from using a custom domain (I have to use "https://us-central1-....") so that I can track HEAD requests.

- Kevin tracked it as bug 120678423
- Diana tracked it as bug 121049520

Thanks.

[2019-05-26 12:40] arpancodes commented on #107
I am facing this issue again. Using it with react-native the cloud function is not triggered onDelete. not even an error

[2019-05-27 17:13] kdawgwilk commented on #437
Is there a different workaround for those that need to use Node 10 runtime?  I am using GitHub Actions to auto deploy my projects changes on push and the GitHub NPM action uses a Node 10 container and so if I drop the `"engines"` to 8 it breaks my CI flow

[2019-05-27 18:59] crenardy commented on #437
- Hardcode (1st line before loading/importing anything else) your project ID: process.env.GCLOUD_PROJECT = "your-project-id";
- Derive from the newer GCP_PROJECT env variable: process.env.GCLOUD_PROJECT = process.env.GCP_PROJECT
- Derive from your own env variable
Even tho, it's not the cleanest solution messing with env variables inside the source code (for tests it's a different story), it might

[2019-05-27 19:51] kdawgwilk commented on #437
I ended up forking the firebase GitHub action repo and changing the container image to use the node 8 runtime

[2019-05-28 21:06] tripflex commented on #300
The issue with this is that we now also have no way of using any of the custom user claims for permission based handling when a document is updated (in the fn itself) .. ugh

[2019-05-28 21:27] kireerik commented on #319
@thechenky I think we should open this issue, because https://github.com/firebase/firebase-functions/issues/319#issuecomment-454063550 is only a workaround.

[2019-05-29 02:52] gregghz commented on #437
i set `process.env.GCLOUD_PROJECT = process.env.GCP_PROJECT` at the top of my file and then the firebase function failed to deploy with an http 400 response.

[2019-05-29 05:29] arjunyel commented on #419
oh WOW thank you @jloosli for posting that... I also was treating it like a firestore collection...

[2019-05-29 12:28] abdullahamin0111 opened #449 "Firebase HTTP Cloud function query data undefined"
I've been trying to run the firebase cloud HTTP function locally on my computer.
When I try to send the query data to the http function locally then it is undefined.

**Windows 10 is being used.**

The function is:
[code]

The command I used to start the emulation for functions is:
**firebase serve --only functions**

The url for local emulation is returned as
http://localhost:5000/..../checkHttp

[2019-05-29 16:36] thechenky commented on #437
Node 10 runtime (which is currently in beta) no longer automatically sets project related environment variables, so I would expect `process.env.GCP_PROJECT` to not return anything. As a workaround until we fix this please use Node 8 runtime.

[2019-05-29 16:40] thechenky commented on #437
@gregghz your deployments should not fail because environment variables are missing. If you're still experiencing this issue please file a new bug and fill out all the required fields. Error 400 is not enough information to debug what may be happening.

[2019-05-29 16:47] thechenky commented on #351
Hi @inorganik, this requires some discussion with our partner teams, let me check on that for you. Will post back with any updates.

[2019-05-29 20:33] thechenky commented on #351
The correct internal tracking bug is 120678423 as 121049520 has been marked duplicate. There has been no activity on that bug so looks like it's not prioritized. I pinged the bug again to ask if there are plans to implement. Will post back with any updates I get. Thanks!

[2019-05-29 20:49] inorganik commented on #351
Thanks @thechenky I appreciate it!

[2019-05-29 21:45] thechenky commented on #441
Hi @merlinnot after some discussion and in light of one of our main dependencies, `firebase-admin` dropping node 6 support, we are going to follow suit and update our peer dependency to `firebase-admin 8.0.0` effectively dropping Node 6 support in the `firebase-functions` SDK as well. We will need to communicate in our documentation that if someone wants to use Node 6 functions, they will need to

[2019-05-29 21:46] thechenky commented on #441
@merlinnot also regarding your offer for a PR, we'd be glad to take you up on that :)

[2019-05-29 21:47] thechenky commented on #448
Hi @ambrice thanks for bringing this to our attention. Yes, you're right that firebase-admin 8.0.0 drops Node 6 support. We are planning to release a new major version of firebase-functions v3.0.0 in the next couple weeks where we update our admin dependency to 8.0.0, effectively dropping Node 6 support in our SDK as well.

[2019-05-29 21:47] thechenky commented on #448
Since we're going to address this in the next release, I'm going to go ahead and close this out. Thanks again for filing!

[2019-05-29 21:47] #448 closed

[2019-05-29 21:49] thechenky commented on #449
Hi @abdullahamin0111 thanks for filing. What version of the Firebase CLI are you using? This may be related the the new emulators that were released in the CLI starting with v6.9.0. Does this work locally for you if you downgrade your `firebase-tools` to 6.8.0?

[2019-05-29 21:49] thechenky commented on #449
I'm going to go ahead and move this issue over to the Firebase CLI repo as `firebase serve` is implemented there.

[2019-05-29 21:54] thechenky commented on #447
Hi @jpreynat thanks for filing! This does look like an issue on our end - could you provide a quick sample of your function code? Which specific trigger are you using - `onUpdate`, `onWrite`, or `onCreate`?

[2019-05-29 22:53] thechenky commented on #447
Confirming I can reproduce this with database triggered function with Node 10 runtime. Looking into this now.

[2019-05-30 16:04] loicmarie commented on #433
Is the fix working with the firebase functions emulator ? Cause I have the same error with the same versions
`ERROR Error: Unauthenticated
...`

[2019-05-30 16:47] loicmarie commented on #432
Is the fix working with the firebase functions emulator ? Cause I still have the same error with the same versions
`ERROR Error: Unauthenticated ...`

[2019-05-30 16:57] thechenky commented on #432
@loicmarie if you're having an issue with the emulator please file it in the Firebase CLI repo: https://github.com/firebase/firebase-tools. Make sure your CLI is upgraded to latest, as well.

[2019-05-30 22:13] merlinnot opened #451 "Limit the exposed API to necessary methods and types"
Since we're working on a v3 release, it might be wise to revise the API of the library. Multiple types are exposed that seem not necessary, which might result in issues when internal structure of the library is modified (e.g. `LegacyEvent`).

It's also easier for developers when autocomplete suggests only usable types and it's not bloated with internals.

We should verify that all exported types a

[2019-05-30 22:22] merlinnot opened #452 "Drop unnecessary backwards compatibility workarounds"
Since we're working on a v3 release, we might want to address some deprecations/backwards compatibility workarounds. I saw some names that suggest these functionalities might no longer be necessary in newer environments, but the documentation/comments are not enough to be sure.

Someone with a better understanding of Firebase internals could look at it and see what we can do. An example: support f

[2019-05-31 05:08] h36ahmed opened #453 "Peer Dependency Issue"
### Related issues

### [REQUIRED] Version info

**node:**
v8.12.0

**firebase-functions:**
2.3.1
**firebase-tools:**
6.10.0

**firebase-admin:**
8.0.0
### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

When I upgraded firebase-admin and firebase-functions, this is the error I get
npm WARN firebase-functions@2.3.1 requires a peer of firebase-admin@^7.0.0 but none is installed. You must i

[2019-05-31 08:33] wvanderdeijl commented on #437
This worked for me as a workaround:
[code]

[2019-05-31 12:40] opyate opened #454 "firebase-functions 2.3.1 transitively depends on @grpc/grpc-js 0.4.1 which is restricted to >= Node 8.13.0"
I've upgraded to firebase-functions 2.3.1 to get London region for functions. However, the version of `@grpc/grpc-js` it transitively depends on requires >= Node 8.13.0, which is not the same as the official cloud functions Node version 8.11.1

### Related issues

### [REQUIRED] Version info

**node:** 8.11.1 (same as cloud functions)

**firebase-functions:** 2.3.1

**firebase-tools:** 6.10.0

**f

[2019-05-31 13:50] opyate commented on #454
I didn't get the memo: cloud functions are now v8.15.0
https://cloud.google.com/functions/docs/concepts/nodejs-8-runtime

[2019-05-31 13:50] #454 closed

[2019-05-31 18:49] thechenky commented on #437
Ah, @wvanderdeijl thanks for that - this should indeed work! Anyone experiencing this issue - please use the workaround provided in https://github.com/firebase/firebase-functions/issues/437#issuecomment-497626133 or downgrade to Node 8. We are currently working on a fix on our end and I'll keep this issue open until that fix is rolled out. Thanks for everyone's patience!

[2019-05-31 19:17] kevinajian commented on #442
Hey @danprince, I haven't had a chance to look into this yet, so if you have a PR ready in the meantime feel free to open that. Sorry for the delay here.

[2019-05-31 19:38] mbleigh commented on #442
Hi Dan, this is working as intended. `onRequest` provides a standard Node.js HTTP handler endpoint -- it will not terminate unless you send something on the response or have a non-async exception.

This works just like if you have an Express handler (because it is an Express handler. You'll need to handle the errors by sending a response yourself.

[code]

[2019-05-31 19:38] #442 closed

[2019-05-31 20:35] thechenky commented on #453
Hi @h36ahmed this will be fixed in the next major release of functions SDK. Admin SDK has dropped support for Node 6 in their latest release (8.0.0), and we cannot depend on that without dropping Node 6 support. Please use admin v7 for now.

[2019-05-31 20:35] #453 closed

[2019-05-31 20:37] thechenky commented on #447
Figured out the issue. There is a fork in our logic for massaging the raw event that comes in on the wire. We are looking for `X_GOOGLE_NEW_FUNCTION_SIGNATURE` environment variable and are expecting it to be set to true, since Node 8 started setting that. This is how we figure out whether it’s a new Event or a Legacy Event. Node 10 events are not legacy, but because that env var is missing, we are

[2019-05-31 21:12] danprince commented on #442
Understood, just a shame to have to remember that all `onRequest` handlers need to be wrapped in try-catch blocks. Will just stick to using my own `onAsyncRequest` handler for now.

Might be worth adding a note to the docs to explain that the `HttpsError` class won't do anything if thrown in `onRequest` handlers.

[2019-05-31 22:24] thechenky commented on #439
Thanks @merlinnot! I talked with the devs maintaining that repo and they suggested they will likely be moving to Renovate. One issue I see with this is that Renovate is paid - so I'll have to get approval and we would have to use the hosted version. This may take some time to do, so I've filed a bug for myself to look into doing this in the future, at which point I'll loop you in. Unfortunately ri

[2019-05-31 22:24] #439 closed

[2019-05-31 22:34] thechenky commented on #452
Thanks @merlinnot, this is definitely a good cleanup for us to do. I'm going to file some internal bugs for this work and keep this open.

[2019-06-01 10:06] ayush97123 commented on #54
Hey, do you guys support phone auth now?

[2019-06-01 17:55] adrielwerlich opened #455 "What incorrect Metadata-Flavor header at GoogleAuth means?"
### Related issues

### [REQUIRED] Version info

Ask Question

I´m trying to write to firestore from a onCall firebase function.
My purpose is to update the client when something is written in firestore.
[code]

Would exist any other alternative to update client side from function progress?
**node:**

node v 12
**firebase-functions:**
"firebase-functions": "^2.3.0"

**firebase-tools:**
firebase to

[2019-06-01 19:02] adrielwerlich commented on #455
Solved
It required propper initialization
const credential = require('./xxxxx.json')

admin.initializeApp({credential: admin.credential.cert(credential),  databaseURL: "https://xxx.xxx.firebaseio.com"});

this link (https://www.youtube.com/watch?v=Z87OZtIYC_0)
explains how to initialize it properly

my unexperienced with the sdk yet...

[2019-06-01 19:02] #455 closed

[2019-06-02 03:40] thechenky commented on #455
Thanks for the detailed report and sharing your solution @adrielwerlich. For future issues like these, StackOverflow is usually the best resource as you can get faster help there :) glad you figured it out!

[2019-06-03 10:50] marcosflick commented on #437
Hi everybody!

We've attempted all the solutions proposed in this thread and it hasn't resolved this issue.

**Code:**

[code]

**Error:**

[code]

Could you please propose a fix for all this?

Thank you in advance.

[2019-06-03 14:40] loicmarie opened #456 "Storage onFinalize trigger not working in Node 10 runtime"
### Related issues

No related issue

### [REQUIRED] Version info

**node:** 10.15.3

**firebase-functions:** ^2.3.0

**firebase-tools:** 6.10.0

**firebase-admin:** ~7.0.0

### [REQUIRED] Test case

Following the [official example](https://firebase.google.com/docs/functions/gcp-storage-events#trigger_a_function_on_changes) :
[code]

### [REQUIRED] Steps to reproduce

When setting node runtime in

[2019-06-03 16:37] brianmhunt opened #457 "TypeError: Cannot read property 'name' of undefined"
### Related issues

### [REQUIRED] Version info

**node:** 10

[code]

### [REQUIRED] Test case

Seems to be any Firestore function triggered on write.  Let me know if you cannot reproduce.

### [REQUIRED] Steps to reproduce

A Firestore Trigger

![image](https://user-images.githubusercontent.com/135528/58818163-6d62fc80-85fb-11e9-896e-f1f42f4e71fe.png)

Per the stack trace, raises on line 136 of

[2019-06-03 17:12] thechenky commented on #437
Hi there @marcosflick this is due to another env var missing, `X_GOOGLE_NEW_FUNCTION_SIGNATURE`. It's the same issue as https://github.com/firebase/firebase-functions/issues/447.

[2019-06-03 17:12] thechenky commented on #457
Hi @brianmhunt this is the same issue as https://github.com/firebase/firebase-functions/issues/447. I'm working on a fix, but please follow that bug. Thanks for your patience.

[2019-06-03 17:15] thechenky commented on #437
Duplicate of https://github.com/firebase/firebase-functions/issues/447.

[2019-06-03 17:22] thechenky commented on #437
Apologies for accidental duping! It was only related to this comment: https://github.com/firebase/firebase-functions/issues/437#issuecomment-498208619.

[2019-06-03 17:22] thechenky commented on #457
Duplicate of https://github.com/firebase/firebase-functions/issues/447

[2019-06-03 17:23] #457 closed

[2019-06-03 17:25] thechenky commented on #456
Hi @loicmarie this is likely the same issue as https://github.com/firebase/firebase-functions/issues/447. Can you post the error you're seeing when your function runs?

[2019-06-03 17:47] loicmarie commented on #456
Hi @thechenky, I have no error, since I am not doing anything ATM, but the problem is that object variable should not be undefined, it should be an instance of ObjectMetadata.
It works with Node 8 and Node 10 with local emulator, but not online with Node 10.

[2019-06-03 18:08] thechenky commented on #456
Hm, this looks like it may be caused by a missing `FIREBASE_CONFIG` env var. We had some issues on the backend that were fixed recently, but the changes would require a redeploy to take effect. Can you redeploy and see if this is still occurring?

If it is still occurring even after redeploy, check whether the `FIREBASE_CONFIG` var is set by printing the following and pasting in your response:

[c

[2019-06-03 19:43] thechenky commented on #437
Internal tracking bug: 134416569

[2019-06-03 20:09] loicmarie commented on #456
It is still occuring after redeploy, and the outputted `FIREBASE_CONFIG` variable seems correct to me in console logs. For this cloud function with Node 10 :
[code]

Here are the logs (hiding my project ID):

[code]
I am deploying with `firebase deploy` using the SDK.

[2019-06-03 20:32] thechenky commented on #456
Thanks for the the quick response and helping me rule out the other possible issues. I think I know what's happening here. As a quick sanity check, would you mind setting another env var in your function and see whether that fixes the object being undefined? In the global scope of your function:

[code]

Followed by a redeploy. Super appreciate your help in tracking down this issue!

[2019-06-03 21:19] skhaz commented on #433
@thechenky still not working.

[2019-06-03 21:30] thechenky commented on #433
@skhaz what exactly is not working? I'm going to need more information than that...

[2019-06-03 21:33] skhaz commented on #433
@thechenky Sorry for the lack of information.

I tried a deploy using NodeJs 10 and got:

`Error: process.env.GCLOUD_PROJECT is not set. at DocumentBuilder...`

[2019-06-03 21:39] thechenky commented on #433
This is a separate issue: https://github.com/firebase/firebase-functions/issues/437. Please follow that bug.

[2019-06-03 21:40] skhaz commented on #433
Ok. Thanks.

[2019-06-03 21:58] loicmarie commented on #456
Works like a charm now !

[code]
It's I who should be thanking you. That was efficient ! I think it closes my issue.

[2019-06-03 21:59] #456 closed

[2019-06-03 22:02] thechenky commented on #456
@loicmarie just to clarify - did it work after you set the `X_GOOGLE_NEW_FUNCTION_SIGNATURE` env var? If so, this is still a bug on our side :) one that has been reported previously in https://github.com/firebase/firebase-functions/issues/447.

[2019-06-03 22:07] loicmarie commented on #456
Yes it worked after I set :
`process.env.X_GOOGLE_NEW_FUNCTION_SIGNATURE = 'true';`
as first line of my index.ts (couldn't pass tsc validator without setting a string).

As this is still in beta, I thought I missed something in the doc. Should I reopen and close at fix release ?

[2019-06-03 22:10] thechenky commented on #456
Thanks for clarifying! Yes, this is still a bug, you shouldn't need to set that variable. I was trying to understand whether this was the issue I thought it was, and you have confirmed it, so thank you! We can keep this closed for the reason that it is a duplicate of https://github.com/firebase/firebase-functions/issues/447. But please follow the original issue for the resolution. Thanks again!

[2019-06-03 22:10] thechenky commented on #456
Duplicate of https://github.com/firebase/firebase-functions/issues/447

[2019-06-04 18:38] h36ahmed commented on #453
thank you for replying! Will do.

[2019-06-04 20:35] bbarthel commented on #252
Still broken ...

[2019-06-04 21:11] ITsolution-git commented on #95
Yeah it's annoying because it does not work just for email/password, while other providers are working fine.

My workaround is to
[code]

[2019-06-05 16:57] hitchingsh commented on #430
Could someone telling me the steps to set the environment variable GOOGLE_CLOUD_USE_GRPC_JS?  Is it through the web control panel, command line firestore deploy, or where?

[2019-06-05 17:25] julianrichie commented on #447
any updates on this?

[2019-06-05 17:27] thechenky commented on #447
Hi @julianrichie this is still in progress and is the next highest priority to fix. Thanks for your patience!

[2019-06-05 18:19] thechenky commented on #430
@hitchingsh I have some good news - this will be the new default in the next functions release since we will be using the latest Firestore library that defaults to the smaller gRPC library. This release is coming very soon. For the meantime though, you can set that environment variable in the cloud console by going to Cloud Functions, selecting the function, and clicking Edit. Expand the list and

[2019-06-07 00:27] hitchingsh commented on #430
<img width="244" alt="Cloud_Functions_-_Chatspace_-_Google_Cloud_Platform" src="https://user-images.githubusercontent.com/347740/59074412-28033100-8880-11e9-8843-f59fcfd01fe4.png">

Thanks very much for the instructions, which were really helpful.  I tried that but it did not reduce my load time when it makes the first call to Firestore after uploading.  Still takes three seconds for the first que

[2019-06-07 15:57] JayPerfetto commented on #131
I just want to say that while this isn't exactly the problem i faced, i got this same error because one of my folders containing constant export files was capitalized, and it thought it was supposed to be a module instead of a directory. Lower-casing the folder name fixed it...

[2019-06-07 17:21] couchfault commented on #161
This is still very much an issue. I've been working with firebase / node 8 and simple https callable functions querying small firestore collections for documents containing small paragraphs of text takes between 4 and 10 seconds, with some functions occasionally taking upwards of a minute and timing out. None of these functions implement complex logic or large queries, and my firestore database is

[2019-06-07 23:00] inmogr commented on #131
Thanks, unfortunately still getting the error

Best Regards,
Morhaf

________________________________
From: Jason Perfetto <notifications@github.com>
Sent: Friday, June 7, 2019 11:57:55 PM
To: firebase/firebase-functions
Cc: Morhaf Shamia; Comment
Subject: Re: [firebase/firebase-functions] Deployment unsuccessful. Cannot find module (#131)

The r in your require for fluentreports shouldn't be capi

[2019-06-09 12:49] buzzware commented on #161
Use express to put all endpoints on one function, then use Stack Driver uptime monitoring and/or  Cloud Scheduler to hit an endpoint every minute. I get good consistent times doing this.

[2019-06-10 05:10] LoveMeWithoutAll commented on #447
I encountered same issue on upgrading node from 6 to v10. Anyway, on node 8, it works.

[2019-06-10 19:51] couchfault commented on #161
@buzzware Does this cause firebase to cache the function? I'm currently using onCall functions so this would require a refactor. If I can't find a better solution I'll try it. I just finished writing a lazy loader for all my functions to prevent unused functions from being loaded

[2019-06-10 22:54] salah3x opened #461 "The default timezone for a scheduled function is not 'UTC' as the docs says"
### Related issues
Didn't find any

### [REQUIRED] Version info

**node:**
`v10.15.3`

**firebase-functions:**
`2.3.0`

**firebase-tools:**
`6.10.0`

**firebase-admin:**
`7.0.0`
### [REQUIRED] Test case

### [REQUIRED] Steps to reproduce

[code]

### [REQUIRED] Expected behavior

The timezone of the scheduler should  be `UTC` as specified in the [docs](https://firebase.google.com/docs/functions/sc

[2019-06-10 23:35] joehan commented on #461
Hey @salah3x, thanks for reporting this. Sorry for the trouble here, it looks we dropped the ball when communicating with our docs writers on this one. I'm going to chat with the team to see what the default should be, and this should be fixed up soon.

In the meantime, scheduled functions will default to America/Los_Angeles and you should be able to choose any timezone you need using ```.timeZone

[2019-06-10 23:47] joehan commented on #461
Hey @salah3x, just talked with the team - the current default (America/Los_Angeles) is going to stay, and we will update the docs shortly to reflect this. Thanks again for finding this inconsistency!

[2019-06-11 00:52] salah3x commented on #461
No problem @joehan
I'll leave this issue opened until the docs are updated (or you can close it once the update took place)

[2019-06-11 01:05] buzzware commented on #161
The key point they don't tell you is that each exported function in functions/index.js ends up being executed in its own container(s) separate from the others. So waking up one function does not wake up the others, and in development if you don't yet have users and loading your app requires a few firebase functions, there are going to be multiple cold starts.
So putting all endpoints on one functi

[2019-06-11 02:03] deremer commented on #417
FYI, it looks like if you use `functions.https.Request` rawBody passes the TS compiler. However, if you use the alias `functions.Request`, the compiler does not find rawBody

[2019-06-11 22:39] thechenky commented on #447
This is in progress now and will be fixed in https://github.com/firebase/firebase-functions/pull/460. Thanks for everyone's patience!

[2019-06-12 00:15] couchfault commented on #161
By combining @buzzware's StackDriver suggestion and writing a lazy loading function, I managed to get most functions to execute in under a second. Thanks! Here's the function I use for anyone who's interested:
[code]
Usage eg:
`exports.createCategory = hotloadFunction('createCategory', 'categories', 'create');`
It assumes functions are stored in `./$moduleName.js`, so tweak accordingly.

[2019-06-12 11:33] samarthagarwal opened #463 "Metadata string value "..." contains illegal characters"
### Related issues

### Version info

**node:** 10.13.0

**firebase-functions:** ^2.3.1

**firebase-tools:** 6.11.0

**firebase-admin:** 8.1.0

### Test case

Inside a cloud function (HTTP or Firestore trigger), if we try to read a document nested within other documents, special characters in the document name are cause the function to crash.

So the following code crashes if `churchId` is `Sørlan

[2019-06-12 11:37] Twinsens commented on #432
Any update for this issue? I'm still get
**System.AggregateException: One or more errors occurred. ---> Firebase.Functions.FunctionsException: Unauthenticated**

It was begin when I upgrade my firebase_unity_sdk 6.0.0 to 6.1.1.

On server side ;

 "firebase-admin": "^8.1.0",
 "firebase-functions": "^2.3.1",
 "firebase-functions-helper": "^0.7.1"

Unity side :
firebase_unity_sdk 6.1.1

[2019-06-12 20:15] rilian commented on #437
i've deployed all my functions with NodeJS 10 today, and I see the same issue, but only in functions triggered by Firestore record creation, like:

[code]

Functions triggered by HTTP work fine and return data without issues

stackdriver logs are:

[code]

package.json:
[code]

[2019-06-12 21:26] #447 closed

[2019-06-12 21:27] Enricopv commented on #85
Using TypeScript.

My issue was that the "main" field in package.json got out of sync with how my project developed. Because of that, firebase kept deploying my old code and not uploading the new code generated from "tsc". I wont get into the nitty gritty out of my project, but to others I would advise to make sure that your "main" field in your package.json actually points to the correct index.js

[2019-06-12 23:40] kevinajian commented on #437
The issue should be fixed in the latest release if you update to 3.0.1. Will close this out.
Thanks all for your patience.

[2019-06-12 23:40] #437 closed

[2019-06-13 00:22] thechenky commented on #452
LegacyEvent has been dropped in https://github.com/firebase/firebase-functions/pull/460. Closing this out.

[2019-06-13 00:22] #452 closed

[2019-06-13 00:54] thechenky commented on #451
Internal bug reference: 135147671

[2019-06-13 00:56] thechenky commented on #447
This has been released in v3.0.1.

[2019-06-13 09:14] jpreynat commented on #447
Thanks @thechenky, I will test it quickly 👍

[2019-06-13 10:07] jpreynat commented on #447
And it works like a charm, thanks 🚀

[2019-06-13 12:20] swftvsn opened #472 "Changelog is missing"
Where can I find changelog for this project?

[2019-06-13 17:35] kevinajian commented on #472
Hi @swftvsn,

You can see the release notes here: https://github.com/firebase/firebase-functions/releases

[2019-06-13 17:35] #472 closed

[2019-06-13 17:37] swftvsn commented on #472
Thanks!

[2019-06-13 22:24] LanderBeeuwsaert commented on #432
I just deployed and tested with:
  "dependencies": {
    "firebase": "^6.2.0",
    "firebase-admin": "~8.1.0",
    "firebase-functions": "^3.0.1",
    "firebase-tools": "^7.0.0",
  },

and   "engines": {
    "node": "10"
  }

and everything worked just fine

[2019-06-14 08:09] thechenky commented on #447
Awesome, glad it's working @jpreynat! Thanks for testing it out :)

[2019-06-14 14:08] keithnbrown commented on #453
What's the ETA on the next version of functions SDK? as i was struggling with this exact issue until i found this issue ticket.

Probably worth noting that this will be caused if you follow the instructions at https://firebase.google.com/docs/functions/get-started and run the command "npm install firebase-functions@latest firebase-admin@latest --save" as instructed under heading "2 - Set up Node.j

[2019-06-14 16:25] mynameisnyke opened #473 "Document Path Wildcards Not Working"
Hey All,

Using the WebUI to build my first firestore function and i'm running into a lot of errors. I have a collection titled youTube, and i'm tryin to set a cloud function that triggers off of **onCreate** for any document in that collection.

Whenever i specify my path as **'youTube/{id}' my function fails to build and gives me an "unknown" resource type**, however if i just type in 'youTube'

[2019-06-14 16:39] mynameisnyke commented on #473
Can close, the solution was to drop the quotes.

[2019-06-14 16:39] #473 closed

[2019-06-14 19:58] thechenky commented on #453
@keithnbrown v3 has been released, so the versioning should be compatible now if you do `npm install firebase-functions@latest firebase-admin@latest --save`.

[2019-06-17 12:17] ananthu-confianz commented on #243
@laurenzlong The workaround you have suggested doesnt seem to be working. Is there any other alternatives?

[2019-06-17 12:19] aakarshbaiju commented on #243
+1

[2019-06-17 14:14] bagratkirakosian opened #475 "Firestore and Realtime Database operation are very slow during Cold Start"
### Related issues

#430 issue is pretty related but in our case queries are very slow and not only for firestore
#263 this issue has the same description but the solution is to clean the global scope which is done in our case. The issue is not cold start in this case, but the databases behavior during it.

### Version info

**node:** `v8.16.0`

**firebase-functions:** `^3.0.1`

**firebase-tools:*

[2019-06-17 14:33] zanona opened #476 "3.0.1 not using .runtimeconfig.json"
I am not sure it's just me but after upgrading to 3.0.1 with `.runtimeconfig.json` file under the functions directory no longer populates values from the file with:

[code]

[code]

the output is `{}`

but then if I downgrade to `firebase-functions` `3.0.0`, it works without problem.

[2019-06-17 16:41] thechenky commented on #476
Hi @zanona I'm assuming you found the resolution to your issue - would you mind sharing it here in case other developers run into the same problem?

[2019-06-17 16:44] thechenky commented on #243
@ananthu-confianz this workaround does work for me - please open another issue with the required details if you are still having trouble and require further help.

[2019-06-17 16:58] joehan commented on #461
Thanks again for finding this! I've submitted the fix to our docs, and they should be accurate tomorrow morning. Closing this.

[2019-06-17 16:58] #461 closed

[2019-06-17 17:51] zanona commented on #476
Hey Diana, unfortunately I haven’t found it. However it seems the issue was
not really the version number. But it is still a mystery to me how
.runtimeconfig.json works since it is still bot populating vars on firebase
serve even with the file in the functions directory.
Is there any specific documentation on how that works? At the moment I take
it’s magic :)

Il giorno lun 17 giu 2019 alle 13:41

[2019-06-17 18:39] thechenky commented on #476
@zanona Just to clarify - are you having issues on `firebase serve` only? As in, are the config values populated properly in your deployed functions? If it's `firebase serve` that is the problem, then make sure you're using the latest `firebase-tools` version (I recommend 6.12.0 or 7.0.0 if you're not using Node 6), since we've had some emulation issues that have been resolved recently. You can se

[2019-06-17 19:46] kevinajian commented on #463
Hi @samarthagarwal,

Sorry you're running into this issue. I was able to reproduce this on firebase-admin 8.1.0 and will look into this. In the meantime, I was able to get it working by downgrading to firebase-admin 7.0.0, so you can try using that if possible.

[2019-06-17 20:40] kevinajian commented on #463
Repro with `admin.firestore().collection('test/testøæ/programItems').get();`

[code]

[2019-06-17 20:43] samarthagarwal commented on #463
@kevinajian Thanks for looking into this. I actually ended up changing the names of my documents (copying documents with names that do not have such character), but thanks for the info.

[2019-06-18 00:17] zanona commented on #476
Thanks @thechenky. Ok, I believe I have found the issue:

https://github.com/firebase/firebase-functions/blob/860dd00fb81148bd600ffe6b44d9bb6657fd3586/src/config.ts#L85

The location of `.runtimeconfig.json` is not really where the function directory is but instead the root of the packages where firebase tools is running from. I have a monorepo with packages under the `packages` directory, so `./p

[2019-06-18 01:23] thechenky commented on #476
Ah yes, `firebase-functions` will expect the `.runtimeconfig.json` file to be at the root of the project as you correctly determined since it's using a relative path to find it from its own node_modules directory. I'm glad you were able to resolve your issue and also that the mystery has been solved about the `.runtimeconfig.json` file :) I'm going to close this out. If you have any other issues,

[2019-06-18 01:23] #476 closed

[2019-06-18 01:48] thechenky commented on #475
Hi @bagratkirakosian thank you for such a detailed report. I'm a bit stumped as to why you would be experiencing such drastic differences in cold/warm start times calling Firestore and Realtime Database. We recently rolled out gRPC-JS, even, which should have made gRPC initializations even faster (available in firebase-admin 8.0.0).

I'm wondering if this has to do with the transactions, which wil

[2019-06-18 10:01] bagratkirakosian commented on #475
Hi @thechenky very grateful for such a quick response. The latency is very strange for me as well, especially that it happens with both Firestore and Realtime Database.

I am familiar that the transaction can be called multiple times, but I don't think it can be the cause of latency in database operations. Even if the transaction is called multiple times, it will just run the functions in transact

[2019-06-18 12:56] ananthu-confianz opened #477 "Angular Universal ES6 modules complied with babel is not working in firebase SSR hosting."
### [REQUIRED] Version info

**node:**
8.16.0

**firebase-functions:**
2.3.0

**firebase-tools:**
6.11.0

**firebase-admin:**
7.0.0

### [REQUIRED] Test case

Run firebase deploy in console.
My functions/package.json

{
  "name": "functions",
  "description": "Cloud Functions for Firebase",
  "scripts": {
    "serve": "firebase serve --only functions",
    "shell": "firebase functions:shell",

[2019-06-18 17:31] kevinajian commented on #463
Internal bug 135490750

[2019-06-18 17:38] thechenky commented on #477
Hi @ananthu-confianz have you tried running it locally using `firebase serve`? Does it also not work? I'd also try to make your function as simple as possible and add log lines to see where the error may be coming from.

[2019-06-18 19:06] thechenky commented on #475
@bagratkirakosian this is rather difficult to debug since there is a lot going on in your functions :) are you able to reproduce this behavior consistently with a much simpler function? I would be curious to see whether you see the same behavior with this:

[code]

[2019-06-19 05:05] Santu1245 commented on #399
import * as functions from "firebase-functions";

Add this following code below the import statement

export const helloWorld = functions.https.onRequest((req, resp) => {
  resp.send("Hello from Firebase!");
});

save it and  run `firebase deploy`

[2019-06-19 19:29] aputinski opened #478 "Firestore triggers broken in emulator"
### [REQUIRED] Version info

**node:** 10.15.3

**firebase-functions:** 3.0.0

**firebase-tools:** 7.0.0

**firebase-admin:** 8.0.0

### [REQUIRED] Test case

https://github.com/aputinski/firebase-functions-test-case

### [REQUIRED] Steps to reproduce

See README in repo above

### [REQUIRED] Expected behavior

[code]

### [REQUIRED] Actual behavior

[code]

It looks like the data and context are

[2019-06-19 20:29] thechenky commented on #478
Hi @aputinski do your functions run correctly when you deploy them?

[2019-06-19 20:38] aputinski commented on #478
Yes. This is just for the emulator.

[2019-06-19 20:44] thechenky commented on #478
Gotcha, thanks. I'm going to transfer this issue to the firebase-tools repo as emulation is done in the Firebase CLI.