[2017-03-10 13:27] frankspin89 opened #3 "CreateCustomToken() requires a certificate with "private_key""
With the default configuration the private_key is not correctly set. Resulting in a error when calling createCustomToken():

[code]

Changing the initializeApp function  to this will prevent the error:

[code]

Currently I have the firebaseCredential inline in my code. That's not ideal. Referencing a external .json file doesn't seems the work at the moment. And storing the firebaseCredentials in a

[2017-03-10 17:38] jwngr commented on #3
In the future, please indicate when you cross post. I answered this one [Stack Overflow](http://stackoverflow.com/a/42724251/2955366). We hope to improve this situation in the future.

[2017-03-10 17:38] #3 closed

[2017-03-11 10:07] malikasinger1 opened #4 "Testing database functions locally"
It looks like **firebase cli tool** bundles all dependencies and upload it to firebase just like aws lambda function does. But it takes too much time to be done even on minor changes in code and also need a good connectivity of internet . If you are offline for some reason, you are just in dark what code you are writing until you have a way to execute and test that functions offline on your local

[2017-03-11 19:31] jQrgen opened #5 "Would this library work a normal node server?"

[2017-03-13 21:52] laurenzlong commented on #4
Hey malikasinger1, you can check out our documentation for how to write unit tests: https://firebase.google.com/docs/functions/unit-testing

Google Cloud Functions also open-sourced a local emulator, and we are working to build a tighter integration with Cloud Functions for Firebase. In the meanwhile, you can check it at here: https://firebase.google.com/docs/functions/unit-testing

[2017-03-13 21:53] laurenzlong commented on #5
Hey jQrgen, could you elaborate on your question a bit more? What is your use case?

[2017-03-14 04:57] malikasinger1 commented on #4
Dear @laurenzlong I was not talking about **unit testing**
I want to run firebase functions locally, just like we can run aws lambda function locally,
either it is possible right now?
if not, are you guise planning to give this facility in near future?

Thank you,
Inzamam Malik.

[2017-03-14 16:10] jQrgen commented on #5
Hei @laurenzlong i'm wondering if the firebase cloud functions library would work as expected on a heroku-hosted v6.10.0 node.js server or if the hosting provided by firebase is required for the firebase functions node module to work properly.

[2017-03-14 18:26] laurenzlong commented on #4
Hey Inzamam, thanks for the clarification. I accidentally copied and pasted the unit testing link twice. I've revised my response above. The emulator does allow you to run functions locally. Here's the documentation that explains how to use it: https://cloud.google.com/functions/docs/emulator

[2017-03-14 21:12] laurenzlong commented on #5
Hey @jQrgen unfortunately, this SDK has to be used with the Google Cloud Functions runtime environment. Otherwise, events happening in your app will not actually trigger the execution of the functions. We have a free tier for Cloud Functions for Firebase, so you can give it a try without paying.

Note that the Google Cloud Functions runtime environment is different from "Firebase hosting", which h

[2017-03-14 21:12] #5 closed

[2017-03-15 04:47] TomClarkson opened #7 "Typescript"
Can we use typescript to write firebase functions at the moment? I saw that we can per https://youtu.be/GNR9El3XWYo?t=13m46s but I am not sure how to configure it.

If we can use typescript can you please provide an example.

Thanks

[2017-03-15 18:05] laurenzlong commented on #7
Hey Tom,

Absolutely! We created the SDK in typescript, so writing functions in Typescript is a great idea since you'll be able to make use of auto-suggestions and compiler errors when using an IDE. When you run `npm install --save firebase-functions`, the SDK that is downloaded automatically works for both JavaScript and TypeScript development, no additional configuration needed. To get started,

[2017-03-15 21:21] TomClarkson commented on #7
I didn't realise I needed to compile before deploying.

Thanks very much for your help :)

[2017-03-15 21:21] #7 closed

[2017-03-15 21:36] laurenzlong commented on #7
Not a problem!

[2017-03-16 07:53] jernkuan opened #8 "How do i point to latest firebase-functions in github.com under package.json"
https://www.npmjs.com/package/firebase-functions is currently outdated.
I am looking to use the latest github as resourceState has just been added.
[code]
On compiling with typescript, it's having an error
Cannot find module 'firebase-functions'
[code]
I am not seeing the lib directory in there

[2017-03-16 20:50] laurenzlong commented on #8
Hey @jernkuan , are you developing with TypeScript or JavaScript? If you are developing with JavaScript, then you can already use event.data.resourceState with v0.5.2. The field is already populated, we just didn't have export a typing for it yet.

Here's how to use the latest SDK directly from Github:
1.  Inside projectDirectory/functions, run:
[code]
2. Modify the firebase-functions dependency i

[2017-03-16 21:53] jernkuan commented on #8
Working with typescript and compiler throwing an error with the resourceState thus the need to use the latest from github. I think your suggestion would work.

Thanxs and closing

[2017-03-16 21:53] #8 closed

[2017-03-16 22:15] laurenzlong commented on #8
Ok, no probs!

[2017-03-17 17:06] jwngr commented on #8
FYI that it's generally not the best practice to always point to the latest `master` instead of the latest release. It could cause unexpected issues if we happen to merge a breaking change into `master`. If you want to get the current release to work in TypeScript, you can just do `(object as any).resourceType` to get rid of the TypeScript warning.

[2017-03-18 15:12] Erbolking opened #11 "Curly brackets (`{}`) in the `path` name."
Hey guys,

Cloud Functions allows wildcards in the `path` name.
So, I can do something like this "`messages/{messageId}`" which will match to "`messages/messageId1`", "`messages/messageId2`" and etc...

My question is...
Is it possible to use this technic with Firebase Admin SDK?
or somehow use firebase-functions in my own server?

[2017-03-18 22:04] nitinppatil opened #12 "npm ERR! 404 Not Found"
While installing npm package getting following messages:
...functions>**npm i firebase-functions**
npm WARN package.json time-server-functions@ No repository field.
npm WARN package.json time-server-functions@ No README data
npm ERR! 404 Not Found
npm ERR! 404
npm ERR! 404 'types/jsonwebtoken' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404 It was spec

[2017-03-19 15:45] abhinavlal opened #14 "Functions initialisation with const gives error"
[code]

When deploying this function i  get error
[code]

changing `const functions` to `var functions` make this works.

firebase cli - 3.5.0
node - 3.3.1

[2017-03-19 16:33] mbleigh commented on #14
You need to upgrade to node 6 to use es6 features like const

On Sun, Mar 19, 2017, 8:45 AM Abhinav Lal <notifications@github.com> wrote:

[2017-03-20 15:56] jwngr opened #15 "DeltaSnapshot.forEach() doesn't respect return value of action parameter"
See https://github.com/firebase/firebase-functions/pull/13#issuecomment-287803381.

[2017-03-20 16:59] jwngr commented on #12
If I had to guess, you are using an old version of Node.js / `npm`. I would suggest upgrading Node.js `6.x.x` (which is the environment your Functions will actually run in) and a more recent version of `npm` (which you can update via `npm install -g npm`).

[2017-03-20 16:59] #12 closed

[2017-03-20 16:59] #14 closed

[2017-03-20 17:03] jwngr commented on #11
This is a usage question, which is better suited for [Stack Overflow](https://stackoverflow.com/questions/tagged/firebase) or the [Firebase Google Group](https://groups.google.com/forum/#!forum/firebase-talk). Can you please re-post on one of those forums and paste the link here? Please also remember to include version information and a code sample (if relevant) to help us resolve your issue.

The

[2017-03-20 17:03] #11 closed

[2017-03-21 16:59] azraelx23 opened #16 "Permission denied on set value"
I am simply doing this:
`admin.database().ref(`/chat/last_message/${currentUserId}`).set(currentTimestamp);`

however I get:

FIREBASE WARNING: set at /chat/last_message/46wyOyreyYSocywqEt1g3943OAH2 failed: permission_denied

even though my database rule is only:

[code]

Strange thing is I do the exact thing on my other firebase account, and it worked perfectly fine.

[2017-03-21 18:53] jwngr commented on #16
When you authenticate with the Admin SDK, you should have full read and write access. The `permission_denied` error you are getting is probably because you are authenticating the Admin SDK with an invalid `credential` or `databaseURL`. Can you share the code you are using the initialize the Admin SDK? Are you using `admin.initializeApp(functions.config().firebase)` or are you passing in your own o

[2017-03-21 19:35] shauntrennery opened #17 "Stale onWrite's event.data.val() children"
When subscribing to a path's onWrite event, children of event.data.val() contain stale data.
e.g. if a path is updated with a new "tag" object i.e. {tag1: true, tag2: true}, event.data.val() contains the previous version of tags. i.e. {tag1: true}

[2017-03-21 19:47] katowulf commented on #17
Hello Shaun, thanks for sharing this. Can you please add a minimal repro, sample data, and steps to reproduce this?

[2017-03-21 20:08] #15 closed

[2017-03-22 00:20] azraelx23 commented on #16
hi @jwngr yes I use the standard `admin.initializeApp(functions.config().firebase)` to initialize the admin SDK. As I said before, the cloud function works fine on my test project with the same rule set and database structure, yet somehow on my project on production, it failed with this error.

[2017-03-22 00:50] azraelx23 commented on #16
'read' is working fine for me, as in this code:

[code]

[2017-03-22 04:12] azraelx23 commented on #16
apparently my database trigger function also failed with permission denied error, got this error on the log
[code]

my code:

[code]

[2017-03-22 05:13] jwngr commented on #16
Hey @azraelx23, I'm starting to get lost in all the different directions this is heading. Let me give you some general tips about how things are supposed to work and then maybe you can help put together a clear repro of the issue for me.

The `event.data` available as part of a Database Cloud Function is an instance of [`DeltaSnapshot`](https://firebase.google.com/docs/reference/functions/function

[2017-03-22 05:25] azraelx23 commented on #16
Sorry, but let's focus on the last code which is the database trigger because I think the issue is related. The first post was using HTTP trigger, so I cannot access the adminRef through the event object. However, on my last post, it is using database trigger and I changed it to this per your suggestion:

[code]

However, it still throws out the permission denied error.

[2017-03-22 05:49] jwngr commented on #16
Ahh okay, now all the different posts are starting to make more sense. Thanks for clarifying.

I am *really* surprised that the latest code you shared doesn't work and throws a permission denied error. I honestly don't have a suggestion for you at the moment, other than to double check that the deploy actually was successful and the permission denied is coming from the correct Cloud Function. Can

[2017-03-22 07:05] azraelx23 commented on #16
hi @jwngr appreciate that you are still replying late at night, I completely understand 👍

I have updated my index.js to the very barebones, I also include my package.json

[code]

package.json:

[code]

The error log that I got:

<img width="943" alt="screen shot 2017-03-22 at 2 00 40 pm" src="https://cloud.githubusercontent.com/assets/950254/24185952/73f7f6a2-0f08-11e7-8c5d-736f8a7b3e45.png">

T

[2017-03-22 07:10] azraelx23 commented on #16
FYI, I also tried deleting the admin.initializeApp() call, but still no dice, same error.

[2017-03-22 07:15] ahaverty commented on #16
The error log is for a transaction at /gathering/livestream-galih-samudra/count
By there's no transaction in that function in your above example? Only a set ()

[2017-03-22 07:37] azraelx23 commented on #16
@ahaverty sorry please ignore the very first post and check my latest sample code, it is a database trigger and it has transaction right on this line

[code]

[2017-03-22 09:24] ahaverty opened #18 "Getting strange errors on app deleted and ECONNRESET"
### Version info

**firebase-functions:** 0.5.2
**firebase-tools:** 3.5.0
**firebase-admin:** 4.1.3

### Test case
Unsure of the test case as it seems to be caused by an ECONNRESET on firebase functions. However it may be caused by me returning promises incorrectly.

### Steps to reproduce
I'm writing a progress percentage to the events ref, as my job progresses, with a function:
[code]
I'm hittin

[2017-03-22 09:31] ahaverty commented on #18
I think I'm going to try return the function and wrap things in Promise.all() like I do with everything else. I'll leave this open as I'm not sure this was causing the two errors, but it's probably not coincidence they were happening on only one of my functions.

[2017-03-22 11:30] ahaverty commented on #18
Fixing up my promise/task returns seems to have fixed it. I can see others on slack functions channel talking about ECONNRESET issues, perhaps they're stuff is running beyond the function shutdown also? I'll mention my issue in there and see 👌

[2017-03-22 11:39] tsaarikivi commented on #18
@ahaverty
I'm sorry, what exactly do you mean by fixing promise/task returns? Could you post a how to not and how to difference. I think this might be the issue for me too!

[2017-03-22 11:51] ahaverty commented on #18
@tsaarikivi Are you aware any asynchronous tasks need to be returned in order to keep a firebase-function alive? https://firebase.google.com/docs/functions/terminate-functions

I believe the ECONNRESET was being caused by my function terminating before my asynchronous functions were actually finished.

e.g: What **not** to do
[code]
e.g: What should be done (Notice the **return**)
[code]

I had be

[2017-03-22 12:03] tsaarikivi commented on #18
Weird, I actually do return promises so probably not that. But I'll have to recheck my code.

[2017-03-22 12:07] ahaverty commented on #18
Interested to hear if it solves it for you too, let me know 👌

[2017-03-22 13:38] ahaverty opened #19 "Deploy Error: Failed to retrieve function source code"
### Version info
firebase-functions: 0.5.2
firebase-tools: 3.5.0
firebase-admin: 4.1.3

### Steps to reproduce

Only 15 out of 17 of my functions are deploying successfully

### Were you able to successfully deploy your functions?

Not exactly,
I'm getting the following error since deploying my 17th function:
[code]
<img width="634" alt="screen shot 2017-03-22 at 13 36 47" src="https://cloud.githu

[2017-03-22 13:39] ahaverty commented on #19
Update: On my third deployment attempt, 16/17 deployed successfully, but a different function failed due to the same issue.

[2017-03-22 13:50] ahaverty commented on #19
Update 2: That deployment actually resulted in a different error
[code]
And here's what happens on the log for that function.
Although it seems like that functions previous deployment is still running regardless of the failure?:
<img width="702" alt="screen shot 2017-03-22 at 13 49 36" src="https://cloud.githubusercontent.com/assets/2920947/24200914/78eb163c-0f06-11e7-81ae-2d76ef6731d6.png">

[2017-03-22 13:54] ahaverty commented on #19
Update 3: All 17 functions had a deployment success attempt 4. Can someone clarify if a function fails to deploy, what state is it left in (if a previous deployment was a success) and are the other functions updated?
I could see inconsistent deployments causing issues if one function depended on another function. It looks like function deployment is independent at the moment?
Could I suggest some

[2017-03-22 18:06] laurenzlong commented on #17
Hey @shauntrennery , you might also be listening to the wrong database ref. Moreover, the onWrite event also fires for delete events, so if you've been deleting the database item in between rounds of testing, then the function would fire as well. Like Kato said, it would be helpful if you can share more detailed repro instructions.

[2017-03-22 18:19] laurenzlong commented on #18
Hey @ahaverty you're absolutely right! I'm glad you were able to figure this out. Having your functions pre-maturely return also explains the log line "Firebase app named "admin" has already been deleted." The SDK deletes apps after the function's return promise resolves in order to prevent concurrency leaks. So when your function doesn't return the promise, but returns undefined, the app gets del

[2017-03-22 18:19] #18 closed

[2017-03-22 18:23] shauntrennery commented on #17
Hi @laurenzlong, @katowulf

Many thanks for the prompt reply. I've triple checked the database ref and have confirmed there are no other events triggered. I'm working on replicating the problem within a demo repro. I'll update this with links, steps and sample data ASAP.

[2017-03-22 18:34] laurenzlong commented on #19
Hey @ahaverty thanks for the detailed repro instructions. This is definitely a bug, and I'll try to reproduce it on my end and figure out how to fix it. Will keep you updated on this thread. Here are the answers to your questions:

**Can someone clarify if a function fails to deploy, what state is it left in (if a previous deployment was a success) are the other functions updated?**

It depends on

[2017-03-22 18:35] ahaverty commented on #18
Thanks @laurenzlong If firebase functions is capable of logging something that late, It might be nice to suggest that late promises is the cause. Looks like a few people's issues this week were caused by them not returning promises properly, I know it's explained a few of mine. Thanks for looking 😁👌

[2017-03-22 18:44] ahaverty commented on #19
@laurenzlong Awesome, I didn't know cloud.google console was linked like that! independent deploys aren't such a big deal with the console then. Just to note, I had no issues deploying the same functions 5 minutes later to another one of my projects. Let me know if I can help with debugging👏 Thanks again👌

[2017-03-22 18:55] laurenzlong commented on #19
That's good to hear! Did you save the firebase-debug.log file from the failed deploy? (It gets automatically created in the working directory when there's a failure) That would be really helpful.

[2017-03-22 18:59] laurenzlong commented on #18
That's a good suggestion! I'll file that ticket internally. Thanks!

[2017-03-22 19:00] ahaverty commented on #19
@laurenzlong I don't have it in the working directory or in my trash. Is it removed on each new deploy? Can I grab anything from google cloud logs?

[2017-03-22 19:02] laurenzlong commented on #19
Unfortunately it gets written over in successive deploys so it's gone now :(

[2017-03-22 19:04] ahaverty commented on #19
Sorry @laurenzlong 😞, I never thought of it. I'll save and send if it happens again.

[2017-03-22 19:04] laurenzlong commented on #19
Not a problem! Yes that would be great, thanks!

[2017-03-22 22:17] jwngr commented on #16
This behavior seems very unusual. And the fact that this same code works in a different projects makes me think something is just messed up with this particular project. One thing I would suggest trying is to disable and re-enable the Cloud Functions API entirely and see if that resets things. To do that, you need to follow these steps:

  1. Remove all of your Functions (do a `firebase deploy` wi

[2017-03-22 22:30] kr05 opened #20 "Firebase function not responding to Pub/Sub message"
### Version info

**firebase-functions:** 3.10.10

**firebase-tools:** 3.10.10

**firebase-admin:** 3.10.10

### Test case

I feel like I might be missing something simple, but I can't get a Firebase cloud function to respond to a Pub/Sub published message. It works fine when I deploy using gloud and opt for the Admin SDK for Node.js, but auth is tricky; it works for the first write and then it fa

[2017-03-22 22:39] katowulf commented on #20
All issues have to follow the issue template provided. I understand this is asking a lot and is generally annoying when you feel your question is straightforward, but just trust that it's critical to keep things streamlined and manageable for our team. Note that how-to questions are better suited for Stack Overflow or a discussion group.

[2017-03-22 22:43] kr05 commented on #20
I accidentally posted, it has been updated!

[2017-03-22 23:04] laurenzlong commented on #19
Hey @ahaverty I'm unable to reproduce the bug. A new release for the runtime went to prod today, so I think that probably resolved the issue. I'm going to close this issue for now, but feel free to re-open it if you see the errors again.

[2017-03-22 23:04] #19 closed

[2017-03-23 00:09] ahaverty commented on #19
Thanks @laurenzlong haven't hit it since anyway, but will do!

[2017-03-23 01:50] azraelx23 commented on #16
Hi @jwngr , some updates, I did the first step that you outlined , however I noticed that there was 1 function remaining there even though I deployed an empty index.js, looks like my coworker deployed a function from his machine before I deployed my functions. Perhaps it's the source of this whole fiasco? I am trying to contact him first to try having him delete his function before restarting the

[2017-03-23 02:27] azraelx23 commented on #16
@jwngr my coworked deleted his function, and I was able to disable and re-enable the functions API, after that I proceeded to upload the non-empty index.js , however I still got the same permission denied error.

[2017-03-23 02:38] jwngr commented on #16
Wow, this one is really quite a doozy... I think I'm going to have to hand you off to some other people on the team who can help you debug this. Can you please send me an email at <MY_GITHUB_USERNAME>@google.com and include the project ID of both of your projects, indicating which one the code succeeds for an which one the code fails for. Also, if you don't mind, sending me the full `index.js` you

[2017-03-23 02:49] azraelx23 commented on #16
@jwngr just sent you that email, thanks for everything!

[2017-03-23 10:37] ahaverty opened #21 "Function killed. Error: system encountered unexpected error"
### Version info

firebase-functions: 0.5.2
firebase-tools: 3.5.0
firebase-admin: 4.1.3

### Test case

I'm triggering firebase functions at 10 minute intervals with node-schedule

One of my functions encountered an unexpected error:
Function killed. Error: system encountered unexpected error
<img width="950" alt="screen shot 2017-03-23 at 10 17 11" src="https://cloud.githubusercontent.com/assets/

[2017-03-23 11:33] ahaverty commented on #21
It's actually worse than I thought. The function has totally stopped working since the error. It's not responding to anything. See screenshots of metrics and logs. I'm going to redeploy to see if it relaunches.

<img width="1653" alt="screen shot 2017-03-23 at 11 27 40" src="https://cloud.githubusercontent.com/assets/2920947/24245821/6095c4e0-0fbc-11e7-987a-de61a56a4583.png">
<img width="1643" alt

[2017-03-23 11:53] ahaverty commented on #21
Confirming that a redeploy brought the function back online ☑️

[2017-03-23 23:03] laurenzlong commented on #21
Thanks for the detailed report @ahaverty . Can you fill out [a support ticket](https://firebase.google.com/support/contact/bugs-features/)? This will allow you to give us your project ID privately, so we can look up logs for it. In the ticket, you can link to this issue, mention that you've already been talking to Lauren Long so it can be routed to me. I'm going to close this issue here, since it'

[2017-03-23 23:03] #21 closed

[2017-03-23 23:13] laurenzlong commented on #20
Hey @kr05 , not a problem. Your code looks fine, except I don't know what "callback()" is, maybe that's a part of the code that you didn't share? How are you publishing to pubsub exactly?

As well, can you double check the version numbers you have at the top? Some of them don't exist.

[2017-03-23 23:19] atomicleopard commented on #4
How this emulator support the firebase specific parts of GCF (i.e. `ref().onWrite()` ? I haven't found any specific docs for this? Dev cycle while deploying up to the cloud is sort of excruciating, it would be great to be able to do this locally.

[2017-03-23 23:21] laurenzlong commented on #4
Hey @atomicleopard this is something that we are still working on. Stay tuned!

[2017-03-24 09:57] ahaverty commented on #21
Thanks @laurenzlong , bug report created 👌

[2017-03-24 15:29] ahaverty commented on #19
Hi @laurenzlong
I hit a similar issue today again on a different project

`⚠  functions[merchantSettingsTask]: Deploy Error: Failure in the execution environment`

But there was no firebase-debug.log in my working directory, project folder or functions folder so I'm not sure what else I can do. 🤔

[2017-03-24 15:31] ahaverty commented on #19
Strange, the firebase-debug.log appeared after calling another firebase deploy afterwards. I'll send a private bug report with the log and reference here 👌

[2017-03-24 15:48] ahaverty commented on #19
No I'm wrong, that debug log wasn't for the previous deploy. This may be a bug with firebase-tools? I'd have no way of verifying/testing unfortunately.
Also, the second deploy here started all functions correctly.

[2017-03-24 17:44] jwngr commented on #16
Mystery solved! After a bunch of back and forth, we finally tracked down the underlying problem.  Cloud Functions use your Firebase project's **App Engine default service account** to authenticate `adminRef`. This service account is created automatically when your project is created and by default has an IAM permission of **Editor**. You can see what permission it has by looking [here](https://con

[2017-03-24 17:44] #16 closed

[2017-03-24 17:48] azraelx23 commented on #16
Thanks @jwngr and firebase team! Great team effort!

[2017-03-24 22:39] laurenzlong commented on #19
Hey @ahaverty I was mistaken. CLI typically generates a firebase-debug.log for errors, but doesn't do so for functions deploy errors unless you ran the command with the --debug flag.

Next time you encounter a deploy error, can you run it again with "firebase deploy --debug"?

As for the error you saw, it seemed to be a one-off. (We're working hard to eliminate these!)

[2017-03-25 00:07] kr05 commented on #20
I ended creating a new project and deploying all of my functions using firebase, which somehow fixed my problem. I have a feeling it was publishing to an incorrect topic. Thanks guys and keep up the good work!

[2017-03-25 00:07] #20 closed

[2017-03-25 00:36] ahaverty commented on #19
Good to know 👌 Does running firebase deploy --debug create a log for the previous deployment or the current deploy? Catching these intermittent fails would be hard unless I ran --debug everytime, right?
(Functions will massively help our team, and yourself and firebase are doing a great job, especially for a beta🤗!) Thanks for all the help

[2017-03-27 17:59] laurenzlong commented on #20
Thanks for the update! Glad it worked!

[2017-03-28 19:23] ahaverty commented on #19
Hi @laurenzlong this issue is actually happening to me quite often, sometimes up to 4 functions fail to deploy. I finally had the foresight to run with the --debug flag and manage to catch one! I'll send the log over a support ticket

[2017-03-28 19:31] ahaverty commented on #19
Responded to the original ticket support I opened with Gabriel, asked for him to pass it on to you. Thanks again

[2017-03-28 20:27] duni1210 opened #23 "Deploy Error: Failure in the execution environment"
Hi there,
I encountered these kind of bug randomly, and fortunately after several tries, it succeeded as it should.
I've attached some screenshots below as a contribution to eliminate the bug.
Anyway, Firebase Functions is a magical feature and it makes life easier and happier 👍
Hope to see a stable system soon.
Thank you so much, Firebase Team :)

![firebase-functions-bug-console](https://cloud.g

[2017-03-28 20:33] ahaverty commented on #23
I've the same issue in progress over here https://github.com/firebase/firebase-functions/issues/19
We haven't found any workaround yet unfortunately. Deploy with the --debug flag to capture debug logs, and send over in a private support ticket for @laurenzlong is probably our best bet at helping 👌

[2017-03-28 20:34] laurenzlong commented on #23
Thanks for the report and the kind words @duni1210 ! Can you also file a support ticket at https://firebase.google.com/support/, and ask for it to be routed to Lauren Long. Closing this issue, since this is a server issue, not an SDK issue.

[2017-03-28 20:34] #23 closed

[2017-03-29 23:32] rodrigoreal opened #26 "Require another files into index.js"
I see that all functions reside in a single `index.js` file.
How can i create another files and require it in the `index.js`?
I'm trying to organize my functions.

[2017-03-29 23:36] ahaverty commented on #26
Check out my answer on functions sample repo https://github.com/firebase/functions-samples/issues/63

[2017-03-29 23:41] jwngr commented on #26
Thanks for answering this one @ahaverty!

@rodrigoreal - In the future, please read and follow the issue template.

[2017-03-29 23:41] #26 closed

[2017-03-30 18:08] laurenzlong commented on #17
@shauntrennery I'm going to close this issue for now, please re-open when you have a repro. Thanks!

[2017-03-30 18:08] #17 closed

[2017-04-03 15:51] nicolasgarnier opened #27 "`Cannot GET null` when using an Express app in HTTP functions"
It seems that when passing an expressJS app to an HTTP function we cannot hit the "root" URL of the function https://us-central1-app-name.cloudfunctions.net/functionName when we do we get the following error:

[code]

This despite setting a handler for all URLs for instance:

[code]

Adding a trailing slash works. For instance: https://us-central1-app-name.cloudfunctions.net/functionName/ works no

[2017-04-03 15:53] nicolasgarnier commented on #27
this is caused by the empty value of `req.url` when hitting https://us-central1-app-name.cloudfunctions.net/functionName

Having read a bit online it seems that this is not an expected value for ExpressJS nor NodeJS. req.url should at least be `'/'`:

https://github.com/expressjs/express/issues/2281#issuecomment-70447144

Basically `req.url` should **never** be an empty String. We should always ha

[2017-04-05 05:23] AdityaSharma-Malladi opened #28 "Unable to deploy firebase functions"
I am trying to deploy functions to cloud but getting error and log is furnished below.

PS D:\ADITYA\R&D_LIVE_CHAT\Mingle> firebase deploy --debug --only functions
----------------------------------------------------------------------
Command:      C:\Program Files\nodejs\node.exe C:\Users\sai\AppData\Roaming\npm\node_modules\firebase-tools\bin\firebase
 deploy --debug --only functions
CLI Version

[2017-04-05 08:23] nicolasgarnier commented on #27
By the way we get the same issue when using an Express router but the error message is `Error: could not handle the request` due to `TypeError: Cannot read property 'apply' of undefined` (that's what's in the logs)

[2017-04-06 13:09] laurenzlong commented on #28
Hey Aditya,

Could you stick to the issue template in the future?

Looks like the CLI is having trouble deleting the temp directory it created while uploading the source folder, can you try:
1) Emptying the /tmp directory (might be too full)
2) Make sure you aren't looking at the temp directory in an editor, or in a terminal window, etc.

If the problem still persists, can you file an [official su

[2017-04-06 13:09] #28 closed

[2017-04-09 07:04] cdock1029 commented on #27
Got this to work for me previously:

https://gist.github.com/cdock1029/9f3a58f352663ea90f8b9675412c4aea

[code]

[2017-04-09 16:59] danielfnz opened #29 "Can i use http request to another api?"
I am making a viability to use firebase-functions and would like to know if it is possible to communicate with another api using http request.

Anyone already tested?

[2017-04-09 18:03] Domiii opened #30 "Cannot install firebase-functions"
I am currently unable to `firebase deploy` because `firebase-functions` won't get installed, and it won't even omit them when I tell it to during `firebase init`.

Here is the problem with `firebase-functions` in particular:

During `npm install` in my `functions` folder, I am told that the `@types/express` dependency does not exist:

When just running `npm install --save @types/express`, I get a

[2017-04-09 20:01] mbleigh commented on #30
You are on an old version of npm. Please upgrade to the latest version and
try again.

On Sun, Apr 9, 2017, 11:03 AM Domi <notifications@github.com> wrote:

[2017-04-10 18:15] laurenzlong commented on #29
Yes you can, but you must have a credit card on file to make external network requests within your function. In the future, please use our [Google Groups](https://groups.google.com/forum/#!forum/firebase-talk) for something like this, Github issues are for reporting reproducible bugs or feature requests for the SDK.

[2017-04-10 18:15] #29 closed

[2017-04-10 18:17] #30 closed

[2017-04-11 14:34] Domiii commented on #30
Indeed, I am using Windows and `chocolatey` to manage my `NPM` installation, and used [a deprecated package](https://chocolatey.org/packages/npm). Fixed it now. Thanks a lot! :)

[2017-04-12 02:55] stevenyap opened #33 "Import default issue with babel@6"
Firebase-functions version is 0.5.4

I am using babel@6 to transpile my es6 code and found an issue that the transpiled code is not working. Here's how to reproduce:

[code]

which is transpiled into (using babel@6 es2015 preset):

[code]

which produces the following error when deploying:

[code]

I think the issue is that firebase-functions did not export a default and hence, when importing a de

[2017-04-12 03:02] mbleigh commented on #33
You can just do

import * as functions from 'firebase-functions'

The lack of a default export is intentional and necessary for compatibility.

On Tue, Apr 11, 2017, 7:55 PM Steven Yap <notifications@github.com> wrote:

[2017-04-12 03:16] #33 closed

[2017-04-13 08:09] OxyFlax opened #35 "onWrite function takes 15 seconds to begin"
### Version info

**firebase-functions:** "^0.5"

**firebase-admin:** "^4.1.2"

### Test case

[code]
### Steps to reproduce

Add object under "Something" reference and look at the console when the message "Cloud function executing...".

### Were you able to successfully deploy your functions?

No error message when I deployed the function.

### Expected behavior

The message should appear directl

[2017-04-13 15:32] laurenzlong commented on #35
Thanks for the report @OxyFlax, and thanks for using the template. We refer to what you're experiencing as "cold start latency" and it's something that we're keenly aware of and are working to reduce. However 15s is longer than we've been seeing, are you experiencing this regularly?

[2017-04-13 15:47] OxyFlax commented on #35
It depends, sometimes I don't have any and sometimes it's long. But most of the time it's between 10 and 15 seconds.

[2017-04-13 17:39] katowulf commented on #35
Similar discussions:
http://stackoverflow.com/questions/42726870/firebase-cloud-functions-is-very-slow
http://stackoverflow.com/questions/40165122/why-does-the-first-firebase-call-from-the-server-take-much-longer-to-return-than

[2017-04-14 05:43] cevanish12 opened #36 "functions.database.DeltaSnapshot#key outputs incorrect value"
### Version info

**firebase-functions:** ^0.5

**firebase-admin:** ^4.1.4

### Test case

This is similar to what I have:

[code]

### Were you able to successfully deploy your functions?

Yup. I'd classify this as more of a semantic error.

### Expected behavior

If my path was /Accounts/1234/5678, the key should give me 5678.

### Actual behavior

The key property gives me 12345678 (combining t

[2017-04-15 22:02] Portals opened #37 "Using database's set with an object with two properties will not trigger function which listenes to one of the properties"
### Version info
firebase-admin: 4.1.2,
firebase-functions: 0.5

### Test case & Steps to reproduce

https://github.com/Portals/firebase_functions_database_bug

Bug in summary:

This will trigger a function listening to /path/1

[code]

This will trigger a function listening to /path/1
`        firebase.database().ref("/path").remove();
`

This will **not** trigger a function listening to /path/1

[2017-04-15 22:31] mbleigh commented on #37
In the scenario where the function doesn't trigger, is there already a
value when you do the set or is it null?

On Sat, Apr 15, 2017, 3:02 PM Theodor <notifications@github.com> wrote:

[2017-04-15 22:37] Portals commented on #37
There is a value before ref.set(object) when the function doesn't run.
object[1] is null. object[2] a= 'Hello World'. The function listens to
/path/1.

Den 16 apr. 2017 12:31 fm skrev "Michael Bleigh" <notifications@github.com>:

[2017-04-18 21:46] laurenzlong commented on #36
Thanks for reporting! In the meanwhile, you can work around this by using event.params.accountId

[2017-04-19 04:23] davidkassa commented on #36
This also affects `item.ref`. Overriding the _fullPath prototype successfully works around this issue.

[2017-04-20 02:40] markgoho opened #39 "Deploy Error: Insufficient permissions to (re)configure a trigger"
### Version info

**firebase-functions:**
0.5.5
**firebase-tools:**
3.6.1
**firebase-admin:**
4.2.1
### Test case
Uploading the following index.js file to functions:
[code]

### Steps to reproduce
This is a brand new project, just created -- I took a function that I've been testing and did a `firebase deploy --only functions`

*UPDATE*
Created a brand new project, tried to deploy, got the same err

[2017-04-20 11:34] motss commented on #27
Just an update to this issue. Using `express.Router` still not solving this issue.

Simple example to reproduce the same issue:

[code]

[2017-04-20 13:19] Ogulcan-Ozdemir commented on #39
Did you check auth status in firebase cli env using 'firebase login' ?

[2017-04-20 13:57] markgoho commented on #39
@Ogulcan-Ozdemir "Already logged in as markgoho@gmail.com"

[2017-04-20 14:10] puf commented on #39
We're seeing the same behavior in some cases and are troubleshooting. Please [reach out to Firebase support](https://firebase.google.com/support/contact/troubleshooting/) for personalized help in troubleshooting.

[2017-04-20 15:13] mcdonamp commented on #39
Hey folks,

It's possible that the ACLs for your buckets aren't set up properly. We're working on ways to automagically fix them if we notice they're wrong, but it may take a little to roll that out.

In the mean time, install the latest Cloud SDK: https://cloud.google.com/sdk/docs/ and run these in your favorite terminal:

[code]

It's likely you'll only need to run the top three to set the defau

[2017-04-20 15:39] markgoho commented on #39
First three commands went through, last three gave this error:
`Encountered a problem: CommandException: No URLs matched: gs://functionsproject-b93f8.appspot.com/*`

Retried deploying the function -- same error:
`!  functions[discoverText]: Deploy Error: Insufficient permissions to (re)configure a trigger (permission denied for bucket functionsproject-b93f8.appspot.com). Please, give owner permiss

[2017-04-20 19:34] mcdonamp commented on #39
More info is available here: https://github.com/firebase/functions-samples/issues/107#issuecomment-295865335, including a handy-dandy bash script

[2017-04-20 20:27] markgoho commented on #39
`+  functions: all functions deployed successfully!`'

Yay!

[2017-04-20 20:29] #39 closed

[2017-04-26 11:13] raviranjan528 opened #41 "aws sms and email is not working with firebase function . why?"
i have to use mail and sms function of aws in firebase function .. i am unable to do that ..please help

[2017-04-26 14:57] SamMatthewsIsACommonName commented on #35
Is it possible to take 20-25 seconds? All my other functions start from 'cold' and take nowhere near that:
http://stackoverflow.com/questions/43637519/why-is-firebase-cloud-function-taking-25-seconds

[2017-04-26 18:45] laurenzlong commented on #41
Hey @raviranjan528 sorry to hear that you are having issues. Please post an issue using the issues template if you believe this is actually a bug with the SDK. If you're needing help troubleshooting, then please use Stack Overflow or one of our other [support channels](https://firebase.google.com/support/)

[2017-04-26 18:45] #41 closed

[2017-04-26 21:42] Mistobaan commented on #27
I arrived here from the comment in the [example-functions](https://github.com/firebase/functions-samples/blob/master/authorized-https-endpoint/functions/index.js), getting the 'apply' error and using the Router object. I fixed it using @cdock1029 patch.

[2017-04-27 06:39] raviranjan528 commented on #41
{ UnknownEndpoint: Inaccessible host: `sns.us-west-2.amazonaws.com'. This service may not be available
  message: 'Inaccessible host: `sns.us-west-2.amazonaws.com\'. This service may not be available in the `us-west-2\' region.',

This is what i am geeting ..

[2017-04-27 06:50] crystalneth opened #42 "Cloud function not triggered when array set to empty in parallel with other values"
### Version info

**firebase-functions:** 0.5.3

**firebase-tools:** n/a

**firebase-admin:** 4.1.3

### Test case

Deploy this cloud function:

[code]

Observe the value at /testFire/firedAt while entering the following in a REPL or elsewhere:

`root.child('testFire/someThing/123').set( { foo: 1, tags: ['someTag'] })`

(function fires)

`root.child('testFire/someThing/123').set( { foo: 2, tags: [

[2017-04-27 12:44] diegopitt opened #43 "Transaction not resolving correctly, timing out functions"
Function is timing out when using transactions:
[code]

[2017-04-27 16:23] puf commented on #42
Please indicate when you cross-post: https://groups.google.com/forum/#!topic/firebase-talk/-udC4weRFO0 Closing it here, since a team member already followed up in firebase-talk.

[2017-04-27 16:23] #42 closed

[2017-04-27 17:30] katowulf commented on #43
Related discussion: https://github.com/firebase/functions-samples/issues/119

Workaround: http://stackoverflow.com/questions/43151022/cloud-functions-for-firebase-onwrite-timeout

[2017-04-27 18:45] crystalneth commented on #42
I realized firebase-talk was not for bugs after posting there. This seemed more appropriate for tracking and updates. However handle as you do. :)

[2017-04-27 18:49] katowulf commented on #42
Either place is fine, just link them and pick one for discussion, so we don't duplicate effort.

[2017-04-27 19:46] pyramind10 commented on #39
For what its worth I encountered this issue after I updated the CORS configuration as instructed in the firebase download file ([documentation](https://firebase.google.com/docs/storage/web/download-files#cors_configuration).

[2017-04-27 20:23] crystalneth opened #44 "functions:config:clone results in escaped quotes within nested values"
### Version info

**firebase-functions:** 0.5.3

**firebase-tools:** 3.6.1

**firebase-admin:** 4.1.3

### Test case

When cloning config environment, nested values have escaped quotes.

### Steps to reproduce
[code]

[code]
Outputs:
[code]

### Were you able to successfully deploy your functions?

Yes

### Expected behavior

Same config settings.

### Actual behavior

Invalid config values

[2017-04-28 17:57] laurenzlong commented on #36
Fix has been merged into master.

[2017-04-28 17:57] #36 closed

[2017-04-28 18:41] katowulf commented on #44
Looks like an issue with the CLI. Moving this there. Thanks for the report!

[2017-04-28 18:41] #44 closed

[2017-05-01 22:42] rodrigoreal opened #45 "FCM Notification no sound and no vibration"
### Version info

[code]
### Were you able to successfully deploy your functions?

Yea

### Expected behavior

When i receive a notification on my device it should do a sound or vibrate.

### Actual behavior

I receive the notification but it don't do any sound or vibrate.

[2017-05-02 17:22] katowulf commented on #45
All issues have to follow the issue template provided. Part of that template is including a minimal repro of the problem. Not that this looks like more of a troubleshooting question, and is probably better suited for Stack Overflow or a discussion group.

Wherever you post it, you should start by reading [how to ask](http://stackoverflow.com/help/how-to-ask) and [creating an mcve](http://stackover

[2017-05-02 17:22] #45 closed

[2017-05-02 21:30] laurenzlong commented on #37
Hey @Portals, I've reproduced it myself, thanks for the detailed instructions. This does not appear to be a bug with the SDK, but a bug with the database integration. I've filed a bug report to the respective team internally, and will keep you posted on the progress of the fix. Thanks for bringing this to our attention!

[2017-05-04 15:56] kownacki opened #49 "Returning promise using cors or other middleware"
I have a promise chain in my function and want to enable cors, but to do so I need to wrap my function like that:

[code]

https://www.npmjs.com/package/cors

The problem is that `cors` doesn't care if the callback returns promise, so my function cannot wait for my promises and also testing is impossible.

How can I have cors and promises at the same time?

[2017-05-06 04:10] unisysTechHub commented on #20
https://www.youtube.com/channel/UCdkLWeFVIcsuvVKg4o8UA-A

[2017-05-07 13:09] Portals commented on #37
Thank you for your help Lauren! Firebase functions rocks! 👍

[2017-05-11 02:22] BrodaNoel commented on #27
Running in the same issue here.

[2017-05-12 17:37] laurenzlong commented on #37
Thanks for the kind words! The fix is in production now. I'm going to close this issue, please reopen it if you experience it again.

[2017-05-12 17:37] #37 closed

[2017-05-15 19:16] stephenhandley commented on #4
hi @laurenzlong any updates on firebase integration in the emulator?

[2017-05-15 19:19] laurenzlong commented on #4
@stephenhandley  Just released! https://github.com/firebase/firebase-tools/releases/tag/v3.8.0
Only HTTPS events for now, but other ones are coming!

[2017-05-15 19:22] stephenhandley commented on #4
@laurenzlong awesome thanks!

[2017-05-21 16:35] eliezedeck opened #54 "user.create function not triggered for Phone Auth"
### Version info

**firebase-functions:** 0.5.7

**firebase-tools:** 3.9.0

**firebase-admin:** 4.2.1

### Test case

This is the function `index.js`

[code]

### Steps to reproduce

- Deploy the functions
- Remove existing users in the Console so that it starts anew (like a new user being created)
- Authenticate using Phone number and be sure that login was successful

### Were you able to succes

[2017-05-22 20:38] rjhuijsman commented on #54
Thanks for the report! You're entirely correct, we're currently not triggering functions for phone auth. This is a server-side bug, we'll work to get it fixed ASAP.

[2017-05-22 21:04] laurenzlong commented on #49
Hey @kownacki this is a question that's more suitable for Stack Overflow. If you ask it there, then the team and the community would be happy to help you out. Github issues are reserved for bug reports for the SDK itself, and all issues should follow the template.

[2017-05-22 21:04] #49 closed

[2017-05-22 21:05] #43 closed

[2017-05-22 21:05] #35 closed

[2017-05-23 06:52] cmartin81 commented on #54
+1

[2017-05-25 17:17] agonbina opened #55 "No permission to view the "datastore provider" access request form"
This is not really an issue with the functions SDK but since the form to request access to the datastore provider is listed in the README I am reporting it here.

This is what I am seeing in the form page:

[code]

Thanks!

[2017-05-25 18:01] laurenzlong commented on #55
It's been fixed! Here's the link: https://services.google.com/fb/forms/firebasealphaprogram/

[2017-05-25 18:01] #55 closed

[2017-05-25 21:48] calebd commented on #54
I'm also not getting `user.create` events, using custom token auth here.

[2017-05-25 22:13] rjhuijsman commented on #54
Ah, I'm sorry about that: we don't yet support triggering Cloud Functions (like `auth.user().onCreate`) on custom tokens auth. We do want to support that in the future, but we chose to launch without it so we could already bring the other forms of Auth triggers out. The same goes for login using anonymous tokens, which is also a future feature.

I also just realized that our [documentation](https:

[2017-05-26 03:51] eliezedeck commented on #54
@rjhuijsman, if implementations are going to take a long time, I suggest to clarify things in the documentations first. Like what works, and which feature is missing for some parts.

It's really not cool to get excited about a new feature announcement, only to find-out it's not fully supported **yet**. I'd rather hear warnings along with the announcement, or in the documentations, than to spend ti

[2017-05-26 22:33] laurenzlong commented on #54
Thanks so much for the feedback @eliezedeck. It was not our intention to not support phone auth functions out of the gate with the launch, it was a mis-communication between teams. You are absolutely right in saying that it is better to document what is being supported and not rather than to have users spend time discovering gaps experimentally. We are sorry for the disappointment and time waste y

[2017-05-28 18:48] eliezedeck commented on #54
Thank you @laurenzlong for your being professional. I also appreciate you taking the time for talking to us developers as I know you lead the Firebase team in the "Firebase Functions" area. It really shows your commitment to making developer experiences better.

Please, do let us know if there are things we can help you guys with. I personally, would love to help in any way I can.

I'm developing

[2017-05-30 17:45] rjhuijsman commented on #54
Thanks again @eliezedeck! If you have any bug reports for Cloud Functions for Firebase, please do feel free to open issues here. We now also have [open-sourced client SDKs](https://opensource.googleblog.com/2017/05/open-sourcing-firebase-sdks.html) for many of the other Firebase features, please also do report any bugs for those!

It's great to know that the public GitHub issues are appreciated, I

[2017-05-30 20:26] vitaly87 commented on #7
How can I convert the Typescript code to js, I mean what is good approach for it...is the Typescript also deployed ?

[2017-05-30 22:41] laurenzlong commented on #7
Hey @vitaly87  there are different options, here's a good introduction: https://hackernoon.com/configuring-typescript-compiler-a84ed8f87e3. Everything inside the functions folder is deployed except for the node_modules folder. But only the index.js file is executed, you can reconfigure a main file through the `main` field of functions/package.json. You can see the [source code](https://github.com/

[2017-05-31 17:47] laurenzlong commented on #54
Thanks for the patience kind words @eliezedeck, and that's a cool use case!

I actually don't lead Cloud Functions for Firebase, that would be @inlined :) I do lead our efforts on the SDK and CLI, and definitely appreciate Github as a transparent forum to hear feedback from supportive developers like you!

[2017-06-01 23:27] rjhuijsman commented on #54
Phone Auth now triggers Cloud Functions, as intended. Here's an example of the UserRecord object (in `event.data`) that you might receive:
[code]
For TypeScript users, the catch is that the `phoneNumber` field isn't in our TypeScript definition for the `UserRecord` yet. I've [filed an issue](https://github.com/firebase/firebase-admin-node/issues/34) to track that. In the mean time, consider gettin

[2017-06-01 23:27] #54 closed

[2017-06-03 07:04] vitaly87 opened #59 "Error: Error parsing triggers: Cannot find module"
I am trying to deploy my firebase function to cloud but getting an error:

1.I compile my ts file to js.

2.the build of ts ok... my code looks like:

the ts that importing the file...

`var EmailDataClass = require("EmailData");`
and the file it self:

[code]
✔  functions: all necessary APIs are enabled
i  functions: preparing functions directory for uploading...

Error: Error parsing triggers: C

[2017-06-07 22:53] mismith commented on #4
Any update on the local Database events @laurenzlong?
Loving `functions` overall, but developing is currently a nightmare..

[2017-06-09 20:46] Makarezp opened #60 "Permission denied in firebase cloud functions"
I have created stack question here https://stackoverflow.com/questions/44440897/permission-denied-in-firebase-cloud-functions.

I get access denied  when I am trying to access realtime db from cloud functions.
Here is screenshot of keys: http://imgur.com/a/cCpkB

I created this project in february and I am working with it on react-native. Before implementing cloud-functions I have generated admin

[2017-06-10 00:24] laurenzlong commented on #60
I made the suggestion to check permission for the App Engine default service account on the Stack Overflow thread. Did you give that a try? Let's continue the conversation there. This is not an SDK bug since it is not reproducible.

[2017-06-10 00:24] #60 closed

[2017-06-10 00:25] #59 closed

[2017-06-10 00:26] laurenzlong commented on #59
@vitaly87 Please reopen if @mbleigh 's suggestion doesn't solve the issue. And please use the template next time.

[2017-06-10 00:40] ryanmargheriti commented on #4
+1 for through a terminal command

Thanks for the great work @laurenzlong

[2017-06-10 00:50] ahaverty commented on #4
We're using separate projects for production/sales/Dev/Dev2 .
Dev2 if more than one of us are working on functions/rules simultaneously.
Local deployed (debuggable?) functions via Firebase tools cli (or IDE/IntelliJ support?) would be great, mainly to avoid the delays with deploying.
I can't imagine how this would work alongside remotely deployed functions, maybe you could give us an idea of how y

[2017-06-10 01:35] mismith commented on #4
@laurenzlong I'm using a separate 'root' within the same project (e.g. `/production/data/1` vs. `/development/data/1`) simply because this was the easiest to get up and running. It's definitely a tough problem to solve, and as you can already see, tons of different perspectives and alternatives to support. Maybe a terminal utility would make sense, something that kind of 'links' the path(s) being

[2017-06-10 11:37] vitaly87 commented on #59
Thank yes you right I did mixed with typescript and es 6....

[2017-06-10 16:32] jaufgang commented on #4
I think the locally deployed database function should definitely listen on a real database rather than being invoked through some terminal command.  Whether it listens on a production or test DB would be up to the developer,  they should be able to choose which database by calling `firebase use` before deploying locally.

I like @ahaverty's suggestion that when you run a database function locally,

[2017-06-10 16:37] jaufgang commented on #4
Also, @laurenzlong  since this issue is actively being discussed and worked on, perhaps it should be re-set to open.... you closed it on March 13.

[2017-06-10 18:28] ahaverty commented on #4
I like the sound of that @jaufgang , perhaps cloud disabling true by default though as keeping cloud functions running wouldn't be a use case for us right now and may cause confusion with novice users in future (but we could live with either! 👌)

[2017-06-11 13:43] atomicleopard commented on #4
Seems a bit sketchy to disable a managed environments distributed event
triggers because a script is running somewhere on another machine. If this
went wrong it would be very hard to isolate, and hard to coordinate within
a team.

One of the challenges of firebase functions is that if you miss a write
event, your chance to process is missed entirely without being recorded,
and this would exacerbat

[2017-06-11 13:54] ahaverty commented on #4
@atomicleopard Firebase uses pub/sub for events, I've had functions fail before and still handle 100%of events, after coming back online after 1 hour. Although, I do agree with you, it could very easily get messy if one of the team left their local cloud-disabling test on and went out for an hour lunch break!
Pushing local data would be a great start, and would help testing the basics/syntax error

[2017-06-12 06:51] piuccio opened #61 "Update peer dependencies"
When I install this package I get the warning

`npm WARN firebase-functions@0.5.7 requires a peer of firebase-admin@~4.2.1 but ...`

...but `firebase-admin` is already at version `5.0.0`

[2017-06-12 17:12] laurenzlong commented on #61
Hey @piuccio it's actually a strict dependency requirement (that's why there's ~ instead of >), so firebase-admin must be 4.2.x, nothing higher, nothing lower. Make sure you run
[npm install --save firebase-admin@4.2.1 ](url)
in your functions directory.

[2017-06-12 18:06] laurenzlong commented on #4
Thanks for the thorough feedback everyone! To answer your questions, a terminal command would probably look something like:
[code]
Thanks for sharing the perspective that "intercepting" live traffic with a test function could be disastrous for teams. For testing against a real database, I imagine there being a test project that is the default project for "firebase serve". So both hosting and funct

[2017-06-12 18:09] mismith commented on #4
That terminal command looks slick; I for one would definitely love to use it!

[2017-06-12 20:04] ahaverty commented on #4
@laurenzlong sounds good 👏
My vote is for simulating local events with -d, but default working with the 'production' database.

We're working on entirely separate firebase projects for multiple different projects (dev + our main production), so the test target wouldn't be as beneficial, but would also be no harm to have the option either.

..Unless I'm misunderstanding what 'test project' means? D

[2017-06-12 20:13] jaufgang commented on #4
Would it be possible to add the ability to allow/disallow local testing against a real database using a new rule added to the rules.json?  Either that or some other console setting?  Production databases could be configured to disallow it, while  dev/test databases could allow it.

Also, WRT @atomicleopard's concern about isolating problems if/when they occur, perhaps that could be mitigated by ad

[2017-06-12 20:17] ahaverty commented on #4
@mismith Interested to hear how/why the self-refresh would be beneficial for you? (assuming you mean take all the data at the defined ref and simulate pub/subs)
For us, it'd mean thousands of event writes would go off (Not currently removing our event writes as remove events currently retrigger the function and cost us another invocation. It might be useful once firebase implements specific event

[2017-06-12 20:44] mismith commented on #4
@ahaverty Re: manual/invoked refresh: one of my functions sends an email whenever a key is updated (e.g. `forms/<id>/submitAt`), so calling `firebase functions:invoke:sendEmail /forms/<id>/submitAt` with no `-d` flag would simply 're-submit' the form with the existing `submitAt` datestring, thereby triggering my email and allowing me to debug that logic.

[2017-06-12 23:46] atomicleopard commented on #4
A few wild ideas:

Local testing: in addition to the proposed, it would be great to invoke the
function while watching a file so I can edit it and see it trigger like it
might from the real DB.

Live system:  i'd like to see something like the ability to breakpoint the
remote code, possibly even edit it while deployed (so a mini IDE basically).

That way, my full dev cycle could be:

* Write and d

[2017-06-13 00:38] piuccio commented on #61
I guess my point was that it's probably time for this package to update to `firebase-admin 5`. Any plans for that update?

[2017-06-14 19:21] notsonotso opened #62 "onCreate fires two times"
index.js:

[code]

If I create a new user using the Firebase web console, I consistently get two onCreate events. Quite annoying.

[2017-06-14 19:49] notsonotso commented on #62
Well, "consistently". I just got three messages when adding a user.

[2017-06-16 04:50] laurenzlong commented on #62
Thanks for the report @notsonotso. We've made the backend team aware of this issue. I agree that it is annoying, and should be fixed. In the meanwhile, you can make use of event.eventId to handle the case where there are duplicate invocations, since the duplicate events will have the same eventId. In fact, I would recommend:
`admin.database().ref('userqueue/' + event.eventId).set({...})
`
Closing

[2017-06-16 04:50] #62 closed

[2017-06-18 17:08] notsonotso commented on #62
Thank you

[2017-06-19 05:38] fej-snikduj commented on #4
@laurenzlong Thanks for all the updates.  I completely agree with @jaufgang that a locally deployed database function should listen to a real database.  I know that'll take a bit more time than the terminal commands, but I'm wondering if it's a priority and being worked on?  If it's longer term, how long do you estimate until a solution is ready?  Are we talking weeks or months?

[2017-06-20 11:32] laurenzlong commented on #4
Thanks for the feedback and lively discussion everyone!

I see people are divided on the issue of whether local functions should be triggered with the real database tied to the project. What if this was an opt-in behavior? It would not happen by default, but would only happen with an additional flag or something, so you are explicitly telling the CLI "This is not my production project, it is ok to

[2017-06-20 14:30] puf commented on #4
I love this idea. Especially if I could similarly pause deployed functions from running through an API or the Firebase console. While my returning of promises has improved, I still have the occasional deployed function go wild and it would be great to have a panic button. :-)

[2017-06-20 15:29] mismith commented on #4
@laurenzlong Honestly it probably wouldn't matter then. I doubt the dummy data would be that useful (for me) since its form wouldn't be predictable, so I'd probably just end up using/generating my own and passing it via the JSON file or as an inline object.
The second half of your last paragraph is kind of worrisome though: if 'writing' the same exact data wouldn't trigger an `onWrite` event, then

[2017-06-26 13:40] laurenzlong commented on #61
Gotcha, thanks for the clarification. Will add this to my to-do list. The reason why we don't update our dependencies automatically every time there's a new version of firebase-admin is because there can be breaking changes so we want to test extensively before upgrading.

[2017-06-26 14:53] geovanisouza92 commented on #26
What about files on custom folders? I've placed a [Next.js build folder](https://github.com/zeit/next.js/#setting-a-custom-build-directory) inside functions, that is loaded by `next` package, but it isn't included on functions package.

[2017-06-26 15:51] jthegedus commented on #26
@geovanisouza92 That issue is a bit different and being tracked [here (firebase-tools 291)](https://github.com/firebase/firebase-tools/issues/291) and [here (firebase-tools 376)](https://github.com/firebase/firebase-tools/issues/376)

[2017-06-30 20:21] laurenzlong commented on #61
Submitted PR for this: https://github.com/firebase/firebase-functions/pull/66

[2017-06-30 20:21] #61 closed

[2017-07-05 08:08] turok1997 commented on #27
The same problem. Still not solved

[2017-07-05 08:35] jthegedus commented on #27
@turok1997 just do what @cdock1029 suggested above.

[2017-07-14 12:13] MatthiasVervaet opened #68 "Change region http trigger"
Is it possible to deploy an http trigger cloud function to a region other than us-central1?
We experience latency due to interregional requests.

[2017-07-14 14:03] morgler opened #69 "Can't install firebase-functions due to dependency problem"
### Version info

**firebase-functions: 0.5.9**

**firebase-tools:**

**firebase-admin: 5.0.1**

### Test case

My Firebase app is configured with functions, although I haven't used them yet.

### Steps to reproduce

To use functions (I need them to read environment variables for my app configuration) I tried to `npm i firebase-functions -S`. This gave a warning:

`npm WARN firebase-functions@0.5.

[2017-07-14 17:34] ahaverty commented on #69
We're seeing the same issue. We managed to get
[code]
to work though.

[2017-07-14 17:48] victor-sarda opened #70 "functions.auth.user().onCreate() is triggered when user is anonymous"
### Version info

**firebase-functions: 0.5.9**

**firebase-tools: 3.9.1**

**firebase-admin: 4.2.1**

### Steps to reproduce

Sign in first time anonymously from iOS or Android

### Were you able to successfully deploy your functions?

Yes

### Expected behavior

functions.auth.user().onCreate() shouldn't be triggered according to this [documentation](https://firebase.google.com/docs/auth/extend-

[2017-07-14 18:36] laurenzlong commented on #68
Hey @MatthiasVervaet not yet.

[2017-07-14 18:36] #68 closed

[2017-07-14 20:59] laurenzlong commented on #70
Hey Victor, this seems like a server-side issue with Firebase auth, could you please file a [support ticket ](https://firebase.google.com/support/contact/troubleshooting/), include the output from "console.log(event.data)" inside the function, and ask for it  to be routed to the Firebase auth team.

[2017-07-14 20:59] #70 closed

[2017-07-15 17:08] morgler commented on #69
Thanks, I will try that combination of versions.

[2017-07-18 10:21] Karthi-R opened #71 "Error: function crashed out of request scope Function killed."
I'm using database **onWrite()** function. Getting the below error randomly,

Couldn't find more detail regarding this error. Code inside the function block is working fine, when I run at local machine. Getting this error only after deploying my function in server.

Appreciate your help on this.

[2017-07-18 11:03] sarovin opened #72 "nextjs with firebase cloud functions"
Hi,
i want use nextjs with firebase and run the server on cloud functions.

i have this index.js in functions dir:

`import * as functions from 'firebase-functions';
import cors from 'cors';
import express from 'express';
import next from 'next';

const nextApp = next({ dev: false });
const handle = nextApp.getRequestHandler();

nextApp
  .prepare()
  .then(() => {
    const server = express();

[2017-07-18 11:08] sarovin commented on #72
Here there is an example => https://github.com/sarovin/next-firebase-functions

[2017-07-18 20:41] laurenzlong commented on #72
Hi @sarovin I'm not familiar with the nuances of next. I recommend posting a question on Stack Overflow or another one of our support channels https://firebase.google.com/support/

[2017-07-18 20:41] #72 closed

[2017-07-18 20:42] laurenzlong commented on #71
This is a server-side issue, please use https://firebase.google.com/support/ so we can help you better.

[2017-07-18 20:42] #71 closed

[2017-07-19 09:49] yourappsgeek opened #74 "Firebase addValueEventListener not firing onDatachanged with two instances of app with same package name"
### Version info

**firebase-functions:**

**firebase-tools:**

**firebase-admin:**

### Test case

### Steps to reproduce

### Were you able to successfully deploy your functions?

### Expected behavior

### Actual behavior

[2017-07-19 09:55] yourappsgeek commented on #74
I'm able to add and able to get data onDataChanged within same app when data changed but when I try to listen to data change by adding node from one app and listening from another. If I post child with values from both apps and listen data changed , two children with same same are created in firebase DB and each one app listener is only listening to its own created node

[2017-07-19 15:18] sarovin commented on #72
Hi @laurenzlong, i haved fixed the problem.
Why if i run `firebase deploy` on the root of my project i have this error??
[code]

I must run `firebase deploy` from the `functions` directory...

[2017-07-19 17:48] laurenzlong commented on #74
Can you please follow the issues template?

[2017-07-19 17:48] #74 closed

[2017-07-19 20:31] sarovin commented on #27
I have fixed it here => https://github.com/sarovin/next-firebase-functions/blob/master/functionsES6/index.js#L9

[2017-07-20 17:27] cdock1029 commented on #27
@sarovin that won’t work if you have query params in the request. Scroll up and use my solution which checks `path` and prepends `/` to the url.

[2017-07-25 09:36] morgler commented on #69
I did not get the 0.5.9 combination of @ahaverty to work – it shows the same error for me :(.

Also using the latest still gave me 0.6.0 and demanded firebase-admin 5.0.1.

[2017-07-25 12:25] jthegedus commented on #72
I've been working on a solution to this Next.js on Firebase for the last month or so. Sorry I haven't posted here sooner, but I had some issues stopping me from posting. Here's my solution https://github.com/jthegedus/firebase-functions-next-example and an accompanying [blog post (as part of my series)](https://medium.com/@jthegedus/next-js-on-cloud-functions-for-firebase-with-firebase-hosting-791

[2017-07-25 17:13] laurenzlong commented on #72
thanks for sharing @jthegedus , this looks great! You should consider making a PR to https://github.com/firebase/functions-samples, I'm sure others would really benefit from seeing your implementation.

[2017-07-25 17:17] laurenzlong commented on #69
Can you try running this in your functions folder:

npm install firebase-functions@latest --save
npm install firebase-admin@5.0.1 --save

If you still get errors, can you copy and paste here?

[2017-07-25 17:30] jthegedus commented on #72
@laurenzlong I knew there was another place I needed make a PR. Thanks very much, I'll get right on it 👍

[2017-07-27 02:55] flacohenao opened #80 "ERROR: getaddrinfo ENOTFOUND"
### Version info

**firebase-functions:** 0.5.7

**firebase-tools:** 3.9.1

**firebase-admin:** 4.2.1

### Test case

Hello. Thank you for read me.

I have the following case:
I'm trying to do an http GET request from firebase function, this is my code:
(I'm using a test API from "jsonplaceholder" just to get Random Data and then test my real functionality.)

[code]

### Steps to reproduce

When I

[2017-07-27 18:19] justinrosenthal commented on #80
Hi, you are probably seeing this error because you need to be on a paid plan in order to make external HTTP requests from inside your function.  If you look at your Functions logs from within the Firebase console, you should see error messages indicating this.

Firebase's Blaze plan (pay as you go) has a free tier for Cloud Functions, details here: https://firebase.google.com/pricing/

[2017-07-27 18:20] #80 closed

[2017-07-28 05:45] gwsampso opened #82 "db.orderByChild().equalTo().once('value') different result from db.child().once('value')"
I'm confused as to why a seemingly identical call but slightly different method harbors 1 result and 1 failed result.

expect result: console to log the id in this case 42

FAILS

      const postId = 42;

      admin.database().ref('/news').orderByChild('id').equalTo(postId).once('value').then(snapshot => {
        const post = snapshot.val();
        post.id = snapshot.key;

        console.log(

[2017-07-28 12:53] janrop opened #83 "Running the provided https function example locally does not work"
### Version info

**node:** 6.11.0

**npm:** 3.10.10

**firebase-functions:** 0.5.9

**firebase-tools:** 3.10.10

**firebase-admin:** 4.2.1

### Test case

I tried running the (commented out) https function you get by running `firebase init functions` locally.
Always get the following message (even after installing firebase-functions inside the functions directory:

    functions: Failed to load f

[2017-07-28 15:25] puf commented on #82
This is a general question about programing with the Firebase JavaScript SDKs. I recommend posting it on Stack Overflow.

The difference between the two snippets is that the second snippet reads a single node, while the first one is a query . When you execute a query against the Firebase Database, there will potentially be multiple results. So the snapshot contains a list of those results. Even if

[2017-07-28 15:25] #82 closed

[2017-07-28 17:35] laurenzlong commented on #83
As the error message points out, you need to run "npm i --save firebase-functions" inside the functions directory. You probably said no to "installing all dependencies" when running "firebase init functions"

[2017-07-28 17:40] laurenzlong commented on #83
hey @janrop thanks for reporting, 3.10.10 is not an actual firebase-tools version (see https://github.com/firebase/firebase-tools/releases). Can you run "firebase --version" and update the issue with what it prints out?

[2017-07-30 06:39] dauledk opened #84 "Can't serve firebase-functions locally, even with Node v6.11"
firebase-functions@0.5.9
firebase-tools@3.9.1
firebase-admin@4.2.1

### Test case

Trying to serve functions locally

### Steps to reproduce

Install nvm
nvm use v6.9.1
install dependencies
now run:
firebase serve --only functions

### Expected behavior

That the functions are hosted locally

### Actual behavior
The log file is deleted, but I get this output:

=== Serving from '/Users/alexbjorlig/

[2017-07-30 07:46] dauledk opened #85 "Changes to functions are not deployed"
### Version info

**firebase-functions:**
0.5.9
**firebase-tools:**
3.9.1
**firebase-admin:**
4.2.1

### Test case
Deploying functions the first time works.
But the second time, I get the "Deploy complete" message quickly, and the changes to the existing functions are not deployed.

### Steps to reproduce

firebase deploy --only functions

### Were you able to successfully deploy your functions?

[2017-07-31 10:39] janrop commented on #83
Hey @laurenzlong. Sorry that was what npm gave me.
"firebase --version" is 3.9.1

[2017-08-01 00:17] laurenzlong commented on #84
As the error message says, you need v6.11.x or higher  to run the emulator.

[2017-08-01 00:19] laurenzlong commented on #85
Did you change the file name at all? Or add anything new to firebase.json?

[2017-08-04 15:15] dauledk commented on #85
I deleted firebase.json and started over. Then it worked.

[2017-08-04 15:15] #85 closed

[2017-08-04 21:24] laurenzlong commented on #83
hey @janrop I'm unable to reproduce this. Can you try updating your firebase-tools by running:

npm install -g firebase-tools

There is now a new release of firebase-tools (v.3.9.1) that requires a higher version of @google-cloud/functions-emulator, which has some bug fixes.

Please reopen the issue if that doesn't fix it.

[2017-08-04 21:24] #83 closed

[2017-08-06 17:35] nareshbhatia commented on #27
For me adding a slash at the end of the function name does not work. Instead I have to append `/app/<functionName>` like this:

https://us-central1-myapp.cloudfunctions.net/app/books

Note that I am using function name as a REST endpoint, so instead of `getBooks` it is simply `books`.

[code]

Does anyone see any problems in using firebase-functions this way?

[2017-08-06 22:58] JulienMalige commented on #27
I know that it's not exactly the right place to ask it (tell me if it should be moved).

I meet the same issue with Google Cloud Functions (GCF), `Cannot GET null` because of the empty `req.url`. The @cdock1029 middleware seems to solve my issue but I miss one thing.

On GCF, I have to export an express app `export const app = expressApp` and I don't think that I am able to overwrite a kind of `fu

[2017-08-07 00:56] cdock1029 commented on #27
@nareshbhatia yes, everyone in this thread is seeing that problem. If you scroll up, there is a workaround.

[2017-08-07 15:23] themikefuller commented on #27
Here is how I've been getting around the issue.

Lets say the deployed function should be myfunc:
<pre>
<code>
  // index.js

  var app = require('express')();

  // Home route or main functionality
  app.get('/',function(req,res,next) {
    res.send('home or root functionality');
  });

  // Some other route
  app.get('/something',function(req,res,next) {
    res.send('something else');
  });

[2017-08-07 15:39] nareshbhatia commented on #27
@themikefuller, very creative!

However, doesn't that limit the entire express app to serve only one function? How would you serve multiple functions from the same express instance? In my case, I want to serve multiple functions with the same name based on the HTTP method called (REST style), so:

    GET /books  = getBooks
    POST /books = createBook
    ...

For the most part, I am able to achi

[2017-08-07 15:44] cdock1029 commented on #27
@themikefuller

Have you checked if your solution works on this:

[code]

If you scroll up, there is a workaround checking path parameter & prepending the `/` to the url

@themikefuller you can make requests to multiple paths by defining them as express routes

[2017-08-07 16:04] themikefuller commented on #27
I should say that this is for Google Cloud Functions, as I saw it mentioned here. Not sure if it would work with firebase, I don't see why it wouldn't.

To answer your questions:
@nareshbhatia and @cdock1029

This works for me
https://us-central1-app-name.cloudfunctions.net/myfunc/?foo=bar
// req.query will be equal to { foo: "bar"}

and also I am able to use multiple routing methods and paths. It

[2017-08-07 16:26] nareshbhatia commented on #27
@themikefuller, do you mean this comment from @cdock1029: https://github.com/firebase/firebase-functions/issues/27#issuecomment-292768599?

[2017-08-07 16:34] themikefuller commented on #27
@nareshbhatia

It was in reference to the comment about the query string.  I think Express is being used before the function is loaded so the req.query does not seem to effected from what I can see.

I built a FaaS issuing VM before and was having this issue. I think Google Cloud Functions is just assuming the functions will be called with a trailing slash.  I'll do some testing to verify that the

[2017-08-07 17:03] nareshbhatia commented on #27
@themikefuller, I think I see my confusion. You are talking about keeping the query parameters intact after the terminating slash whereas I am talking about something else.

My (minor) issue is regarding the formation of url's when creating an express app and handing it over to functions. I was expecting the URL to be:

    https://us-central1-myapp.cloudfunctions.net/myfunc

But it is turning out

[2017-08-07 17:12] themikefuller commented on #27
@nareshbhatia Well now that I'm testing, I'm seeing that ../myfunc?ok=something doesn't work.

.../myfunc/?ok=something does work because technically you are SUPPOSE to have a trailing slash when using a query string. So.. I @cdock1029 's comment <a href="https://github.com/firebase/firebase-functions/issues/27#issuecomment-292768599" target="_blank">here</a> has the right idea.

The solution I po

[2017-08-07 17:38] themikefuller commented on #27
I think I got it. I made a cloud function live to test it. I don't want to leave it live forever, but I'll leave it going for a bit so anyone can try it out:

https://us-central1-dev-project-9000.cloudfunctions.net/App?q=cool
https://us-central1-dev-project-9000.cloudfunctions.net/App/?ok=awesome
https://us-central1-dev-project-9000.cloudfunctions.net/App/something?ok=good

All three of these scen

[2017-08-07 17:44] cdock1029 commented on #27
@themikefuller

Is there anything wrong with my solution from months ago, that uses less code?

Just wondering if it's not adequate for what you're trying to achieve? Also people keep asking the same question, so if we can agree on one that works, we don't have to keep working on new ones.

[2017-08-07 18:04] themikefuller commented on #27
@cdock1029 Does the solution you provided work with the three scenarios I posted?

...cloudfunctions.net/App?q=cool
....cloudfunctions.net/App/?ok=awesome
....cloudfunctions.net/App/something?ok=good

[2017-08-07 18:20] cdock1029 commented on #27
Yes. Since the only "bug" this thread is dealing with is when `/App` has no trailing slash. (I was wrong with my question a few comments ago.. I meant to ask about the "no-trailing-slash" case).

In that case, path is empty, so the block will prepend a slash to the `url`, which won't erase any path or query params.

The other two cases won't be affected by the `if` block.

[2017-08-07 18:28] themikefuller commented on #27
@cdock1029
Maybe I misunderstood. I have been having some issues with this over the past few days.

I found your answer a few days ago and it worked initially, but there are some edge cases I ran into as well. Sometimes I get slightly different results in the emulator than I do live. I thought I'd share my code in case it helps someone.

If your answer works with and without the trailing slash the

[2017-08-09 09:54] msjaber commented on #4
Thanks, @laurenzlong.  Any updates for supporting database events?

[2017-08-09 21:20] laurenzlong commented on #4
Thanks for following up @msjaber , we've done the first step, which is to enable the Google Cloud Functions emulator to support all event types: https://github.com/GoogleCloudPlatform/cloud-functions-emulator/pull/121. You can use it now, and instructions are in the PR.

I'm now working on integrating this into the Firebase CLI, with a repl-like interface to invoke these emulated functions. I've b

[2017-08-09 23:32] JulienMalige commented on #27
@themikefuller your solution almost do the job **on Google Cloud Functions** (@cdock1029):
[code]
This was giving me an error:

```Error: could not handle the request``` (_returned error_)
```TypeError: Cannot set property path of #<IncomingMessage> which has only a getter``` (_logging_)

So **I deleted** the `req.path = '/' + req.path;` line and now it's working (I think this is linked to the ver

[2017-08-10 12:25] themikefuller commented on #27
@JulienMalige
You are welcome, and also correct. I found this link that details using a similar method with Express:
https://codeburst.io/express-js-on-cloud-functions-for-firebase-86ed26f9144c
See: "An Automated Solution"

It is very much what @cdock1029 shared previously. Seems req.path is not important for this, but I noticed that the example does not check if req.url IS defined, but missing th

[2017-08-14 07:39] Crazometer commented on #4
I've thrown together this library to help with my own testing [firebase-functions-local](https://github.com/Crazometer/firebase-functions-local) while the firebase team finishes off their own version.

All triggers run off live data on the server.

[2017-08-14 23:14] laurenzlong commented on #4
Just made a PR to firebase-tools to the emulation of all even types, and a shell to invoke them: https://github.com/firebase/firebase-tools/pull/428.

@Crazometer this is really neat! Thanks for sharing. My PR uses fake data, whereas yours uses real DB events, so they complement each other quite well and are useful for different scenarios.

[2017-08-14 23:14] #4 closed

[2017-08-15 15:16] mismith commented on #4
@laurenzlong I'm curious, so I looked over your PR—and maybe I'm missing something or confused—but why/how do the following two lines perform distinct actions?

[code]

i.e., why does the first invoke a `create` while the second one a `delete`? Is there a `null` param missing maybe?

---

Also, is the following a typo or, if not, what does the `auth` object need to contain?

[code]

[2017-08-15 21:53] laurenzlong commented on #4
@mismith
For #1, it depends on how you declared the function, if you had:

[code]

Then in the shell:
[code]

As for auth, it is {admin: true} or {admin: false} or {variable: {uid: 'abcd' }},

[2017-08-15 22:24] mismith commented on #4
@laurenzlong Re #1, of course! My oversight.

For #2, if it should indeed be (the ES2015 object literal property value shorthand syntax-using) `{auth, {admin: false}}` (as opposed to `{auth: {admin: false}}`), how should I instantiate or mock the auth variable?

[2017-08-15 23:48] laurenzlong commented on #4
@mismith  Oh yes, that is indeed a typo, sorry! It is a nested object: {auth: {admin: false}}

[2017-08-17 10:44] cristiano-belloni commented on #69
This is not fixed.
I get it with `firebase-functions@0.6.1`, which says `UNMET PEER DEPENDENCY firebase-admin@~5.1.0`.

Then:

`npm i --save firebase-admin` installs some 4.2.1, which is wrong.
 `npm i --save firebase-admin@5.1.0` installs  5.1.0, which is right but now obviously I have `"firebase-admin": "^5.1.0"` in my package.json :(

I don't know why `npm i --save firebase-admin` installs a 4.

[2017-08-17 16:49] laurenzlong commented on #69
This is not a bug, it's just quirks with how npm install works. Running `npm i --save firebase-admin` inside a directory that already has a package.json which has a firebase-admin field will install the version that is indicated in the package.json.

Try running `npm i --save firebase-admin@5.1.0 --save --save-exact`, this will put `"firebase-admin": "4.2.1"` in your package.json.

[2017-08-17 17:09] laurenzlong commented on #69
https://github.com/firebase/firebase-tools/pull/434 will also update the default "firebase init" template, which will hopefully alleviate some of the npm pain.

[2017-08-18 00:14] robsonataide commented on #84
Same error, and my node is v6.11.

[2017-08-18 15:38] jasenkoh commented on #84
Same here

[2017-08-19 12:17] xor007 commented on #69
isn't the point of using package managers and package manifests with exact versions to avoid manually wrangling with versions? Or is this not possible with npm packages? Note: I am completely new to npm/node

[2017-08-20 08:31] zgosalvez opened #88 "`event.params` is undefined in unit tests"
### Version info
**firebase-functions:** 0.6.2
**firebase-tools:** 3.9.2
**firebase-admin:** 5.2.1

### Test case

[code]
[code]

### Were you able to successfully deploy your functions?

No, since unit tests fail

### Expected behavior

1st log should equal 2nd log, showing both `event.params.userId` as `user-id`

### Actual behavior

1st log shows `event.params.userId` as `user-id`
2nd log shows

[2017-08-21 02:54] morninng commented on #21
same situation happen to me

[2017-08-21 03:41] alexsanderkhitev commented on #21
I faced the same situation

[2017-08-21 09:03] Crazometer commented on #88
They changed the way the parameters are generated in https://github.com/firebase/firebase-functions/commit/3c67e24ccddf7996159111ec9cdeb226aae1bd2b. It now generates `params` from the snapshot ref. You can use this in your tests by doing

[code]

Not sure what the #154 in the linked commit comment refers to.

It would be nice if [this line](https://github.com/firebase/firebase-functions/commit/3c6

[2017-08-21 22:54] rfmejia opened #89 "Deploy error when using dependency from git"
### Version info

**firebase-functions:** 0.5.9
**firebase-admin:** 4.2.1

My functions are using an NPM dependency hosted on Github and `npm install` works in the local environment. However, running `firebase deploy --only functions` gives the following error:

[code]

I can't find documentation that this feature is not supported, is this correct?

[2017-08-21 23:11] justinrosenthal commented on #89
Hi, is `npm-dependency-from-git` listed in the `dependencies` section of your `package.json`?

See here: https://firebase.google.com/docs/functions/handle-dependencies
Specifically have a look at the `--save` flag for `npm install`.

[2017-08-21 23:15] rfmejia commented on #89
Yes, it is listed in the dependencies section, for example `"npm-dependency-from-git": "github:username/npm-dependency-from-git"`. I use the command `npm install --save "username/npm-dependency-from-git"` to install from the command line.

One more thing, I am currently using the Spark plan tier on the project.

[2017-08-21 23:46] justinrosenthal commented on #89
Ok, you should be able to install a dependency directly from Github as long as it's in a public repo.  For instance:
[code]
If this is what you're doing, can you tell me what the dependency is so I can try to reproduce?

[2017-08-22 02:58] rfmejia commented on #89
Here is a snippet of my package dependencies. The error occurs in `ts-serialize`.
[code]

[2017-08-22 18:01] laurenzlong commented on #88
Hey @Crazometer and @zgosalvez , thanks for the report. This was an oversight on my part, I did not consider unit testing when I made the changes to params. I'm out of office for most of this week, so I'll fix it next week. You're also more than welcome to send a quick PR and I'll be happy to review.

[2017-08-22 18:57] agonbina commented on #55
Hi @laurenzlong, it seems like my account was whitelisted for the "firebase alpha" program and I am able to create functions that (should) respond to google cloud datastore events, using the undocumented API for this provider.

However the functions never trigger when I create a new entity in the datastore. Do I need to request some special access permissions to have the google cloud datastore int

[2017-08-22 22:18] inlined commented on #89
In trying to debug your issue I ended up trigging the same error earlier on my local install. It seems the error message is an odd/poorly formed error message from the node runtime. The ts-serialize codebase doesn't check in its JS code nor does it have a postinstall script to compile the code to JS. Node is finding the package.json but it can't find the index.js listed in there.

While you're wor

[2017-08-22 22:18] #89 closed

[2017-08-23 21:36] cedvdb opened #90 "Allow dynamic function exports"
I'm trying to make a library that'd allow one to use decorators instead of the standard API.

Example:

[code]

To have this

[code]
Instead of this

[code]

The problem is that it won't work since it seems like firebase analyses the exported vars. I'd be nice if it allowed object like so:

[code]

[2017-08-23 22:58] richarddavenport opened #91 "functions.auth.user().onCreate() toJSON is not a function"
### Version info

**firebase-functions:** 0.5.9

**firebase-tools:** none

**firebase-admin:** 4.2.1

### Test case

Here is my function:
[code]

When the function is executed I see this in my firebase console:
[code]
I'm reading this documentation: [https://firebase.google.com/docs/reference/functions/functions.auth.UserRecord](https://firebase.google.com/docs/reference/functions/functions.auth.U

[2017-08-24 22:53] laurenzlong commented on #91
Thanks for filing, you're right, this is something that we have not yet supported (and mis-documented). event.data has all of the other fields of UserRecord, but does not implement the toJSON function. I'll take this as a feature request for that function to be implemented.

[2017-08-25 01:44] laurenzlong commented on #90
Hey @cedvdb , I'm closing this since it is not following the issue template (which is designed to ensure that Github issues are used for bug reports, not feature requests like this).

It sounds like you can accomplish what you want by doing:
[code]

If I misinterpreted what you said, and you actually mean something else, can you file a support ticket so your feature request can be triaged appropri

[2017-08-25 01:44] #90 closed

[2017-08-25 02:12] medisoft commented on #4
@laurenzlong I would love to allow by CLI parameter to choose production/testing database.

[2017-08-25 12:00] richarddavenport commented on #91
Thank you!

[2017-08-25 12:00] #91 closed

[2017-08-25 18:43] #88 closed

[2017-08-25 18:51] laurenzlong commented on #88
Fix will be in 0.6.3: https://github.com/firebase/firebase-functions/pull/93

[2017-08-27 08:35] codeofsumit opened #95 "Auth Trigger doesn't include displayName for email+password registration"
Hey there,

so at the firebaseui login flow, I can provide a "first & lastname", which on the frontend login callback will be available through `displayName`.

![image](https://user-images.githubusercontent.com/2399810/29741518-1e69d66e-8a6f-11e7-97a2-4fbdd791da4f.png)
![image](https://user-images.githubusercontent.com/2399810/29741531-51490faa-8a6f-11e7-8e99-79696b7b1695.png)

However, when I wan

[2017-08-27 19:56] vadiminc commented on #41
any updates? the problem related to DNS, I have some problem and tested on another http request - same issue

[2017-08-28 09:13] nicolasgarnier commented on #95
cc @bojeil-google

So what's happening here is that the account's profile, when it is created through password+email, only contains the email (it's always the case).

See the [`createUserWithEmailAndPassword` API call](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#createUserWithEmailAndPassword). Only takes a password and an email to create the account which means that, when the

[2017-08-28 09:26] codeofsumit commented on #95
as this is a usecase promoted by firebase functions it'd be great to have it resolved so all infos provided during the Auth process are available inside the cloud functions (as they are for other auth providers).

My current workaround is that I'm setting the displayName to an empty string if it's not available inside the cloud function - then on the client check for an empty string in the DB and

[2017-08-28 17:28] bojeil-google commented on #95
@nicolasgarnier analysis is correct. @codeofsumit  workaround is fine.
There are no perfect ways to do this with the available API.
Here is another similar case with FirebaseUI: https://github.com/firebase/firebaseui-web/issues/197
The developer ended up calling `admin.auth().getUser(data.uid)` after the onCreate event fires (this is an additional RPC). This tends to resolve after the `updateProfi

[2017-08-28 18:05] laurenzlong commented on #41
@vadiminc Can you file another issue with specific repro instructions?

@raviranjan528 It seems to be an error message coming from AWS, I'm not sure if this is actually be a problem with functions. Please reach out to AWS support, if that isn't the issue, then use one of the Firebase support channels I posted above.

[2017-08-28 18:24] laurenzlong commented on #84
@robsonataide @jasenkoh what are your exact node versions?

[2017-08-28 18:25] jasenkoh commented on #84
@laurenzlong 6.11

[2017-08-28 18:29] laurenzlong commented on #84
Can you give me the patch version as well? (ie what gets printed when you run `node --version`)

[2017-08-28 18:31] jasenkoh commented on #84
@laurenzlong v6.11.0

[2017-08-30 09:00] thomas-vl opened #96 "pubsub won't let me subscribe to topics from another project"
Hi,

Because of the / validation on the function topic I cant subscribe to a topic from another project.

[code]

Regards,

Thomas

[2017-08-30 18:59] justinrosenthal commented on #96
This is working as intended, you may only trigger functions via Pub/Sub topics within your project.

[2017-08-30 18:59] #96 closed

[2017-08-31 01:31] zackify commented on #27
@themikefuller I have found that the req.body is empty when doing a patch, but post works fine

[2017-08-31 12:12] themikefuller commented on #27
@zackify I noticed the same thing when sending a DELETE method with a request body. It works in the functions emulator. It does not work in live production.

Technically, an HTTP DELETE method is permitted to carry a request body. It appears that Cloud functions may not bother parsing the body in such circumstances. The bodyParser middleware could be re-run, though I can't say for sure that it wou

[2017-09-01 18:42] rtmalone commented on #39
@mcdonamp I assume this is true now. It's from the storage permissions section on the Cloud console

[2017-09-01 20:54] mcdonamp commented on #39
@rtmalone I'm not sure what you're referencing... GCS changed from their legacy ACLs to IAM permissions, which may be what that's referring to? Either way, I don't know if it's related to this any longer.

[2017-09-02 11:06] gerhardcit opened #99 "Error in emulated function: Provided authentication credentials for the app named "[DEFAULT]""
### Version info

**firebase-functions:*^0.6.2*

**firebase-tools:*3.10.0*

**firebase-admin:*~5.2.1*

node: 6.11.2

### Test case

Somehow a DEFAULT is stuck when I start a new project for firebase serve --only functions
It seems like firebase functions is stuck with a reference from a previous project somewhere.
Setting a blank new code project and a new firebase project I cannot get it to updat

[2017-09-02 12:58] gerhardcit commented on #99
This seems to have something to do with having  @google-cloud/functions-emulator installed.
on 2 machines where NO functions-emulator is installed, all is working well.
In the one with it, I get the error above.
@laurenzlong, is there something we should know about firebase serve and functions-emulator that would save us from spending days of debugging?

[2017-09-03 04:02] tysonnero commented on #84
@jasenkoh Same issue

[2017-09-04 08:36] cappittall opened #100 "TypeError: admin.auth(...).getUserByPhoneNumber is not a function"
Here the code at index.js  (briefly)
[code]
[code]

Function is triggered but this :  admin.auth().getUserByPhoneNumber(telMail) gives an error :

[2017-09-05 18:34] laurenzlong commented on #100
Please file this as a bug on firebase-admin: https://github.com/firebase/firebase-admin-node

[2017-09-05 18:34] #100 closed

[2017-09-05 23:41] laurenzlong commented on #84
@jasenkoh @tysonnero Does the problem go away if you update to 6.11.1?

[2017-09-05 23:42] laurenzlong commented on #84
We have a dependency on the Google Cloud Functions emulator, and 6.11.1 is the minimum engine requirement: https://github.com/GoogleCloudPlatform/cloud-functions-emulator/blob/master/package.json#L8

[2017-09-07 02:37] esparkman commented on #69
I'm seeing dependency issues as well.
firebase-admin: 5.2.1
[code]

[2017-09-09 07:02] jasenkoh commented on #84
@laurenzlong worked for me, thanks

[2017-09-10 13:16] louranthy opened #101 "The email address is already in use by another account."
### Version info

**firebase-functions:**^0.6.2

**firebase-tools:**

**firebase-admin:** ~5.2.1

### Steps to reproduce

I have the following function:

[code]

I created a onWrite trigger from appusers table. It will create a firebase user and will send an email after.
The problem is that the function logs will first give this error:

Then it will be retriggered, although it will add a new fireb

[2017-09-11 18:07] laurenzlong commented on #69
@esparkman can you file this as an issue on https://github.com/firebase/firebase-admin-node?

[2017-09-11 18:25] esparkman commented on #69
@laurenzlong sure thing. Any additional information needed?

[2017-09-11 18:33] laurenzlong commented on #69
Can you try to repro this in a plain-old clean directory? (I'm pretty sure you'll be able to, since this seems to be a firebase-admin issue that's independent of Functions). Then make sure you follow the issues template for firebase-admin. Thanks!

[2017-09-11 18:34] #95 closed

[2017-09-11 18:36] laurenzlong commented on #99
Sorry about this! This was a bug in the CLI that was affecting deploys as well as emulation. Should have been fixed in v3.10.1 (https://github.com/firebase/firebase-tools/releases/tag/v3.10.1). Please reopen the issue if it's still there after updating firebase-tools.

[2017-09-11 18:39] katowulf commented on #101
Hi @louranthy this is a usage question related to the timing of your requests. Most likely, your initial database write doesn't contain the email address (The `null` complaint is about `event.data.val().email`, because `.val()` is `null` so email can't be fetched).

It's likely that the event is being called multiple times, and eventually working out (after the email address exists) and that you j

[2017-09-11 18:39] #101 closed

[2017-09-14 12:04] alexanderkhitev opened #104 "Firebase Cloud functions is slow"
Hi firebase team! We use Firebase as a backend for our service. It has a `PeopleViewController` that displays users within a radius of the current user. The radius can vary from 1 to 40 miles. Also there is a check for blocked users, age, sex. At the very beginning of the development of the project, a temporary implementation was made for this capability within the application. I created several m

[2017-09-14 14:17] puf commented on #104
Please indicate when you cross-post: https://stackoverflow.com/questions/46215232/firebase-cloud-functions-is-slow.

[2017-09-15 08:15] mokupindia opened #106 "Firebase Functions execution fails using Firebase free plan for sending twilio sms"
### Version info

**firebase-tools:**

current: 3.9.2

### Were you able to successfully deploy your functions?

✔  functions[orderStatus]: Successful create operation.
✔  functions: all functions deployed successfully!

### Actual behavior

Function log:

Billing account not configured. External network is not accessible and quotas are severely limited. Configure billing account to remove these r

[2017-09-17 21:48] ouchadam opened #107 "onDelete not called when setting different data from parent node"
### Version info

**firebase-functions:** 0.6.3

**firebase-tools:** 3.11.0

**firebase-admin:** 5.2.1

### Test case

`firebase-functions.onDelete`is not called when setting different data from a parent node

### Steps to reproduce

Given a database structure of

[code]

when setting the `user_id` node with less `following` children (effectively removing them)

[code]

and observing

[code]

###

[2017-09-18 14:56] ouchadam commented on #107
I have reported the issue to https://firebase.google.com/support/ feel free to close or I will if the issue is acknowledged by support

[2017-09-18 20:58] rjhuijsman commented on #107
Thanks! This is indeed surprising behavior - we're looking into it!

[2017-09-18 22:01] laurenzlong commented on #106
As the error states, you need to enable billing on your account in order to make external network requests. See https://firebase.google.com/pricing/

[2017-09-18 22:01] #106 closed

[2017-09-18 22:03] laurenzlong commented on #104
Closing since it is not following the issues template.

[2017-09-18 22:03] #104 closed

[2017-09-19 23:45] iamyaoxi commented on #35
Someone please get this issue fixed. It's so terrible that we have to wait even until 10-15 seconds just to start up one function.

I know that you might have to put it into fewer resources. But it feels like you shutdown the whole server for me. And then restarting up again.

You have to set boundary as to how low you will put us in fewer resiurces. Especially for paying users. If a user paid, yo

[2017-09-20 06:42] SamMatthewsIsACommonName commented on #35
@iamyaoxi are you making sure to return something at the end of the function? I know you may be but this is what was causing particularly long times for me. I haven't seen anything close to that long since making sure all aspects of my functions were returning something rather than just doing something.

[2017-09-20 13:10] jasan-s opened #109 "https function do not work with ifttt"
I created a youtube video like as trigger and with a webhook(cloud function) as action. I get an error on iffttt that `there was a problem with the webhooks service`. I tested it with `https://requestb.in` url and it  ifttt works with it. is there something i'm missing?  I posted this on [stackoverflow](https://stackoverflow.com/questions/46323053/) as well

[2017-09-20 13:51] jasan-s commented on #109
I should have checked functions logs to begin with. I assumed it never ran. There was a error in my code, I was using JSON.parse() that was leading to error. Now it is functional.

[2017-09-20 13:51] #109 closed

[2017-09-21 17:08] bitlab-code commented on #101
Hi @katowulf
_I'm reopening this issue because the error is the same but different probably causes._
I get the same error, but with no other errors or warnings

`"firebase-admin": "^5.2.1"`
`"firebase-functions": "^0.6.3"`

I'm trying to insert two user with same email address but with different phone number.
When configure sign-in methods I setup only phone number as authentication provider (Emai

[2017-09-21 17:23] bitlab-code opened #111 "The email address is already in use by another account"
Hi

### Version info
**firebase-functions:** ^0.6.3
**firebase-admin:** ^5.2.1
### Were you able to successfully deploy your functions?
Yes
### Expected behavior
I'm trying to insert two user with same email address but with different phone number.
When configure sign-in methods I setup only phone number as authentication provider (Email/password disabled) and **I allowed multiple accounts with th

[2017-09-22 20:14] chriswingler opened #112 "Steam authentication via Express and Passport stops working when using Firebase"
Authentication worked fine when I was running my own API server, but something about Firebase's setup has broken it. I'm wondering if it has something to do with HTTPS, cookies, Express session? I keep trying a bunch of different suggestions from different threads to no avail.

Here is what is happening:

At `index.html`, I click "sign in with Steam," which redirects me to Steam's authorization pa

[2017-09-23 10:35] aliparr- commented on #84
I'm suffering from the same issue:

node --version@v6.11.1
firebase-tools@3.12.0
firebase-admin@5.2.1
firebase-functions@0.6.3

Then:
firebase serve --only functions

i  functions: Preparing to emulate functions.
⚠  functions: Failed to load functions source code. Ensure that you have the latest SDK by running npm i --save firebase-functions inside the functions directory.
⚠  functions: Error from

[2017-09-23 10:52] DenisCangemi commented on #84
@aliparr-  Same issue

[2017-09-23 19:52] laurenzlong commented on #84
@DenisCangemi @aliparr- Were you able to deploy these functions successfully?

[2017-09-23 20:42] DenisCangemi commented on #84
@laurenzlong yes, deploy works correctly

[2017-09-23 22:47] aliparr- commented on #84
@laurenzlong  +1 - deploy works fine for me too.

[2017-09-24 00:04] jasongornall commented on #84
is this resolved? still getting the same problem

[2017-09-28 14:20] maisnamraju commented on #84
I am facing the same issue, Funny thing is if I skip initializing firebase admin it executes just fine.

[2017-09-28 14:26] dhargitai commented on #84
I updated my node version to v8.6.0 and all of my problems were gone.

[2017-09-28 14:45] aliparr- commented on #84
@dhargitai Really? If I do that I get:

"⚠  functions: Cannot start emulator. Please use Node version v6.9.1, you have v8.6.0"

[2017-09-28 17:55] dhargitai commented on #84
@aliparr- I did get this message too but I get only a warning now: _Warning: You're using Node.js v8.6.0 but Google Cloud Functions only supports v6.11.1._

Others version numbers at me:
npm: 5.3.0
firebase-tools: 3.12.0
firebase-admin 5.2.1
firebase-functions 0.6.3

Here's what I did:

[code]

Hope this helps.

[2017-09-29 21:34] rjhuijsman commented on #107
This issue was due to a bug in the Firebase Realtime Database's trigger logic. It's now fixed, your functions should work as expected. Thanks for the report!

[2017-09-29 21:34] #107 closed

[2017-10-02 06:01] shakirthow commented on #83
unfortunately this still happens. this is the error log
`⚠  functions: Failed to load functions source code. Ensure that you have the latest SDK by running npm i --save firebase-functions inside the functions directory.
⚠  functions: Error from emulator. Error
    at FirebaseError (/usr/local/lib/node_modules/firebase-tools/lib/error.js:11:17)
    at ChildProcess.<anonymous> (/usr/local/lib/node_m

[2017-10-02 15:14] wuservices commented on #99
@laurenzlong I just started trying out Firebase a couple days ago, and I'm getting this error:

Not sure if it's quite the same, but I get the error immediately after starting the local emulator.

This minimal code seems to trigger the message to come up over and over once the emulator starts:
[code]

I've uninstalled a few times and re-installed and tried linking the master repo, but it still see

[2017-10-02 16:05] laurenzlong commented on #99
I think you have an outdated version of firebase-tools. Can you update it by running:
npm install -g firebase-tools

[2017-10-02 16:12] wuservices commented on #99
I think I'm on the latest. I've reinstalled with the command you gave me just in case and I'm still on 3.12.0.
[code]

[2017-10-02 16:18] laurenzlong commented on #99
Can you run these inside your project's root directory?

rm .firebaserc
firebase use --add

Then follow the prompt to link your project again.

[2017-10-02 16:43] wuservices commented on #99
Thanks for the quick reply. I tried those commands and that still didn't work.

Feedback unrelated to this issue: During `firebase use --add`, it feels weird to ask me to enter an alias as a first time Firebase user with only 1 project. Perhaps it should just default to something so you could hit enter if you didn't care or know why it mattered yet.

[2017-10-02 17:20] wuservices commented on #99
I also noticed that I had `GOOGLE_APPLICATION_CREDENTIALS` set for another project, but removing that from my environment and redoing everything didn't seem to change things. I also tried `gcloud auth revoke --all`, which I saw in another issue. That didn't help either.

[2017-10-02 17:39] laurenzlong commented on #99
Can you paste your new logs?

[2017-10-02 17:55] wuservices commented on #99
They're the same. Here's the whole process:

[code]
... (over and over and over)

[2017-10-03 21:44] laurenzlong commented on #83
This is the same issue as https://github.com/firebase/firebase-tools/issues/482, which I will work on fixing. You can follow the progress there.

[2017-10-04 10:19] bjornbjorn opened #113 ""firebase serve --only functions" gives various nodejs version errors/warnings"
### Version info

[code]

### Test case

Get warning / Error depending on nodejs version:

**Node 8.6.0**:

**Node 6.11.1**:

**Node 6.9.1**:

### Steps to reproduce

Use nvm to switch between node versions and run firebase serve to see the various errors:

### Were you able to successfully deploy your functions?

Yes

### Expected behavior

Being able to run the cloud functions locally and access

[2017-10-04 14:41] Swivelgames commented on #84
After yesterday's deployment tools that broken engines that didn't satisfy "~0.10.12", I'm no longer able to use the tools:

[code]

Versions:
[code]

[2017-10-04 14:44] Swivelgames opened #114 "Blocking: `firebase-tools` Complains About Latest Version of `firebase-functions`"
After yesterday's deployment tools that broke engines that didn't satisfy "~0.10.12", I updated all versions of `firebase-*` related packages (global and local). I'm no longer able to use the tools:

[code]

Versions:
[code]

[2017-10-04 18:07] laurenzlong commented on #114
@Swivelgames Do you have a Firestore function? And are you able to deploy your project properly still?

[2017-10-04 18:10] laurenzlong commented on #113
@bjornbjorn What's your version of firebase-tools?

If you run "firebase --version", what does it print?

[2017-10-04 18:21] Swivelgames commented on #114
@laurenzlong Firestore? Negative. Just firebase function, which is the project I'm working in right now that doesn't seem to be working anymore.

*Please note that each attempt is being done on a known working revision that was fully functional prior to the updates published yesterday.*

# [Failed Attempt] Local With Update All Dependencies

_(Please note this was attempted with both `yarn` and `n

[2017-10-04 18:27] laurenzlong commented on #114
@Swivelgames Can you try deploying with the new dependencies, it'll probably fail but print a more clear error message than what the local emulator will print.

[2017-10-04 18:28] Swivelgames commented on #114
@laurenzlong Apologies, I wasn't specific. The deployment was successful with the latest versions. The local `firebase serve`, however, does not.

[2017-10-04 18:39] laurenzlong commented on #114
No worries! Thanks for clarifying. I created a branch that has better error logging. Can you install it by running:

npm install -g https://github.com/firebase/firebase-tools.git#ll-printparsererr

Then run the local emulation again and let me know what the log looks like.

[2017-10-04 18:48] Nipperstick commented on #84
Having the same issue, but using NVM.  Ran @dhargitai instructions on both 8.6.0 and 6.11.1 with the same result.  Checked for any globals residing in /usr/local/lib/node_modules that shouldn't be there, but just npm as it should be.  npm correctly installs firebase-functions 0.7.0 in functions/node_modules.  firebase-tools is 3.13.0.

[2017-10-04 19:00] laurenzlong commented on #112
Please re-file and follow issues template.

[2017-10-04 19:00] #112 closed

[2017-10-04 19:01] laurenzlong commented on #111
This is a firebase-admin issue, can you file in https://github.com/firebase/firebase-admin-node?

[2017-10-04 19:01] #111 closed

[2017-10-04 19:07] Swivelgames commented on #114
w4t...

# Successful...?

[code]

# git diff v3.13.0 ll-printparsererr
w4t

[code]

# Caching Issue?

I guess I'll chalk this up to some sort of caching on some end. After attempting to install your `ll-printparsererr` branch, it "magically" started work. However, if you remember, [I posted about 45 minutes ago the same steps which still resulted in the errors](https://github.com/firebase/firebase

[2017-10-04 19:07] #114 closed

[2017-10-04 19:25] bjornbjorn commented on #113
firebase --version
3.12.0

[2017-10-04 19:27] abehaskins opened #115 "Cloud Firestore .data() should return an any"
### Version info

**firebase-functions:**
0.7.0

**firebase-admin:**
0.5.4

### Test case
[code]

### Expected behavior

`data()` should probably return an `any`

### Actual behavior

`data()` returns an `object`

[2017-10-04 19:46] juanpablodelatorre commented on #84
This has been happening to me every time my code breaks. And every time it gets solved after I debug.

[2017-10-04 20:00] dhargitai commented on #84
@Nipperstick I just checked it with updated versions and everything works correctly at me.

Version numbers:
- nvm: 0.33.4
- firebase-tools: 3.13.0
- firebase-admin: 5.4.1
- firebase-functions: 0.7.0

[2017-10-04 20:05] Nipperstick commented on #84
Yep, I discovered that my code had issues, but that the error wasn't being displayed.  I had to add a console.log inside of parseTriggers to see the actual error text.  Perhaps we could just ensure that gets to the screen for the developer?

[2017-10-04 20:34] laurenzlong commented on #84
Thanks for the update! Error messaging fixed here https://github.com/firebase/firebase-tools/pull/490

[2017-10-04 20:34] #84 closed

[2017-10-04 20:49] laurenzlong commented on #114
Thanks for the update! Glad it works now :)

[2017-10-04 21:02] laurenzlong commented on #113
Can you try to do a full uninstall and then install of the latest version?

npm uninstall -g firebase-tools
npm install -g firebase-tools

[2017-10-04 21:02] laurenzlong commented on #113
You should then have 3.13.0

[2017-10-05 10:29] bjornbjorn commented on #113
Thank you @laurenzlong that worked and I'm now up and running and accessing the database locally with node 8.6.0.

The warnings / errors mentioned in the opening of this issue still stand though (the circular referencing of node versions).

Anyway, as far as I'm concerned; I'm all good, thanks again!

[2017-10-05 17:32] laurenzlong commented on #113
Thanks for the update! Agreed that we should work on better (and non-circular) error logging.

[2017-10-05 17:32] #113 closed

[2017-10-09 16:35] #115 closed

[2017-10-09 17:30] bagintz opened #117 "Having trouble after upgrade to 0.7.0"
Converted my methods from database to firestore and updated admin to 5.4.1 and functions to 0.7.0
Getting:

[code]

Where line 28 from that file is:
`const analytics = require("./providers/analytics");`

Any ideas?

[2017-10-09 17:33] bagintz commented on #117
fwiw, I got this same thing on an empty "firebase init" project with just functions selected

[2017-10-09 21:35] justinrosenthal commented on #117
What version of node do you have installed?

[2017-10-09 23:29] bagintz commented on #117
@justinrosenthal I downgraded to 6+ based on what the firebase docs say
`Cloud Functions runs Node v.6.11.1, so we recommend that you develop locally with this version.`
(from https://firebase.google.com/docs/functions/get-started), but when I rebooted it seems that nvm reset it to 8.6.0 and now it works????
weird

[2017-10-10 00:02] justinrosenthal commented on #117
Ok, since it's resolved I'm going to close this issue.  Please reopen if you feel there's a bug with `firebase-functions` that needs to be addressed.

[2017-10-10 00:02] #117 closed

[2017-10-10 09:10] capitola-dev commented on #113
I have firebase 3.13.1 but I am having the same issue

[code]

[2017-10-10 11:38] achuthhadnoor commented on #33
i  deploying functions
i  functions: ensuring necessary APIs are enabled...
i  runtimeconfig: ensuring necessary APIs are enabled...
✔  runtimeconfig: all necessary APIs are enabled
✔  functions: all necessary APIs are enabled
i  functions: preparing functions directory for uploading...

Error: Error occurred while parsing your function triggers.

SyntaxError: Unexpected token =
    at exports.run

[2017-10-10 17:23] justinrosenthal commented on #33
Hi @achuthhadnoor, which version of node are you using?  Can you paste here the result of running `node --version`?

[2017-10-11 07:53] achuthhadnoor commented on #33
Hi @justinrosenthal the node version I use is v4.4.5

[2017-10-11 18:20] justinrosenthal commented on #33
@achuthhadnoor That's likely why you're having problems. You should upgrade (or install via `nvm`) to Node v6.11.1 as mentioned in the [Getting Started](https://firebase.google.com/docs/functions/get-started) guide.

v6 supports many more language features than v4, you can find more information here: http://node.green/

[2017-10-11 21:37] laurenzlong commented on #113
This PR fixes the confusing error messages: https://github.com/firebase/firebase-tools/pull/504

The correct version of Node to use is in v.6.11.1

[2017-10-15 16:24] sorter opened #120 "event.params is empty when testing functions locally using firebase experimental:functions:shell"
### Version info

3.13.1

### Test case

Here is a Stack Overflow I created which describes how to easily reproduce.
https://stackoverflow.com/questions/46757151/event-params-is-always-empty-when-testing-cloud-functions-locally

### Steps to reproduce

As simple as triggering the basic cloud function in my Stack Overflow.

### Were you able to successfully deploy your functions?

Yes

### Expected

[2017-10-16 05:58] zinzinday commented on #113
`stdout@desktop-94847:~$ firebase --version
3.13.1
stdout@desktop-94847:~$ node -v
v8.6.0
stdout@desktop-94847:~$ npm -v
5.4.2
stdout@desktop-94847:/data/nodejs/my-app$ firebase serve --only functions
=== Serving from '/data/nodejs/my-app'...
⚠  functions: Cannot start emulator. Please use Node version v6.9.1, you have v8.6.0
`

[2017-10-16 16:22] ahaverty commented on #4
@laurenzlong  Is it possible to locally debug/breakpoint functions started by `experimental:functions:shell` yet? (vscode)

_It looks like it's possible for https functions using serve, but I haven't found anything about breakpointing realtime database functions, other than a few comments on this issue_ 🙌.
~ [I found this on google cloud functions debugging too.](https://github.com/GoogleCloudPlat

[2017-10-16 16:57] katowulf commented on #120
We're unable to reproduce this, and there's not enough code in the Stack Overflow post to help us run it locally. Could you flesh that out with full version info, steps, and a complete, minimal repro? Without a repro, we won't be able to move this forward.

See [how to ask](http://stackoverflow.com/help/how-to-ask) and [creating an mcve](http://stackoverflow.com/help/mcve).

[2017-10-16 17:15] Abrahamh08 commented on #19
I'm having the same problem right now with one of my firebase functions. It was working earlier, but now every time I deploy (after a minor update) I get:

`⚠  functions[functionName]: Deploy Error: Failed to retrieve function source code`

[2017-10-16 18:18] sorter commented on #120
@katowulf I'll provide as much context as I can. What all version info would be most useful for me to provide?

[2017-10-16 18:23] katowulf commented on #120
The simplest answer here is whichever environment/version details we'd need to run this locally. The items that come immediately to mind, although I may be forgetting something:  package.json contents, firebase-tools version (i.e. CLI), SDK versions, and most importantly: Your OS so we can see if it's related to Windows/Mac/Linux.

[2017-10-16 21:19] laurenzlong commented on #4
If it works on firebase serve, it should work on the functions shell as well since the underlying emulation mechanism are the same. We haven't done a full survey of all IDEs to know that this would work properly on all of them, so there may be kinks. (But it is on our roadmap to address this and make sure breakpoints always work)

[2017-10-16 21:21] laurenzlong commented on #120
You probably have an outdated firebase-functions version. Run the following in your functions folder, and re-open the issue if it doesn't fix it.

npm install firebase-functions@latest --save

[2017-10-16 21:21] #120 closed

[2017-10-16 21:35] laurenzlong commented on #19
@Abrahamh08 can you file a support ticket? https://firebase.google.com/support/

[2017-10-16 22:06] imarian97 opened #121 "Getting metadata from plugin failed with error: invalid_grant"
### Version info

**firebase-functions:** 0.7.1

**firebase-tools:** 3.13.1

**firebase-admin:** 5.4.2

### Test case

Trying to get a firestore doc in HTTP cloud functions returns this error in the local emulator (`firebase serve --only functions`)
[code]

### Steps to reproduce

1. Init a new firebase functions project with this index.js
[code]
2. Enable firestore in firebase console with public

[2017-10-16 22:43] laurenzlong commented on #121
@imarian97 Can you run
[code]

if there's a file called `application_default_credentials.json`, remove it by running:
[code]

[2017-10-16 22:59] imarian97 commented on #121
I'm on Windows but I've found the file in `%appdata%/gcloud` and now, after I removed the file, it works.

Thanks!

[2017-10-16 23:07] laurenzlong commented on #121
Great! Thanks for the update.

[2017-10-16 23:07] #121 closed

[2017-10-19 00:25] Maistho opened #122 "cloud functions deploy fails if using latest firebase-admin"
### Version info

**firebase-functions:** 0.7.1

**firebase-tools:** 3.13.1

**firebase-admin:** 5.4.2

### Test case

See master for non-working, see the branch fix for a working deploy
https://github.com/maistho/firebase-functions-deploy-error

### Steps to reproduce

1. Create a new repo
2. initialize with firebase init
3. choose functions
4. uncomment the hello world function
5. add a `main` e

[2017-10-19 01:00] laurenzlong commented on #122
Thanks so much for the insight! We posted the issue and your workaround on the Firebase Status Dashboard: https://status.firebase.google.com/incident/Functions/17024. I'm going to close this issue, and you can follow along on the dashboard.

[2017-10-19 01:00] #122 closed

[2017-10-19 04:30] PierBover commented on #122
On the incident it says:

It worked for me.

[2017-10-25 10:49] malikasinger1 opened #124 "is there any way to deploy firebase functions faster?"
I have little project with about 20 firebase function
 it takes about 4 minutes to deploy even if i deploy single function e.g: `firebase deploy --only functions:webhook`

[2017-10-25 10:51] malikasinger1 commented on #124
so everytime i deploy the function i have to wait 4 minutes to see it in action (and test it by performing google assistant query)

[2017-10-26 15:35] Abrahamh08 commented on #19
@laurenzlong done

[2017-10-27 22:00] eob opened #125 "Old (cached?) config values appearing at runtime"
### Steps to reproduce

First I try to update a config value:

`firebase functions:config:set KEY=VAL1`

Then I verify that it's updated

`firebase functions:config:get KEY`

Then I deploy

`firebase deploy --only functions`

But when I access the value at runtime (inside a firebase-function), I see the old value.

[2017-10-27 22:15] #125 closed

[2017-10-27 22:19] rjhuijsman commented on #125
Just checking, does the closed issue mean that you found what was causing the behavior you saw? If yes, are you OK with sharing for posterity's sake? :)

[2017-10-27 22:41] eob commented on #125
Yes -- sorry. User error.

In order to run tests on my local machine, I have a wrapper around the firebase-functions library (because it causes problems when included on localhost).

In production, the wrapper was incorrectly detecting that it wasn't running in GCS, and was loading the test values as a result instead of deferring to Google's notion of config.

Sent from my Tricorder

[2017-10-30 15:34] rhodgkins opened #126 "Custom claims for functions.auth.user().onDelete is a string"
### Version info

**firebase-functions:** 0.7.1

**firebase-tools:** 3.13.1

**firebase-admin:** 5.4.2

### Test case

Deploy the following firebase-functions:

[code]

### Steps to reproduce

Create a user in Firebase and then view the Cloud function logs.

### Were you able to successfully deploy your functions?

Yes

### Expected behavior

The `customClaims` should be an object as per the [`adm

[2017-10-30 18:17] rjhuijsman commented on #126
Thanks for the thorough report!

I indeed easily reproduced this, with just a few small edits to the suggested repro. Here's the updated code:
[code]
This also prints the JSONified `event.data` object, and we see that the backend is indeed sending us a mangled `customClaims` field:

I've taken this up with the team that feeds us this data, I'll update this issue when we have a fix!

[2017-10-30 18:33] aneudy1702 commented on #99
@laurenzlong  thank your helping with this. I can confirm I am on @3.13.1 and I am getting the exact same error.

[2017-10-31 11:15] malikasinger1 opened #128 "Add ability to serve individual functions"
if i'm giving command `firebase serve --only functions:webhook` why it is still serving all of the functions which is hundreds of functions in my case

[2017-11-01 00:42] rjhuijsman commented on #128
Thanks for the feature request! We don't currently have a filter on `serve` the same way we do for `deploy`, and maybe we should!

If you could expand a bit on your use-case, that'd help us prioritize! Are there particular reasons you have in mind why locally serving just one single function is important to you?

[2017-11-01 21:50] Wison-PF commented on #27
Hey everybody, I just solved this problem under somebody's help, and like to share back to everyone, the `key` to solve this issue perfectly is that you need to fix the `req.url` **BEFORE** express app handler is called. If your `fix code` inside the express app handler, it has no chance to be called when `missing end / 404 error` happen **AFTER** deployed (but it works fine when you testing local

[2017-11-03 12:02] agordeev opened #129 "Error occurred while parsing your function triggers"
### Version info

**firebase-tools:** 3.14.0

### Test case

I'm getting this error:
[code]

when I try to perform **firebase deploy** just after **firebase init functions**

### Steps to reproduce

1. Do **firebase init functions**
2. Do **firebase deploy**

### Were you able to successfully deploy your functions?

No.

[2017-11-03 18:20] rjhuijsman commented on #129
My first suspicion is that this could either be a dependency that got borked, or alternatively a poor error message about a typo in your normal code. Can you share your code and your `package.json` with us, so we can try to reproduce the problem?

[2017-11-04 06:38] agordeev commented on #129
I haven't written any code yet. Just did **firebase init functions**, then **firebase deploy** right after, then got the error.

`package.json`:

[code]

[2017-11-04 14:50] agordeev commented on #129
Fixed by updating node to 9.0.0 as stated here: https://github.com/firebase/assistant-codelab/issues/10
Weird it depends on my mac's node version?

[2017-11-04 14:50] #129 closed

[2017-11-09 07:10] Lacka90 opened #130 "Cannot find module 'grpc'"
After I added the firebase functions and trying to deploy an angular app into firebase I got this:

[code]
Try running "npm install" in your functions directory before deploying.

Are there any resolution or workaround to this?

My env is
node 8.9.0
npm 5.5.1
firebase 3.14.0

[2017-11-09 08:04] sveba opened #131 "Deployment unsuccessful. Cannot find module"
### Version info

**firebase-functions:** 0.7.2

**firebase-tools:**

**firebase-admin:** 5.4.3

My env is
node 8.9.0
npm 5.5.1
firebase 3.14.0

### Test case

package.json
[code]
index.js
[code]

### Steps to reproduce

run ```firebase deploy --only functions```
### Were you able to successfully deploy your functions?

no

### Expected behavior

deployment successful
### Actual behavior

[code]

[2017-11-09 08:48] mbleigh commented on #131
The r in your require for fluentreports shouldn't be capitalized.

On Thu, Nov 9, 2017, 12:04 AM Svetoslav Batchovski <notifications@github.com>
wrote:

[2017-11-09 09:15] sveba commented on #131
Thanks, this fixes it.

strange that ```firebase serve --only function``` doesn't have problems with this

[2017-11-09 09:15] #131 closed

[2017-11-09 18:54] justinrosenthal commented on #130
Just to confirm, did you run `npm install` from inside the `functions` directory?

Additionally, it's recommended that you run Node v.6.11.1 because that's the version which will be running your code in the Cloud Functions environment, as mentioned [here](https://firebase.google.com/docs/functions/get-started).

[2017-11-09 21:23] Lacka90 commented on #130
Yes I made npm istall in the functions directory.

I tried again with node v6.11.1. but the same message appears :(
I'm trying to follow the tutorial to make an universal angular app:
https://hackernoon.com/deploy-angular-universal-w-firebase-ad70ea2413a1

[2017-11-10 11:02] mthompson9 commented on #16
Hi @jwngr , we have a similar project that uses transactions and updates. However we checked the App Engine default service account and it was already editor, however we are getting the exact same error?

I know this is an old post but there have been quite a few changes/updates to firebase over the last week or so and we're wondering if the problem lies on our side or the firebase side?

Hoping t

[2017-11-10 18:53] justinrosenthal commented on #16
Hi @mthompson9, have no fear, we've seen your comment!  Since the above solution didn't solve your problem, it sounds like there must be another cause, so could you please go ahead and open a new Issue?

In the Issue it would be helpful to see some code snippets and/or as concise of a repro as possible.  Thanks!

[2017-11-12 15:59] technohowl opened #132 "Error: Cannot find module 'firebase-functions'"
### Version info

**firebase-functions:**  "firebase-functions": "0.7.0"

**firebase-tools:** firebase-tools@3.15.0

**firebase-admin:**  "firebase-admin": "5.4.0"

### Test case

### Steps to reproduce

firebase deploy --only functions:myFunction

### Were you able to successfully deploy your functions?

[code]

### Expected behavior

Function should be deployed. I have been using this project fo

[2017-11-12 21:41] mbifulco commented on #130
I'm was runninginto a similar error trying to run firebase functions locally, and I found something that may address this for you @Lacka90.

In my case, I was running `n` to select version `6.11.1` of npm, but typically I use yarn to manage my projects (as well as higher versions of node in other projects).

I suspect that was a part of the problem, since I may have installed dependencies with `ya

[2017-11-13 22:59] rjhuijsman commented on #126
This issue is now fixed! A custom claim added to your UserRecord will now arrive in Functions correctly as a JavaScript object. Thanks again for the report!

[2017-11-13 22:59] #126 closed

[2017-11-14 17:20] #132 closed

[2017-11-14 18:57] laurenzlong commented on #130
Thanks for sharing the fix!

[2017-11-14 19:05] adamduren commented on #130
@laurenzlong I can confirm that the above fix does not work for me.

[2017-11-14 19:06] adamduren commented on #130
For me this is happening because a `npm` module that I use relies on the `firebase` client library. It appears the `firebase` client library has a side-effect of breaking `firebase-admin`.

[2017-11-14 19:12] adamduren commented on #130
I've been working on debugging this one as well and I believe it's related to https://github.com/firebase/firebase-tools/issues/442 and possibly https://github.com/firebase/firebase-js-sdk/issues/221#issuecomment-337103110 as per the comment.

[2017-11-14 19:47] laurenzlong commented on #124
The short answer is no, but it is something we are aware of and are working on.

For development, you can test your functions locally without needing to redeploy: https://firebase.google.com/docs/functions/local-emulator

[2017-11-14 19:47] #124 closed

[2017-11-15 16:10] giacomodeglinnocenti commented on #99
Same problem here on

[code]

and just update on

`└─┬ firebase-tools@3.15.0 `

and still getting

`error: FIREBASE WARNING: Provided authentication credentials for the app named "[DEFAULT]" are invalid. This usually indicates your app was not initialized correctly. Make sure the "credential" property provided to initializeApp() is authorized to access the specified "databaseURL" and is from the c

[2017-11-15 19:06] chuihinwai opened #133 "Document event.auth for uid and admin"
As per [discussion in this StackOverflow answer](https://stackoverflow.com/a/42750880/), Cloud Function events from Realtime Database includes an undocumented object `auth`. It includes an `admin` boolean field, and optionally, a `variable` object that contains an `uid` field.

[code]

This is helpful for a Cloud Function to decide if an event should be ignored depending on who triggered it, and w

[2017-11-16 00:34] laurenzlong commented on #99
@aneudy1702 and @giacomodeglinnocenti, can you update everything to the latest version by running the following command inside of the functions directory? (not the project root)

[code]

And modify your `functions/index.js` to also print out what `functions.config().firebase` is. After running `firebase experimental:functions:shell`, it should print something like:

[code]

[2017-11-16 12:37] daevid66 commented on #133
+1
This data could for example be used in cloud functions to stop flooding attacks from certain accounts, that could be quite hard to do with only security rules.

[2017-11-16 20:09] inlined commented on #133
This feature has not been documented because, while it was necessary to make some of our approved APIs work, it did not get approval as an externally facing API. We are working on a new shape for Events in GCF that _will_ meet the bar, but it will look different from this.

[2017-11-16 22:26] aneudy1702 commented on #99
@laurenzlong I have updated my modules as you suggest and I do get an object printed out that resembles the one you shared. Yet, I am still getting the same error.

[2017-11-16 22:46] laurenzlong commented on #99
@aneudy1702 can you share a screenshot? firebase-admin 5.5.0 does not have the error line "Provided authentication credentials for the app named..." in its source code so it is strange that you're still getting that error. And can you double check that your functions/package.json says `~5.5.0` next to `firebase-admin`?

[2017-11-16 22:55] aneudy1702 commented on #99
<img width="908" alt="screen shot 2017-11-16 at 5 53 17 pm" src="https://user-images.githubusercontent.com/4418589/32920432-32262108-caf7-11e7-94ec-10bd6fa1139f.png">

and this is part of my package.json

[code]

I have already removed my node_modules and retried and even my package-lock shows the new version

[2017-11-16 23:09] laurenzlong commented on #99
Thanks for sharing, this is getting very puzzling, and I appreciate all of your help. I have a few more questions:
- What aspects of the admin SDK are you trying to use after initializing it? Messaging? Database? Can you share lines of code?
- When you printed out `functions.config().firebase`, was `[DEFAULT]` in there somewhere? Did it have the correct project ID?

[2017-11-17 19:51] laurenzlong commented on #99
Can you try running:
[code]
Then try `firebase experimental:functions:shell` again.

[2017-11-20 09:10] aminelaadhari commented on #99
@laurenzlong we have the same issue, and we tried everything you suggested without any success.

[2017-11-20 09:35] aminelaadhari commented on #99
Also, I think the warning should be an error. All functions are timing out and we weren't able to detect that using Stackdriver because they are warnings and not errors.

[2017-11-20 19:26] laurenzlong commented on #99
@aminelaadhari Are you running into this issue in production or with the emulator? What firebase-functions version are you using? And how are you initializing the app? And how are you using it in your code?

[2017-11-20 19:40] aminelaadhari commented on #99
@laurenzlong in prodcution

[2017-11-20 19:48] laurenzlong commented on #99
@aminelaadhari That seems to be a different issue then, since this issue is about locally emulated functions. Can you file a separate issue, and include all the information asked for by the template, as well as my questions above?

[2017-11-21 01:45] patrickmichalina commented on #133
Should we expect this to change in the future and this data not be available?

[2017-11-21 01:54] laurenzlong commented on #133
It may change in format, but the functionality will not disappear.

[2017-11-21 10:06] aminelaadhari opened #134 "Functions timeout due to warning FIREBASE WARNING: Provided authentication credentials for the app named "[DEFAULT]" are invalid. This usually indicates your app was not initialized correctly. Make sure the "credential" property provided to initializeApp() is authorized to access the specified "databaseURL" and is from the correct project."
### Version info

**firebase-functions:**
^0.7.3
**firebase-tools:**
3.15.2
**firebase-admin:**
^5.5.0

**package.json**
[code]
### Test case

### Steps to reproduce
When a function that uses admin.database() is called, we see this warning in the logs:
[code]
And the function timeouts after 60s.
Happens only in production.

### Were you able to successfully deploy your functions?
Yes

[2017-11-21 10:06] aminelaadhari commented on #134
cc @laurenzlong

[2017-11-21 17:06] KevinMind commented on #69
Tried with admin: 4.2.1 and functions: 0.5.9 and got the same error.

./node_modules/firebase-admin/node_modules/isemail/lib/isemail.js
Module not found: Can't resolve 'dns' in '/Users/devmode/Documents/projects/google-crm/node_modules/firebase-admin/node_modules/isemail/lib'

Error fires when I require('firebase-admin')

Anyone figured anything out?

[2017-11-21 17:35] inlined commented on #133
@patrickmichalina We will not break already-deployed functions, but there will eventually be an SDK update that may make this field go away.

[2017-11-21 17:50] patrickmichalina commented on #133
I see, so it sound unsafe to reference at this time. It would be super useful to acquire current user credentials to persist in the DB during these functions. Great work by the way, changing the way I build my apps!

[2017-11-21 18:21] laurenzlong commented on #133
Yep, you got it. Thanks for the kind words!

[2017-11-21 18:21] #133 closed

[2017-11-21 18:24] chuihinwai commented on #133
@laurenzlong @inlined thanks for the info. Is there a milestone or some place for us to see the progress (now that the issue is closed)?

[2017-11-21 20:18] laurenzlong commented on #133
Thanks for the question. Any changes to interface will be part of release notes (https://github.com/firebase/firebase-functions/releases). Unfortunately, the team doesn't currently have at the bandwidth to maintain a public feature/milestone tracker.

[2017-11-22 02:17] smkhalsa commented on #99
@laurenzlong I'm getting this as well in production. I'm using the latest libraries for admin and functions.

Has a separate issue been opened for this issue in production?

[2017-11-22 19:18] laurenzlong commented on #99
@smkhalsa please file one.

[2017-11-22 19:19] laurenzlong commented on #134
cc @smkhalsa. Can you also provide the information for your case?

[2017-11-22 19:21] laurenzlong commented on #134
@aminelaadhari, some questions:
1) When did you first start using functions with this project? Do you remember the approximate month?
2) Can you share the code snippet for how you are using firebase-admin (including how the app was initialized, and what you are doing with admin.database())

[2017-11-22 19:24] laurenzlong commented on #69
@KevinMind Please only indicate issues with the latest versions of each of the modules. Your versions are outdated. And as indicated above, if you still experience issues after using the latest versions, please file the issue on firebase-admin-node, not here.

[2017-11-23 02:30] smkhalsa commented on #134
@laurenzlong sure

I'm using firebase functions as part of my user subscription flow. I've been using this function successfully for months, but a couple days ago it started to error out with no change on my end. Here's the code for my function.

[code]

and this was my config file:

[code]

NOTE: Since this is a critical piece of my subscription flow, I've updated my config file to use a specifie

[2017-11-23 10:09] aminelaadhari commented on #134
same here the function was working fine and then stopped working. I don't if it was caused by a new deploy or no. Stackdriver error reporting wasn't able to detect the error because it's a warning and the timeout is just an info message.

We initialize the admin like this:
[code]

Example of usage:
[code]

We used this workaround to get the functions work again:
[code]

[2017-11-23 10:58] ThilinaTCH commented on #134
Hi,

I also experienced something similar to this,
I had some functions deployed and working fine until a few days ago and suddenly we experienced a function timeout without any changes to firebase function or function configs. There it hung on reading and writing part of the DB. Earlier we used firebase-admin 4 version.

Then we upgrade all firebase npm packages to latest (firebase, firebase-admi

[2017-11-23 13:02] malikasinger1 commented on #128
in our case we have thousands of functions (most of them are on aws and we are migrating to firebase)
we have divided functions in logical parts such as I'm working on 'conversational interface' part of our application with my 4 people team inthat part we have about 50 functions(all on firebase) so we divide tasks for each day and pick seaprate functions to work on,

we have a large code base writ

[2017-11-24 06:42] factedu commented on #130
This worked form me (I reinstalled firebase tool and update the firebase-functions):-
npm install -g firebase-tools
npm install firebase-functions@latest --save

[2017-11-24 13:04] dauledk opened #135 "Strange Google OAuth2 authorization error/bug"
My app is initialized like this: `admin.initializeApp(functions.config().firebase);`

I have a firebase function, where I try to check if a user exists using `auth.getUserByEmail()`.
I serve this function through express, with`exports.app = functions.https.onRequest(app)`.

I get this error from firebase-functions:

[code]
I really hope you can help me out on this one. The solutions in the above d

[2017-11-24 13:22] dauledk commented on #135
I just tried deploying my functions - with no success.

My output is the following:

[code]

[2017-11-24 13:44] dauledk commented on #135
Ok - I found the deploy-issue
I was using typescript to build the project, and my compiler target was `"target": "es2017"`.
I changed it to `"target": "es2015"` and I can now successfully deploy the application. However when I use the `firebase serve --only functions` I still get the above error...

[2017-11-25 01:29] TheRoccoB commented on #121
Forgive me for asking, but what did this actually do? It worked for me as well. I think I upgraded firebase_tools at some point, and I've also been switching between dev & prod environments a bit.

It looks like application_default_credentials.json is recreated when I restart the local server?

[2017-11-25 08:10] connormckelvey commented on #130
@factedu tried what you suggested. Did not work for me :(

[2017-11-27 22:34] laurenzlong commented on #130
@connormckelvey What versions of npm are you using? Can you try updating it and see if it resolves the issue?

[2017-11-27 22:41] laurenzlong commented on #121
@TheRoccoB Yes it does get recreated when you run the local server. If the file already exists, then the Firebase CLI will not create one. Since an existing file (created by gcloud CLI or an older firebase CLI) may not have adequate access levels, you may encounter issues when trying  to access certain features. Deleting it manually allows Firebase CLI to re-create the file with credentials that h

[2017-11-27 23:02] laurenzlong commented on #135
@dauledk I think there are two separate issues here, one is affecting deploys (which you solved) and another is affecting local emulation.

To solve the local emulation problem can you try:

[code]

[2017-11-27 23:08] laurenzlong commented on #128
@malikasinger1 Thanks for the context! This is helpful for us to know.

[2017-11-27 23:13] laurenzlong commented on #99
@aneudy1702 Please reopen this issue if my recommendations in https://github.com/firebase/firebase-functions/issues/99#issuecomment-345348808 do not work.

[2017-11-27 23:13] #99 closed

[2017-11-27 23:49] TheRoccoB commented on #121
Thanks for the response Lauren.

[2017-11-28 11:21] dauledk commented on #135
Hi @laurenzlong.
Things got printed, running `cat ~/.config/gcloud/application_default_credentials.json`. So it removed the old error removing those files.

However - now it is a new error:
[code]

FYI - I tried authenticating with credentials like
[code]
and by doing this there is no errors.

[2017-11-28 19:06] laurenzlong commented on #135
Hi @dauledk I want to confirm that  this error message is still with the local emulator? As well, what are you trying to access within your function? Are you using any Google APIs? It would be helpful if you can share your code.

[2017-11-28 20:28] dauledk commented on #135
Hi @laurenzlong. I will create a small repo for you. I will return later.

[2017-11-28 20:44] dauledk commented on #135
Ok - the repo is ready. https://github.com/dauledk/firebase-functions-bug

You just:

1.  clone
2. cd functions && npm i
3. firebase serve --only functions --port=9000
4. hit the first endpoint - /app/test to confirm it works (as expected)
5. hit the second endpoint - /app/test2 and hopefully you get the same error message.

Looking forward :)

[2017-11-28 22:49] laurenzlong commented on #135
Thanks! I was able to reproduce it, it's due to the fact that you're trying to use Firebase auth, which is not currently supported in local functions due to the way we do credentials. I'll work on a fix and keep you posted. (Caveat, the fix is non-trivial so it may take some time).

[2017-11-28 23:09] laurenzlong commented on #135
In the meanwhile, using a credential key like what you've done is the way to go.

[2017-11-29 09:23] dauledk commented on #135
Ok - as a workaround to this problem I generated kays for dev, stage and prod. Now I am trying to use this [link](https://firebase.google.com/docs/functions/config-env), to configure dev, stage and prod env variables.

But this does not seem to work:

- I run this: `firebase functions:config:set exec.env='ENV'`
- The following command `firebase functions:config:get` that gives me the following out

[2017-11-29 20:01] laurenzlong commented on #135
@dauledk Your method should work for deployed functions, but it won't work for local functions since we do not yet support emulation of custom config variables. You'll need to run `firebase functions:config:get > .runtimeconfig.json` inside the functions folder if you want to use custom config variables inside a local function (for more info see [here](https://firebase.google.com/docs/functions/lo

[2017-11-30 11:48] malikasinger1 commented on #128
sounds good

[2017-11-30 11:51] zgosalvez opened #137 "`event.data.val()` is `null` in unit tests"
### Version info
**firebase-functions:** 0.7.3
**firebase-tools:** 3.15.3
**firebase-admin:** 5.5.1

### Test case

[code]
[code]

### Were you able to successfully deploy your functions?

No, since unit tests fail, but manually deploying (skipping unit tests) shows no issues.

### Expected behavior

1st and 2nd logs, should both show `user` object.

### Actual behavior

- 1st log shows `null`
- 2

[2017-11-30 19:10] laurenzlong commented on #137
@zgosalvez Thanks for pointing this out! We recently changed the signature of DeltaSnapshot, and this led to the accidental affect of breaking unit tests. I'll make a PR to mend this.

[2017-11-30 20:36] mdo5004 commented on #132
What was wrong @technohowl ? I'm having the same issue.

[2017-11-30 21:33] mdo5004 commented on #132
My issue resolved itself on its own, it seems. I deployed, had the error, waited an hour, deployed again, and had no issues. Which, in itself, may be a big issue.

[2017-11-30 21:45] hiranya911 opened #140 "Remove Client-side Fields from functions.config()"
Consider removing `authDomain` and `apiKey` from `functions.config()` which are not supported by the server SDKs.

Related to https://github.com/firebase/firebase-admin-node/pull/148

[2017-12-01 00:12] justinrosenthal commented on #132
@mdo5004 There was a production incident earlier that was causing this error, but things should be back to normal now!  https://status.firebase.google.com/incident/Functions/17027

[2017-12-01 09:54] sarovin opened #141 "Multipart upload is broken"
### Version info

**firebase-functions: 0.7.3

**firebase-tools: 3.15.4

**firebase-admin: 5.5.1

Hi,
i want use multer with my firebase functions. If i use the function with the emulator, it works but if i deploy, the function return this error:
`ERROR TypeError: Cannot read property 'filename' of undefined`

This is my code => https://pastebin.com/G0PzgtVg

It's possible upload a file with the f

[2017-12-01 11:08] sarovin commented on #141
i have found this error on stackoverflow => https://stackoverflow.com/questions/47242340/how-to-upload-a-file-using-express-on-firebase-cloud-functions

I have the same problem...

[2017-12-01 19:38] #137 closed

[2017-12-01 22:35] justinrosenthal commented on #141
@sarovin Thanks for the report and glad you found the answer on Stackoverflow, presently that's the best way to deal with your issue.

[2017-12-01 22:35] #141 closed

[2017-12-04 12:56] mark922 opened #142 "Unable to use realtime database trigger on non default database instance"
` exports.someFuncName = functions.database.instance('instance_name').ref('/sms').onWrite(event=>{
//Some logic will be written here...
})`

If I check the existence of admin app instance with the same name  `console.log(admin.app('instance_name'))` then it returns the app.

when I deploy this function it gives me an error saying:

`Deployment error.
Failed to configure trigger providers/google.fi

[2017-12-04 16:07] dauledk commented on #135
Hi @laurenzlong. Thanks for you reply. Would this work in production as well?

[2017-12-04 16:31] michaelfreund commented on #99
@laurenzlong as @wuservices mentioned in an earlier comment, try removing env var `GOOGLE_APPLICATION_CREDENTIALS` if set. That at least solved the problem for me.

[2017-12-05 01:01] rjhuijsman commented on #142
This rather unhelpful error message is unfortunately what you (currently) get when you write an 'instance_name' that doesn't exist, or that's not part of your project. I suspect we'll need to check for typos.

The value you want to be using for 'instance_name' is the full name of your (secondary) Firebase database; that's the one you see in the database viewer as the root of your data. It's also i

[2017-12-05 06:29] mark922 commented on #142
I passed the database URL as the param in instance('https://your_instance_name.firebaseio.com/'). But I am getting the new error: `HTTP Error: 400, The request has errors`

Here is my firebase debug log:

sudo firebase deploy --only functions:onSendSMSRequestNewDB1 --debug
[2017-12-05T05:35:18.684Z] ----------------------------------------------------------------------
[2017-12-05T05:35:18.689Z] C

[2017-12-05 11:01] mark922 commented on #142
Thanks for the response. As you have suggested I have changed my function to functions.database.instance('instance_name') where my database URL: 'https://instance_name.firebaseio.com/'. It works fine. I don't know why it was not working yesterday. But now I am not able to delete my previous function which had the error.

[2017-12-07 07:24] Lacka90 opened #143 "Angular universal firebase hosting"
Hi!
I want to use firebase functions to angular universal rendering. I was able to made a deploy at November 19. Today I'm trying to update my app and I realized it's broken.

I didn't change anything in the firebase part.

Here is my stack:
firebase-tools 3.15.0
angular 5.0.0
node 8.8.1
npm 5.4.2

"firebase": "^4.6.2",
"firebase-admin": "^5.5.0",
"firebase-functions": "^0.7.3",

the firebase.json

[2017-12-07 07:42] Lacka90 commented on #143
I will made a reproduction repository later if needed

[2017-12-08 20:54] Merve40 opened #144 "Firebase function onWrite-Trigger returns null event.data when key/push-id ends in numbers"
The `event` Argument in Firebase Function-Trigger for `onWrite(event)` returns null, if the key/push-id ends in numbers.

[code]

### Version info
**firebase-tools: 3.14.0**
**firebase-functions:^0.7.1**

### Test case & How to reproduce
`https://my-firebase-url.com/Message/{pushId}/..`

This push-id cannot be recognized by the trigger, thus returns null as argument:
`https://my-firebase-url.com/M

[2017-12-08 21:11] #142 closed

[2017-12-08 21:16] inlined commented on #135
Yes it should. The GOOGLE_APPLICATION_CREDENTIALS won't be passed to production; they're only used to change the behavior of `functions.config().firebase` locally.

The production version of `functions.config().firebase` isn't affected by the auth bug.

[2017-12-08 21:16] #135 closed

[2017-12-08 21:33] inlined commented on #134
Sorry this fell through the cracks. This seems like a pretty concerning production issue. I'm going to close this issue. *if you're still facing this issue please [file a ticket](https://firebase.google.com/support/contact/troubleshooting/) and I will treat it as urgent*

This is technically the proper procedure for production issues (this GitHub repro's issues should be confined to SDK bugs) and

[2017-12-08 21:33] #134 closed

[2017-12-08 23:50] inlined commented on #144
Tried very hard to reproduce this but I can't. I strongly suspect you're getting a null because the `onWrite` event also fires when the pushId is deleted (where the value is correctly "null"). If you only want to handle creation events, you can listen to `onCreate` instead.

[2017-12-08 23:50] #144 closed

[2017-12-09 05:09] zgosalvez commented on #137
Thanks, @laurenzlong ! When can we expect this fix to be released?

[2017-12-11 03:58] laurenzlong commented on #137
It'll be released in the next few days, you can see the release notes at https://github.com/firebase/firebase-functions/pull/145

[2017-12-11 16:08] 0x80 opened #146 "DeltaDocumentSnapshot data() returns incorrect any type"
In the [reference docs]( https://firebase.google.com/docs/reference/functions/functions.firestore.DeltaDocumentSnapshot#data) it says that the DeltaDocumentSnapshot data method returns a DeltaDocumentSnapshot. The text is correct I guess, just not the return type. According to the source code it is any.

See [src/providers/firestore.ts#L79](https://github.com/firebase/firebase-functions/blob/maste

[2017-12-12 03:52] laurenzlong commented on #146
The documentation is actually wrong, and the code is correct. We'll fix the doc, thanks!

[2017-12-13 16:20] Vani-gurnani commented on #99
Hello,

I am having the same issue on Google Cloud Functions. I am getting following error in Google Cloud (NOT EMULATOR).
FIREBASE WARNING: Provided authentication credentials for the app named "[DEFAULT]" are invalid. This usually indicates your app was not initialized correctly. Make sure the "credential" property provided to initializeApp() is authorized to access the specified "databaseURL" a

[2017-12-13 16:37] Vani-gurnani commented on #134
I am still facing this same issue running with latest of all libraries.

"firebase-admin": "^5.5.1",
    "firebase-functions": "^0.7.3"

[2017-12-13 16:46] Vani-gurnani opened #147 "FIREBASE WARNING: Provided authentication credentials for the app named "[DEFAULT]" are invalid. This usually indicates your app was not initialized correctly. Make sure the "credential" property provided to initializeApp() is authorized to access the specified "databaseURL" and is from the correct project."
### Version info

**firebase-functions:** 0.7.3

**firebase-tools:** 3.16.0

**firebase-admin:** 5.5.1

### Test case

var defaultApp = admin.initializeApp(functions.config().firebase);

### Steps to reproduce

[code]
### Were you able to successfully deploy your functions?

**NO**

[2017-12-13 23:24] Kar1Huang commented on #84
Same issue:

firebase-tools@3.16.0
firebase-admin@5.4.3
firebase-functions@0.7.3
node@8.*

run `firebase serve --only functions`

output:
[code]

while if i switch to node@6.*
[code]

[2017-12-15 03:26] gino-m commented on #113
I was also seeing errors about version v6.11.x when I was using v6.11.1. Switching to 6.11.5 resolved this for me, and I was able to see parse errors as expected.

[2017-12-15 03:50] laurenzlong commented on #84
@Kar1Huang Can you file that as an issue on https://github.com/GoogleCloudPlatform/cloud-functions-emulator?

[2017-12-15 04:13] laurenzlong commented on #99
@Vani-gurnani What features of firebase-admin are you trying to access? Currently admin.auth doesn't work.

[2017-12-15 05:30] Kar1Huang commented on #84
@laurenzlong sure created https://github.com/GoogleCloudPlatform/cloud-functions-emulator/issues/173

[2017-12-15 05:37] laurenzlong commented on #147
Hi @Vani-gurnani could you follow Thomas' instructions in https://github.com/firebase/firebase-functions/issues/134#issuecomment-350377545 to file a support ticket so we can dig into your specific project more?

[2017-12-15 09:59] Mika83AC commented on #132
I'm experiencing this issue right now, but not while deploying the function to Firebase, but when it get's triggered/executed.

[2017-12-15 10:08] Mika83AC opened #148 "Error: Cannot find module 'firebase-functions'"
The issue #132 seems to be relevant again.

I'm experiencing this issue right now, but not while deploying the function to Firebase, but when it get's triggered/executed.

'firebase-functions' is present as dependency in the package.json, so this can't be the source of the issue. And as said, the deploy via "firebase deploy" also gives me no error. Just the execution.

[2017-12-16 20:25] ubaidazad commented on #83
still getting the same error in latest firebase-tools

[code]

[2017-12-17 12:00] goelmk commented on #84
It worked with following:

`npm install -g firebase-tools
nvm install 8.6.0`

[2017-12-17 22:26] Kar1Huang commented on #84
doenst work for me :(
[code]

[2017-12-18 07:48] goelmk commented on #84
Are you using nvm? If so, use the following:

`nvm install 6.11.5`

and then give it a try. Hope that helps!

[2017-12-19 01:08] trentjones21 commented on #83
@ubaidazad I came here looking for a solution to the same problem.  Updating to node v6.11.5 fixed it for me. Might be worth a shot.

[2017-12-19 02:57] laurenzlong commented on #148
Hey @Mika83AC this was a production issue which should have been fixed by now. If anyone experience something similar in the future (where the error is during execution, not deployment), please open a support ticket at https://firebase.google.com/support/contact/bugs-features/ so it can be triaged properly.

[2017-12-19 02:57] #148 closed

[2017-12-19 02:57] laurenzlong commented on #132
If anyone experiences something similar in the future (where the error is during execution, not deployment), please open a support ticket at https://firebase.google.com/support/contact/bugs-features/ so it can be triaged properly.

[2017-12-19 03:23] laurenzlong commented on #146
Doc has been fixed. See https://firebase.google.com/docs/reference/functions/functions.firestore.DeltaDocumentSnapshot#data

[2017-12-19 03:23] #146 closed

[2017-12-19 09:45] jofftiquez commented on #35
Dec 19, 2017 we are still experiencing this.

[2017-12-19 13:49] jdwi opened #149 "Cannot decode type from Firestore Value"
The Firestore hooks no longer work in my firebase project. When I try to retrieve data from the event using [`DeltaDocumentSnapshot.data()`](https://firebase.google.com/docs/reference/functions/functions.firestore.DeltaDocumentSnapshot#data), I receive the following error message in the function logs:

[code]

### Version info

**firebase-functions:** 0.7.4

**firebase-tools:** 3.16.0

**firebase-

[2017-12-19 14:46] puf commented on #149
Similar problem: https://stackoverflow.com/questions/47886043/cannot-decode-type-from-firestore-value

[2017-12-19 16:01] Duanthse03268 commented on #149
i'm in similar problem too

[2017-12-19 17:05] rubenCortes commented on #149
I also have that problem.

[2017-12-19 18:00] mikekaranja commented on #149
I am having the same issue with firestore and cloud functions it was working perfectly yesterday.

[2017-12-19 18:06] maddada commented on #149
Same problem, didn't change the code and it's giving me this error over and over. Wasted so much time trying to debug this.

[2017-12-19 18:09] rubenCortes commented on #149
me too, I've been trying to fix it for several hours

[2017-12-19 18:41] justinrosenthal commented on #35
As mentioned previously, it's expected for there to be some variability in function start time that's dependent on a number of factors (particularly while Google Cloud Functions is in beta).

However, if you're observing latencies that are unacceptably high or you feel the product is misbehaving, please [file a support ticket](https://firebase.google.com/support/contact/troubleshooting/) so it can

[2017-12-19 19:31] justinrosenthal commented on #149
Hi all, could you try pinning your `firebase-functions` version to `0.7.3` (the previous release) and redeploy your functions to see if that resolves the issue?

[2017-12-19 20:37] justinrosenthal commented on #149
To help us debug, could anyone who is experiencing this error please post the contents of your `package.json`?

[2017-12-20 01:23] CodingDoug commented on #149
This is supposed to be fixed with SDK version 0.7.5.

[2017-12-20 01:25] justinrosenthal commented on #149
Yep, the just-released version `0.7.5` of `firebase-functions` should resolve this error.  Please update to the latest version and redeploy your functions to get the fix.

[2017-12-20 05:30] rubenCortes commented on #149
It works, thanks.

[2017-12-20 08:20] sekitaka-RBS commented on #84
Using with `6.11.5` , It works.

[2017-12-22 21:15] vongohren opened #154 "Papertrail doesnt connect on firebase functions."
### Version info

**firebase-functions:**
6.11

**firebase-tools:**
3.14

### Test case

Use winston papertrail lib and try to log to papertrail on a host they provide you with
I tried the normal URL, works fine in emulator and locally
Host: logsX.papertrailapp.com
Port: 40XXX

Aswell as with IP directly but then I got a different error.

### Steps to reproduce

Just try to run the code, and it wo

[2017-12-22 22:24] justinrosenthal commented on #154
Have you enabled billing on your Firebase project?  The free Spark plan does not allow making external network requests from within your functions, so this could explain the behavior you're seeing.  Note that if you upgrade to the Blaze plan (pay as you go), you're still eligible for a free tier of resources, as explained [here](https://firebase.google.com/pricing/):

[2017-12-22 23:14] vongohren commented on #154
@justinrosenthal aahhh thanks! I remember that now, but guess I forgot in the heat of the moment! It just didnt make sense at all :P Thanks for the catch!

[2017-12-22 23:14] #154 closed

[2017-12-24 15:01] gmeans opened #157 "Firestore requires GCLOUD_PROJECT environment variable to be set for unit tests"
While attempting to set up a testing configuration similar to the [Official Docs](https://firebase.google.com/docs/functions/unit-testing#review_complete_sample_test_code) I ran into an issue with my firestore cloud functions.

**Please note:** I don't actually have any tests for the firestore cloud functions. I was just running the hello world test and working on wiring everything up.

Briefly, I

[2017-12-26 05:32] alexdabast commented on #84
@Kar1Huang
When you switch from one version of node to on other one you need to re-install firebase-tools
that's why you don't have the correct folder

[2017-12-26 14:15] ankush2394 opened #158 "While npm install firebase its unable to download grpc module and i have tried it independently also"
### Version info

**firebase-functions:**

**firebase-tools:**

**firebase-admin:**

### Test case

### Steps to reproduce

### Were you able to successfully deploy your functions?

### Expected behavior

### Actual behavior

[2017-12-26 15:19] Liron-K commented on #35
@justinrosenthal is there a way to add some logging information about the actual runtime of the functions?

I'm going through my logs to see if there are any particular functions that need to be optimized, but it's hard to tell when the reported runtime is mostly due to the startup time.

Is there also something that can be done to keep functions "warm" so there isn't a cold startup time?

[2017-12-26 16:16] voxelbusters opened #159 "How to create API Documentation?"
Is it possible to create Swagger/OpenAPI documentation for the Firebase Cloud Functions?

[2017-12-26 19:14] asifm commented on #158
You have not provided any detail. When you open an issue, you must follow the guideline.

[2017-12-27 05:48] ankush2394 commented on #158
Steps to produce - 1. npm install firebase
Only one step process.
Node version tried- 8.9.3 and 6.3 versions
Npm version tried - 5.4 and 3.2
Also tried deleting node_packages and then npm install.
Also tried including firebase in package.json and then npm install.
Also tried same process with yarn and bower.
Error is its unable to download grpc module@1.8 .
Also tried downloading grpc independentl

[2017-12-27 05:58] ankush2394 commented on #130
I have tried npm versions 5.4 and 3.2 and node versions 8.9.2 and 6.9 and the problem is the same .
"Cant find grpc module ".
Tried every possible written solutions.
None worked for me as well.

[2017-12-27 09:10] asifm commented on #158
Current Node version running Cloud Functions is 6.11.5. Could you try with this version?

[2017-12-27 09:40] ankush2394 commented on #158
![image](https://user-images.githubusercontent.com/11161508/34377640-ed53e3f8-eb17-11e7-8cac-50749ae1df4d.png)
![image](https://user-images.githubusercontent.com/11161508/34377662-fcc72a52-eb17-11e7-930e-4817e008a5cc.png)

[2017-12-27 09:40] ankush2394 commented on #158
Not working again.

[2017-12-27 10:17] asifm commented on #158
I was also having the same problem, but it went away when I used Node 6.11.5. My npm is 5.5.1 (latest version). You could try after updating your npm. If that doesn't solve it, I hope someone else will be able to help.

[2017-12-27 10:31] ankush2394 commented on #158
So I already tried out with the version of npm you have mentioned but that doesnot solve it.
Anyways, thanks for the concern.

[2017-12-27 20:03] laurenzlong commented on #158
@ankush2394 from your screenshots, you were actually installing "firebase", not "firebase-functions", please file your issue in https://github.com/firebase/firebase-js-sdk/issues

[2017-12-27 20:03] #158 closed

[2017-12-27 20:12] laurenzlong commented on #159
Could you be more specific about what you mean? Do you mean that you'd like to create documentation for REST APIs that you create by writing HTTPS functions?

[2017-12-28 09:07] Dipen-Dedania commented on #68
@laurenzlong How about now?

[2017-12-28 19:04] laurenzlong commented on #68
Thanks for following up. Not yet. This is something that I know the core Google Cloud Functions team is working on, and here are some ways to get in touch with them: https://cloud.google.com/functions/docs/support

[2017-12-28 23:59] stianlp commented on #134
Same issue here. Only when running the shell locally. It works when functions are deployed.

[2017-12-29 06:11] jasongornall commented on #84
`npm uninstall -g firebase-tools`
`npm install -g firebase-tools`
`nvm use 6.11.5`
Finally resolved it for me

[2017-12-29 06:28] jasongornall commented on #134
same issue

[2017-12-30 02:22] voxelbusters commented on #159
Yea. Sorry for not being clear.
Is it possible to create API spec for the http endpoints I wrote as
functions? If so how can i do it?

On Dec 28, 2017 1:42 AM, "Lauren Long" <notifications@github.com> wrote:

[2017-12-30 18:11] reddy-v commented on #147
I am also getting the same error using firebase-admin and serviceAccount. How can i fix this?

[2017-12-31 07:03] nateshmbhat commented on #131
It gives me this error :-
[code]

In the index.js file this is the line at which error occurs :-
`
var serviceAccount = require("C:/Users/Natesh/Documents/Attention Please-42b163f729f1(admin Server key).json");`

I have included the service account key from a JSON file in my local File System . So how do I include this file while deploying ?

[2018-01-01 23:56] inlined commented on #35
We're working on adding some tracing that will help you figure out what is causing so much latency. The cold-start is a part of life with auto-scaling services, though 15s is very abnormal, esp for JavaScript.

Also, out of random curiosity, it sounds like you saying that the _logs_ appear 15s after the database write? It would be helpful to distinguish between logging delays and cold start latenc

[2018-01-02 23:14] Kar1Huang commented on #84
thanks guys, but still doesnt work for me
[code]

[2018-01-03 07:38] goelmk opened #160 "⚠ functions[functionName]: Deployment error. Failure in the execution environment"
### Version info

**firebase-functions:** 0.7.5

**firebase-tools:** 3.16.0

**firebase-admin:** 5.6.0

### Test case

firebase deploy --only functions:<functionName>

### Steps to reproduce

Run `firebase deploy` or `firebase deploy --only functions:<functionName>`

### Were you able to successfully deploy your functions?

Yes, all except one causing the issue. Earlier there were 5-6 functions wh

[2018-01-03 07:39] goelmk commented on #160
@laurenzlong can you please help with this?

[2018-01-03 14:26] jenkinshouse commented on #147
I'm getting the same error and need help. I've filed a support ticket.

[2018-01-04 01:30] laurenzlong commented on #160
This looks like a production issue, can you file a support ticket at firebase.google.com/support

[2018-01-04 01:30] #160 closed

[2018-01-04 01:40] laurenzlong commented on #131
You should put this in the functions folder, and use a relative path such as:
[code]

[2018-01-04 01:48] laurenzlong commented on #134
@stianlp This issue is about production, if you're seeing this in the shell, can you file another issue, and make sure to include your code that uses firebase-admin, so I can see what service might be causing that error?

[2018-01-04 03:11] tsemerad commented on #157
I ran into this as well. I would love to see official documentation showing how to unit test firestore cloud functions.

[2018-01-04 06:56] Liron-K commented on #35
So there are two issues that I was noticing:
1) Each function has an id, but if the same function is called multiple times, there's no way from the logs to know which is which. It would be good if the id was printed with each log line.
2) The time between the call to "function start executing" and the first log was high, but more importantly, the timestamp on "function completed executing" was inc

[2018-01-04 11:23] Druux opened #161 "Slow execution of (simple) functions"
### Version info

**firebase-functions:** 0.8.0

**firebase-tools:** 3.16.0

**firebase-admin:** Currently not in use.

### Test case

I have just created a simple cloud function:
[code]

### Steps to reproduce

Just create the function - deploy - test.
You can even test my function via the url: https://us-central1-fnx-pbox.cloudfunctions.net/sayHelloToUser

### Were you able to successfully deplo

[2018-01-04 12:25] merlinnot commented on #161
From: https://cloud.google.com/functions/docs/bestpractices/tips

You can find some context in https://github.com/firebase/firebase-functions/issues/35

[2018-01-04 12:51] merlinnot commented on #35
@Liron-K here you go:

![execution](https://user-images.githubusercontent.com/10390061/34564237-2e707f92-f156-11e7-9a5e-cb5e8be4e571.gif)

[2018-01-04 14:27] Liron-K commented on #35
Not what I mean :) I know you can get it from there.

I mean if I do an export of the logs to look at all the data on my
computer, then there's no indication about which function call each log
came from, and when it says "Function execution took __ms" that's from the
start of the function launch and not from when my code started running.

On Thu, Jan 4, 2018 at 2:51 PM Natan Sągol <notifications@g

[2018-01-05 01:13] laurenzlong commented on #157
Thanks for filing, I will get the documentation fixed.

[2018-01-05 01:26] flado commented on #84
why this issue has been closed?  I reckon issue is still valid for many devs:

[code]

[2018-01-05 03:00] flado commented on #84
@ https://github.com/GoogleCloudPlatform/cloud-functions-emulator/issues/173

[2018-01-05 08:19] merlinnot commented on #157
That's really nice of you. May I kindly ask if you have any information regarding local testing of Firestore? There's a nice solution for a Realtime Database, but testing Firestore is unfortunately much less pleasant.

[2018-01-05 22:35] laurenzlong commented on #84
@Kar1Huang @flado It's unclear that you're facing the same issue as the original issue here. Could you please ensure that you have the latest firebase-tools by running `npm install -g firebase-tools`. And file any new issues to the[ firebase-tools](https://github.com/firebase/firebase-tools/issues) repo instead of this one, and follow the issues template completely so all the debug logs are captur

[2018-01-06 13:00] stefan-matcovici commented on #130
I am using npm 5.5.1 and had problems with grpc at deploying. I installeed firebase-admin@~5.5.0 and everything seems to work normally now.

[2018-01-07 03:17] ankush2394 commented on #130
Will have to try it out as now i am working on mac os sierra.

[2018-01-11 12:57] dauledk commented on #135
I just tested this approach and it worked great. To keep things organized, I ended up adding the following to package.json to keep things organized. Maybe it can help others :)

[code]

[2018-01-12 05:24] mspado commented on #3
I don't think the issue should be closed. It's not fixed and is still breaking things.

It quietly broke a batch process when we switched to ```admin.initializeApp(functions.config().firebase);``` instead of a manual toggle.

[2018-01-12 08:02] lpellegr opened #163 "Firebase-admin peer dependency not up to date"
Why is the `firebase-admin` peer dependency required by `firebase-functions` always far away from the latest release? I am not here to complain. My wish is to understand the situation. For instance, `firebase-functions` 0.8.0 needs `firebase-admin` 5.6.0 but the latest version is 5.8.0. This last version including interesting changes in my case.

[2018-01-12 08:39] dauledk commented on #121
I got this error when running the shell, but was resolved by deleting the file.

[2018-01-12 11:50] suredoctorofficial opened #164 "Unable to write user record to firestore"
**If i use user.json in on-user-created trigger it gives following error**

Error: Argument "data" is not a valid Document. Input is not a plain JavaScript object.     at Object.exports.(anonymous function) [as isDocument] (/user_code/node_modules/firebase-admin/node_modules/@google-cloud/firestore/src/validate.js:86:15)     at WriteBatch.set (/user_code/node_modules/firebase-admin/node_modules/@g

[2018-01-12 14:38] GreyHat147 commented on #83
The node v6.11.5 works for me!

[2018-01-13 02:16] Arkfille commented on #84
I updated my node version to 8.4.0 and it worked fine, despite cloud functions not "supporting" 8.4.0

[2018-01-14 01:59] dallen4 commented on #19
Not sure if this will help, but I was having the same issue and found [this](https://stackoverflow.com/questions/48060153/firebase-deployment-error-failure-in-the-execution-environment?rq=1) on Stack Overflow. Changing the node/npm version you install `firebase-tools` with seemed to fixed for me.

[2018-01-19 15:52] deremer opened #167 "If specifying "instance" on RTDB trigger and path has leading '/' then two '/'s are created in Resource path"
When creating an RTDB trigger for a cloud function using in `database.instance('some_instance')`, the resource path appears to get an extra slash in the path if the string you feed to `.ref()` includes a leading slash.

If the ref string has a leading slash when not specifying an instance, there is no second slash.

I believe the library needs to call `normalizePath` somewhere in here: https://git

[2018-01-19 17:19] alkaest2002 opened #169 "Cloud Functions - Firestore query StartAfter not accepting snapshot"
### Version info

**firebase-functions:**  0.7.1

**firebase-tools:** 3.17.1

**firebase-admin:** 5.4.2

### Test case

Perform a batch update of Firestore documents. Use limit and startAfter to loop through data in chunks of 500 docs.

### Steps to reproduce

[code]

### Were you able to successfully deploy your functions?

 I was able to deploy my function

### Expected behavior

perform a query

[2018-01-19 18:00] laurenzlong commented on #169
Closing since you're not using the latest SDK, which also depends on firebase-admin 5.8.1. Please open another issue if you still experience this after updating.

[2018-01-19 18:00] #169 closed

[2018-01-19 22:31] sahil311289 opened #170 "Cannot decode type from Firestore Value: {"stringValue":""}"
I just updated the cloud functions to 0.8.1 and my code stopped running. There is another case listed under the same issue but was fixed in December 2017.

firebase-functions: 0.8.1
firebase-admin: 5.4.2

All (3) of my cloud functions have stopped working without any code change in 2 of them.

Console log:
Error: Cannot decode type from Firestore Value: {"stringValue":""}     at DocumentSnapshot._

[2018-01-19 22:40] laurenzlong commented on #170
firebase-functions 0.8.1 actually requires firebase-admin 5.8.1, could you try updating your package.json and then running "npm install"?

[2018-01-19 22:51] sahil311289 commented on #170
Thank you so much!
This was a life saver.

[2018-01-19 22:51] laurenzlong commented on #170
No problem!

[2018-01-19 22:51] #170 closed

[2018-01-20 14:41] tbone849 opened #171 "HTTP Trigger sometimes returns 'The default Firebase app already exists'"
### Version info

**firebase-functions: 0.7.5**

**firebase-tools: 3.16.0**

**firebase-admin: 5.5.0**

### Test case
Disclaimer: I have a unique issue where I need to initialize the app for each request. Each client will have their own firebase app and therefore their own credentials to manage their own Admin SDK. That is why the admin.initializeApp is inside the /addUser block. I suspect this co

[2018-01-22 14:48] andoshin11 commented on #149
It's happening again on `v0.8.1`

[2018-01-22 18:26] laurenzlong commented on #149
@andoshin11 Can you check your package.json to see what firebase-admin version you have? It should be 5.8.1

[2018-01-22 18:39] laurenzlong commented on #163
Thanks for your question! We try to keep the dependency as up to date as possible, but some times we do not do the update right away, since code changes are some times involved and we extensively test  to make sure that the new firebase-admin does not break firebase-functions in any way. You are right that we have been slow to update lately, and we need to do a better job. v0.8.1 firebase-function

[2018-01-22 18:39] #163 closed

[2018-01-23 01:16] tbone849 commented on #171
Solved!

For future reference if anybody else needs this.

First I created a function to get the desired app.
[code]

Then you can specify which app you are going to use when the route is called.

[code]

[2018-01-23 01:16] #171 closed

[2018-01-25 09:01] rtm opened #172 "Functions deployment fails when firebase-functions has been hoisted by a monorepo manager like yarn/workspaces or lerna"
I am using the workspaces (monorepo) feature of yarn. My `functions` directory is a subrepo. That subrepo lists `firebase-admin` and `firebase-functions` as dependencies, but when installing packages, yarn "hoists" them, so they come under `node_modules` at the top of the repo hierarchy:

[code]

The problem is, when I try to deploy the cloud functions, I get the message

[code]

What is apparentl

[2018-01-25 17:08] pratiknikam opened #173 "Certificate object must contain a string "private_key" property."
### Version info

**firebase-functions:** 0.8.1

**firebase-tools:** 3.17.3

**firebase-admin:** 5.8.1

### Test case

I've basic function which looks as follows

[code]

### Steps to reproduce

[code]

### Were you able to successfully deploy your functions?

Yes, deployment is working fine.

We have runtime config which I'm exporting to my local functions folder using `firebase functions:config:

[2018-01-25 17:26] laurenzlong commented on #173
@pratiknikam Can you clarify what you mean by "It has all "private_key" value (string) in it."? So do you have a config variable with the key "private_key"?

How are you initializing firebase-admin? Are you doing admin.initializeApp(functions.config().firebase) or something else?

[2018-01-25 17:27] laurenzlong commented on #172
Hi @rtm everything that functions code needs (including node_modules) must be in the functions sub-directory, since only that folder is uploaded when deploying functions. So your set up won't work unfortunately.

[2018-01-25 17:31] laurenzlong commented on #172
The gray code sample box in this section lists what the CLI expects your project structure to look like: https://firebase.google.com/docs/functions/get-started#build_the_sample_in_your_firebase_project

[2018-01-25 17:37] laurenzlong commented on #157
The documentation was updated a few weeks ago to include this: https://firebase.google.com/docs/functions/unit-testing.

@merlinnot I'm working on a separate library that will make unit testing easier for all the event types. Look out for it! :) Sign up at https://firebase.google.com/alpha if you want to new features before they come out.

[2018-01-25 17:37] #157 closed

[2018-01-25 17:38] laurenzlong commented on #164
@suredoctorofficial This was likely fixed in the latest release. Can you update both firebase-functions and firebase-admin to the latest version? And if you still see the issue, please file another issue and provide code sample

[2018-01-25 17:38] #164 closed

[2018-01-25 17:39] laurenzlong commented on #161
Thanks for stepping in @merlinnot !

[2018-01-25 17:39] #161 closed

[2018-01-25 17:43] laurenzlong commented on #147
For everyone else who sees this issue in the future. If you are seeing this in DEPLOYED functions, try:
1) deleting all your functions
2) disable cloud functions API at console.cloud.google.com/apis/api/cloudfunctions.googleapis.com
3) re-enable API
4) re-deploy function

Sorry for this hacky workaround. We are pushing out a server-side fix in the next few weeks, so this won't occur any longer, bu

[2018-01-25 17:46] pratiknikam commented on #173
@laurenzlong Yes, I have a `.runtimeconfig.json` which has variable with the key "private_key".

[code]

admin.initializeApp(fbConfig);

`.runtimeconfig.json` looks as follows

[code]

[2018-01-25 18:00] merlinnot commented on #157
@laurenzlong Thank you for the link, I've participated in many of Google's alphas so I hope to get access to this one too :) Does your work cover just invoking these functions or also calls to the methods of `firebase-admin` (especially Firestore)?

[2018-01-25 18:14] laurenzlong commented on #173
I see, this is a CLI bug which was fixed in master branch, and will be released in a few days. You can use it right away by running:

[code]

[2018-01-25 18:14] #173 closed

[2018-01-25 18:23] jenkinshouse commented on #147
@laurenzlong - I just tried your suggestion but I'm still getting the same warning message throughout my logs. I've been working on this for weeks and have a support ticket open but still no resolution.

[2018-01-26 00:30] laurenzlong commented on #173
It was actually just released, so you can update to v3.17.4 of firebase-tools by running:

npm install -g firebase-tools

[2018-01-26 00:44] laurenzlong commented on #157
Awesome! Initially it'll just be for invoking these function, but it may grow to cover other scenarios in the future.

[2018-01-26 03:46] pratiknikam opened #174 "How firebase config get's pulled?"
### Version info

**firebase-functions:** 0.8.1

**firebase-tools:** 3.17.3

**firebase-admin:** 5.8.1

### Were you able to successfully deploy your functions?

Yes.

### Question

I have two firebase projects. (Project1 and Project2)

I'm using **Service Account** info from Project1 into Project2 as I need access to Auth data which resides in Project1. Remote config for Project2 looks as follows

[2018-01-26 03:55] rtm commented on #172
@laurenzlong Many thanks for your response. I've had functions deploying and working just fine for some time now, so I know how to do it. The issue is getting it to work with my mono-repo setup. I don't think it's such a terribly unique use case; many people are starting to use mono-repos, especially with the new yarn "workspaces" feature. It's natural to want to structure my Firebase functions as

[2018-01-26 17:06] lewisjamesblack opened #175 "Getting Error 'Failed to retrieve function source code'"
I get the error: "Failed to retrieve function source code" when I try and deploy a function.

![firebasebug](https://user-images.githubusercontent.com/17566103/35451455-9980b9ea-02c3-11e8-88da-5016f7ca5a7e.png)

This is all from the command line. I am using node 6.11.5 (but in the firebase-admin package.json file in the nodes folder it is says node 6.9.1 is used to download that). I am using fireb

[2018-01-26 17:53] pratiknikam commented on #175
Even I had kind of similar issue where it was failing to deploy.

`Error: Functions did not deploy properly.`.

But when I did git clone in new directory and tried to deploy from there, it worked.

[2018-01-26 19:17] lewisjamesblack commented on #175
Hey Pratik, cheers for your answer. I have been downloading the firebase tools by doing the command 'npm install -g firebase-tools'. I'm not sure how cloning this directory would help me?

[2018-01-26 22:59] laurenzlong commented on #172
Hey @rtm, if you want to customize the behavior of deployment, here are a couple of options.

- modify the source code folder for functions in firebase.json
[code]
- my-repo/package.json then because the package.json for your functions, you can modify it to point to another main file

[code]

`.runtimeconfig.json` is created by the CLI during deployment, so you are not expected to create it yourse

[2018-01-26 23:03] laurenzlong commented on #174
@pratiknikam Thanks for your questions!

functions.config().firebase is injected during the deployment process, and which project it pulls info from depends on your "active" project, and is not affected by the service account that you put into RuntimeConfig. You set active project with the "firebase use" command.

[2018-01-26 23:03] #174 closed

[2018-01-26 23:05] laurenzlong commented on #147
@jenkinshouse what's your support ticket ID?

[2018-01-26 23:26] #167 closed

[2018-01-26 23:32] laurenzlong commented on #3
Please file in https://github.com/firebase/firebase-admin-node if you would like to see createCustomToken() supported with default credentials.

[2018-01-27 03:42] rtm commented on #172
@laurenzlong Thanks again for your pointers. Yes, I know how to use the `functions` property in `firebase.json`, and the `main` property in `package.json`, and in fact am already using both of those. Neither helps with the basic problem that if some monorepo manager (be it yarn/workspaces, or lerna) has hoisted packages from `my-repo` to one level higher, the deploy fails.

As I said, there may be

[2018-01-27 09:53] feildmaster opened #176 "Functions and "onDisconnect", best practices?"
So I seem to be having a unique issue that no one really expects to run into in cloud functions. reference.onDisconnect has a very sporadic handling in cloud functions, it either works when an error is thrown, or doesn't work until the process decides to randomly exit (maybe?). I don't know. I haven't waited around long enough to find out when it would finally trigger the disconnect.

I suppose I

[2018-01-27 19:12] DominicTobias opened #177 "Default exports don't work"
Hi,

When exporting a default from a local module e.g.

[code]

And then importing it in index.js:

[code]

Gives a Type error 'blah' is not a function in the firebase logs when trying to use it in a hook. Changing the export to `exports.blah = function..` and importing that as a non-default function works. This was a pretty perplexing issue as I'd have expected exports to work in the same way as

[2018-01-27 22:34] griga commented on #83
works with node v8.9.4
after
 npm install -g @google-cloud/functions-emulator

[2018-01-28 10:53] DePalmo commented on #159
I too tried using Swagger but they are not following OpenAPI 3.0 specs, so I found a better solution: https://www.getpostman.com/

[2018-01-29 08:54] voxelbusters commented on #159
@DePalmo  May I know your workflow for creating specification?

[2018-01-29 08:57] DePalmo commented on #159
I manually added route by route and attached their actual responses where possible (Postman can call your API and you can use an actual response from it), otherwise I created a sample response manually.

[2018-01-29 18:45] laurenzlong commented on #176
firebase-talk Google group is a better place to ask questions like this: https://groups.google.com/forum/#!forum/firebase-talk

[2018-01-29 18:45] #176 closed

[2018-01-29 18:46] laurenzlong commented on #177
The issue isn't with the local module, it's with index.js. Index.js always needs to export all of the functions. So your example will work if you changed index.js to
[code]

[2018-01-29 18:46] #177 closed

[2018-01-29 18:48] laurenzlong commented on #175
@lewisjamesblack This seems to be a project specific issue, can you file a support ticket so we can look into it? https://firebase.google.com/support/

[2018-01-29 18:48] #175 closed

[2018-01-29 18:51] laurenzlong commented on #143
Sorry for the late response @Lacka90, since this is pretty nuanced issue about usage, can you post on StackOverflow or use another one of our [support channel](https://firebase.google.com/support)s intead? This Github repo is for filing specific issues with the SDK.

[2018-01-29 18:51] #143 closed

[2018-01-29 18:51] #159 closed

[2018-01-29 18:54] laurenzlong commented on #130
This is the repo for grpc node: https://github.com/grpc/grpc-node. Please file specific installation issues there.

In my experience, grpc installation issues can usually be resolved by a combination of updating npm and reinstalling, but the grpc team may be able to offer more specific advice.

[2018-01-29 19:00] laurenzlong commented on #172
Thanks for the  thorough response. Can you tell me what else is in your my-repo? And are there parts of your firebase project that are outside of my-repo?

[2018-01-29 22:47] lewisjamesblack commented on #175
Hey Lauren, I made a support ticket on Friday but it hasn't been resolved yet. I'm unable to send my users notifications on the app which is quite a pressing issue so i'm looking for any help I can get. Thanks allot

[2018-01-30 00:38] ohabash commented on #84
nothing helps... `node v6.11.5 (npm v5.6.0)`

this is the last lines of `firebase-debug.log`
[code]

[2018-01-30 14:04] rtm commented on #172
@laurenzlong Yes, I have a mono-repo, where the sub-repos include one for a Cordova app and one for a desktop/browser webapp (which we call the "console"), as well as one that provides shared Angular components, one that provides standard data types and utilities for standard objects used in the app and console, and then one with some basic JS utilities. And then finally I have the sub-repo that c

[2018-01-30 18:15] moneal commented on #35
@Liron-K I've submitted a feature request to update the logs to be something like this. Maybe you could make a similar request also.

![color-logs](https://user-images.githubusercontent.com/46388/35583336-754d4328-05a6-11e8-9cf8-ad5448963752.png)

[2018-01-30 18:23] jofftiquez commented on #35
@Liron-K I like it.

[2018-01-31 10:26] ifiokjr commented on #172
This is an issue I'm currently facing.

Would this be a feature request that can easily be added via a PR, or are there deeper changes that would need to be made? If a PR is feasible then I wouldn't mind making an addition if pointed in the right direction.

[2018-01-31 12:40] Liron-K commented on #35
Interesting. It would also be helpful to have the function id in the
command line logs that you can request from the cli
On Tue, Jan 30, 2018 at 8:23 PM Jofferson Ramirez Tiquez <
notifications@github.com> wrote:

[2018-01-31 18:47] laurenzlong commented on #172
This would require a change in firebase-tools, and it is not straightforward and in many ways changes the fundamental model that firebase deployment works (not just for functions, but for other features like hosting, database rules) I created https://github.com/firebase/firebase-tools/issues/653 to capture the feature request, please keep future discussions there. Closing this issue, since it is n

[2018-01-31 18:47] #172 closed

[2018-01-31 18:51] laurenzlong commented on #130
We are capturing all grpc installation issues experienced in Firebase CLI in https://github.com/grpc/grpc-node/issues/121

[2018-01-31 18:51] #130 closed

[2018-01-31 19:04] kylehotchkiss commented on #121
I'm encountering this error on Firebase Functions on Google's side. I can't figure it out 😭. I tried deleting and repushing function but no luck.

[2018-01-31 19:34] raDiesle commented on #121
same here. First time I encounter error today

[2018-01-31 19:40] sionfletcher commented on #121
@kylehotchkiss @raDiesle getting the same thing here, cloud functions no longer work

Auth error:Error: Could not refresh access token.

awa | Error: 16 UNAUTHENTICATED: Getting metadata from plugin failed with error: Could not refresh access token.     at createStatusError (/user_code/node_modules/firebase-admin/node_modules/grpc/src/client.js:65:15)     at ClientReadableStream._emitStatusIfDone

[2018-01-31 19:42] kylehotchkiss commented on #121
@raDiesle @sionfletcher i mailed firebase's technical support, hopefully that will get their attention

[2018-01-31 19:55] kylehotchkiss commented on #121
@laurenzlong Hi Lauren, Any chance you could flag this on Google's end?

Additionally, SO users filing: https://stackoverflow.com/questions/48550151/after-deploy-cloud-functions-error-could-not-refresh-access-token

[2018-01-31 20:11] rtm commented on #172
@laurenzlong Appreciate you taking care of this.

It had already occurred to me that this was a cli issue. Thanks for moving it over there.

I'll defer to your superior knowledge, but I can't see why there would be implications for non-function deployment.

[2018-01-31 20:12] Mph1399 commented on #121
@kylehotchkiss -I'm getting the same issue after a deploy today. The same code was working last night. I don't have an application_default_credentials.json file to remove as suggested above so I'm not sure what else to do but maybe wait for a fix from Firebase?

[2018-01-31 20:13] kylehotchkiss commented on #121
Might be good to add those to Firebase's bug form: https://firebase.google.com/support/contact/bugs-features/

[2018-01-31 20:26] raDiesle commented on #121
I sent quick Firebase bug form with category: cloud functions

[2018-01-31 21:26] moneal commented on #121
I've had a support request in four a couple hours and no reply yet or official word in Slack yet.

[2018-01-31 21:38] Mph1399 commented on #121
I just got a Firebase ticket response saying:
"Hi there,

Thanks for reaching out. We're currently investigating the issue with refreshing Authentication token. We'll get back to you as soon as we have more information to share."

[2018-01-31 22:02] moneal commented on #121
Issue is not being tracked on the status page https://status.firebase.google.com/incident/Functions/18011

[2018-02-01 02:56] rjhuijsman commented on #121
Thanks everyone for the reports, both here and especially also via our tech support channels - these really help.

We believe the issue to have been caused by a problem deep in our Node.js dependency chain, in particular for users of Firestore. We've just released https://www.npmjs.com/package/google-gax 0.14.5 to address the issue. Please:
- Either wait for the npm caches to pick up the new versi

[2018-02-01 08:48] sionfletcher commented on #121
Thanks, @rjhuijsman, works for me

[2018-02-01 15:36] FrozenPandaz commented on #121
I still seem to be having issues, i have installed google-gax@0.14.5 but i still get that error when running `firebase serve`

[2018-02-01 17:01] pcnate commented on #121
I randomly find the same issue on Ubuntu@17.10 with firebase@3.17.3
Removing the ```~/.config/gloud/application_default_credentials.json``` temporarily resolves the issue

[2018-02-01 18:08] m0ngr31 commented on #121
Seems to solve the issue @rjhuijsman. Thanks.

[2018-02-01 19:10] pdmshrestha opened #178 ""credential" property has insufficient permission"
Hi,

If I initialise the admin app with following line. It works perfectly on firebase cloud but not locally.

```admin.initializeApp(functions.config().firebase);```

I get following error when I try to serve functions locally.
[code]

But I do not have any problem when initialising the app with following code.
[code]

[2018-02-02 00:30] laurenzlong commented on #178
Local emulation only supports database and Firestore at the moment. If you're trying to access something else and it doesn't work, please file issue in https://github.com/firebase/firebase-tools/issues

[2018-02-02 00:30] #178 closed

[2018-02-03 08:52] nigel-dewar opened #179 "console.log doesnt work in express ap"
This doesnt seem to work

![image](https://user-images.githubusercontent.com/9402456/35765610-5ba0d730-0913-11e8-9a53-156d171e2281.png)

I can hit the timestamp endpoint and this work fine, but in the console. Nothing but some useless Rewriting info!!!

![image](https://user-images.githubusercontent.com/9402456/35765608-4daa845a-0913-11e8-83f7-6d68e44b9d81.png)

How come I cant use console.log???

[2018-02-03 11:36] nigel-dewar commented on #179
Oop my bad I solved it

[2018-02-03 11:36] #179 closed

[2018-02-05 17:23] k0ff33 opened #180 "Firestore trigger: event.data.data() throws error when parsing GeoPoint(0, 0)"
### Version info

**firebase-functions:** 0.8.1

**firebase-tools:** 3.17.4

**firebase-admin:** 5.8.2

### Steps to reproduce

1. Subscribe firebase function to certain document in Cloud Firestore
2. Add an object with a GeoPoint with latitude of 0 and longitude of 0 using: `new firebase.firestore.GeoPoint(0, 0)` (web SDK)
3. Try to parse event's data using `event.data.data()`
4. Watch the error